section.company
	.container
		.title наши принципы
	.company__accordion.js-accordion
		.company__toggle.js-toggle.open
			.container.company__toggle-inner
				.company__name
					.company__icon
						img(src='./img/svg/i-company-1.svg', alt="")
					span Надежность и функциональность
				.company__dots
					img(src='./img/svg/i-dots.svg', alt="")
		.company__content.js-content(style='display: block')
			.container
				.company__wrapper
					.company__col
						.h1 тщательный контроль
						.company__text Контроль всех производственных процессов, отбор лучших комплектующих, внимание к деталям
						+button('о компании', 'button--small button--outline-inverse company__button', '#')
					.company__col
						a.company__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
							img.company__preview(src='./img/picture/video.jpg', srcset='./img/picture/video@2x.jpg 2x', alt='')
							img.company__play(src='./img/svg/i-play-2.svg', alt="")
		.company__toggle.js-toggle
			.container.company__toggle-inner
				.company__name
					.company__icon
						img(src='./img/svg/i-company-2.svg', alt="")
					span Экономическая эффективность
				.company__dots
					img(src='./img/svg/i-dots.svg', alt="")
		.company__content.js-content
			.container
				.company__wrapper
					.company__col
						.h1 тщательный контроль
						.company__text Контроль всех производственных процессов, отбор лучших комплектующих, внимание к деталям
						+button('о компании', 'button--small button--outline-inverse company__button', '#')
					.company__col
						a.company__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
							img.company__preview(src='./img/picture/video.jpg', srcset='./img/picture/video@2x.jpg 2x', alt='')
							img.company__play(src='./img/svg/i-play-2.svg', alt="")
		.company__toggle.js-toggle
			.container.company__toggle-inner
				.company__name
					.company__icon
						img(src='./img/svg/i-company-3.svg', alt="")
					span Непрерывное совершенствование
				.company__dots
					img(src='./img/svg/i-dots.svg', alt="")
		.company__content.js-content
			.container
				.company__wrapper
					.company__col
						.h1 тщательный контроль
						.company__text Контроль всех производственных процессов, отбор лучших комплектующих, внимание к деталям
						+button('о компании', 'button--small button--outline-inverse company__button', '#')
					.company__col
						a.company__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
							img.company__preview(src='./img/picture/video.jpg', srcset='./img/picture/video@2x.jpg 2x', alt='')
							img.company__play(src='./img/svg/i-play-2.svg', alt="")
		.company__toggle.js-toggle
			.container.company__toggle-inner
				.company__name
					.company__icon
						img(src='./img/svg/i-company-1.svg', alt="")
					span Забота о клиентах
				.company__dots
					img(src='./img/svg/i-dots.svg', alt="")
		.company__content.js-content
			.container
				.company__wrapper
					.company__col
						.h1 Забота о клиентах
						.company__text Контроль всех производственных процессов, отбор лучших комплектующих, внимание к деталям
						+button('о компании', 'button--small button--outline-inverse company__button', '#')
					.company__col
						a.company__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
							img.company__preview(src='./img/picture/video.jpg', srcset='./img/picture/video@2x.jpg 2x', alt='')
							img.company__play(src='./img/svg/i-play-2.svg', alt="")
