section.home-stocks
	.container
		.h1.h1--uppercase.home-stocks__title Акции на полуприцепы BONUM
		.home-stocks__items
			.home-stocks__row
				a(href="").home-stocks__item
					figure
						.card-leasing.card-leasing--secured
							.card-leasing__paperclip
								img(src='./img/svg/paperclip.svg' alt='')
							.card-leasing__image
								img(src='./img/picture/leasing/6.png' srcset='./img/picture/leasing/1@2x.png 2x' alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from BONUM LIMITED EDITION
									span Ограниченная серия
								img(src='./img/svg/i-arrow-link-white.svg' alt="")

				a(href="").home-stocks__item
					figure
						.card-leasing
							.card-leasing__image
								img(src='./img/picture/leasing/6.png' srcset='./img/picture/leasing/6@2x.png 2x' alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from BONUM LIMITED EDITION
									span Ограниченная серия
								img(src='./img/svg/i-arrow-link.svg' alt="")

				a(href="").home-stocks__item
					figure
						.card-leasing
							.card-leasing__image
								img(src='./img/picture/leasing/6.png' srcset='./img/picture/leasing/6@2x.png 2x' alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from BONUM LIMITED EDITION
									span Ограниченная серия
								img(src='./img/svg/i-arrow-link.svg' alt="")

				a(href="").home-stocks__item
					figure
						.card-leasing
							.card-leasing__image
								img(src='./img/picture/leasing/6.png' srcset='./img/picture/leasing/6@2x.png 2x' alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from BONUM LIMITED EDITION
									span Ограниченная серия
								img(src='./img/svg/i-arrow-link.svg' alt="")

				a(href="").home-stocks__item
					figure
						.card-leasing
							.card-leasing__image
								img(src='./img/picture/leasing/6.png' srcset='./img/picture/leasing/6@2x.png 2x' alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from BONUM LIMITED EDITION
									span Ограниченная серия
								img(src='./img/svg/i-arrow-link.svg' alt="")

				a(href="").home-stocks__item
					figure
						.card-leasing
							.card-leasing__image
								img(src='./img/picture/leasing/6.png' srcset='./img/picture/leasing/6@2x.png 2x' alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from BONUM LIMITED EDITION
									span Ограниченная серия
								img(src='./img/svg/i-arrow-link.svg' alt="")
		.home-stocks__bottom
			.home-stocks__subtitle Еще не знаете, что выбрать, сомневаетесь? <br>бесплатно и быстро проконсультируем
			+button('Получить Консультацию', 'button--inverse home-stocks__button', '#js-main-modal-title-from-btn')