section.s-subscribe
	.container
		.s-subscribe__container
			.s-subscribe__content
				.h1.h1--uppercase.s-subscribe__title <span>Подписывайтесь</span> <br>На Наши Каналы 
				.h1.h1--uppercase.s-subscribe__text Мы сняли для вас более 65 обзоров прицепов и полуприцепной техники
				.s-subscribe__socials
			.s-subscribe__hand
			.s-subscribe__laptop

