section.s-subscribe
    .container
        .s-subscribe__container
            .s-subscribe__content
                .h1.h1--uppercase.s-subscribe__title <span>Подписывайтесь</span> <br>На Наши Каналы 
                .s-subscribe__text Мы сняли для вас более 65 обзоров прицепов и полуприцепной техники
                .s-subscribe__socials
                    a.s-subscribe__social(href="javascript:void(0);")
                        img(src="./img/svg/subscribe-vk.svg" alt="")
                    a.s-subscribe__social(href="javascript:void(0);")
                        img(src="./img/svg/subscribe-rutube.svg" alt="")
                    a.s-subscribe__social(href="javascript:void(0);")
                        img(src="./img/svg/subscribe-zen.svg" alt="")
                    a.s-subscribe__social(href="javascript:void(0);")
                        img(src="./img/svg/subscribe_tg.svg" alt="")

            .s-subscribe__img.s-subscribe__hand
                img(src="./img/picture/hand.png" alt="")
            .s-subscribe__img.s-subscribe__laptop
                img(src="./img/picture/laptop.png" alt="")