.get-catalog {
	padding-top: 11px;
	padding-bottom: 11px;
	background-color: #1F2120;
	border-bottom: 1px solid #3A3A3A;
	color: $white;

	&__grid {
		display: flex;
		align-items: center;
		gap: 60px;
		margin-left: -24.5px;
		margin-right: -24.5px;
	}

	&__title {
		flex: 0 0 auto;

		span {
			font-weight: 400;
		}
	}

	&__image {
		flex: 1 1 auto;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__btns {
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex: 0 0 290px;
	}

	&__note {
		display: flex;
		align-items: flex-start;
		gap: 11px;
		font-weight: 300;
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0.03em;
		color: #AAAAAA;

		svg {
			flex: 0 0 auto;
			width: 23px;
			height: 23px;
		}
	}
}