.get-catalog {
	padding-top: 0;
	padding-bottom: 11px;
	background-color: #1F2120;
	border-bottom: 1px solid #3A3A3A;
	color: $white;

	&__grid {
		display: flex;
		align-items: center;
		gap: 60px;
		margin-left: -24.5px;
		margin-right: -24.5px;

		@include max(xl2) {
			margin-left: 0;
			margin-right: 0;
		}

		@include max(lg) {
			gap: 32px 12px;
		}

		@include max(1200) {
			display: grid;
			grid-template-columns: minmax(auto, 450px) minmax(0, 1fr);
		}

		@include max(sm) {
			grid-template-columns: minmax(auto, 320px) minmax(0, 1fr);
		}

		@include max(xs) {
			grid-template-columns: minmax(0, 1fr);
			gap: 16px;
		}
	}

	&__title {
		flex: 0 0 auto;
		padding-top: 11px;

		span {
			font-weight: 400;
		}
	}

	&__image {
		flex: 1 1 auto;

		img {
			width: 100%;
			height: auto;
		}
	}

	&__btns {
		display: flex;
		flex-direction: column;
		gap: 10px;
		flex: 0 0 290px;
		padding-top: 11px;

		@include max(lg) {
			flex: 0 0 240px;
		}

		@include max(1200) {
			grid-column: 1 / 3;
			padding-top: 0;
		}

		@include max(xs) {
			grid-column: 1 / 2;

		}
	}

	&__note {
		display: flex;
		align-items: flex-start;
		gap: 11px;
		font-weight: 300;
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0.03em;
		color: #AAAAAA;

		svg {
			flex: 0 0 auto;
			width: 23px;
			height: 23px;
		}
	}
}