.hero {
	width: 100%;

	&__slider {
		position: relative;
	}

	&__slide,
	&__container {
		min-height: calc(100vh - 72px);

		@include max(sm) {
			min-height: 320px;
		}
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: 85px;
		height: 70%;
		position: relative;
		padding-top: 19vh;
		padding-bottom: 13vh;

		@include max(1600) {
			max-width: 1100px;
		}

		@include max(lg) {
			justify-content: flex-end;
			padding-top: 30px;
			padding-bottom: 118px;
		}

		@include max(md) {
			max-width: 560px;
		}

		@include max(sm) {
			justify-content: space-between;
			height: 100%;
			padding-top: 56px;
			padding-bottom: 40px;
		}
	}

	&__bg {
		position: absolute;
		inset: 0;

		img {
			@include cover-image();
		}
	}

	&__title {
		max-width: 500px;

		@include max(lg) {
			font-size: 48px;
		}

		@include max(sm) {
			max-width: 58%;
		}
	}

	&__nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;

		@include max(lg) {
			top: 56%;
		}

		@include max(sm) {
			display: none;
		}

		.swiper-btn--prev,
		.swiper-btn--next {
			position: relative;

			svg {
				path {
					&:first-child {
						stroke: $black;
					}

					&:last-child {
						fill: $black;
					}
				}
			}
		}

		.swiper-btn--prev {
			left: calc((100% - 1314px) / 4 - 44px / 2);
			transform: rotate(-90deg);

			@include max(1600) {
				left: 0;
			}

			@include max(lg) {
				left: 48px;
			}

			@include max(md) {
				left: 0;
			}
		}

		.swiper-btn--next {
			right: calc((100% - 1314px) / 4 - 44px / 2);
			transform: rotate(90deg);

			@include max(1600) {
				right: 0;
			}

			@include max(lg) {
				right: 48px;
			}

			@include max(md) {
				right: 0;
			}
		}
	}
}