section.hero
	.hero__slider.swiper.js-hero-slider
		.swiper-wrapper
			.hero__slide.hero__slide--team.swiper-slide
				.hero__bg
					img(src='./img/hero-team.jpg', srcset='./img/hero-team.jpg 2x', alt='')
				.container.container--small.hero__container
					h2.h1.h1--uppercase.hero__title(style="color:#fff;") МЫ ЗАБОТИМСЯ <br>О&nbsp;НАШИХ КЛИЕНТАХ