.mega-menu
	.mega-menu__close
		img(src='./img/svg/i-close.svg', alt="")
	.container.mega-menu__container
		.mega-menu__wrapper
			.mega-menu__item
				.mega-menu__title Полуприцепы-цистерны
				.mega-menu__image
					img(src='./img/picture/mega-menu/1.jpg', srcset='./img/picture/mega-menu/1@2x.jpg 2x', alt='')
				ul.mega-menu__list
					li
						a(href='#') Бензовозы Битумовозы
					li
						a(href='#') Нефтевозы с термоизоляцией
					li
						a(href='#') Нефтевозы без термоизоляции
					li
						a(href='#') Цементовозы
				a.mega-menu__catalog(href='#')
					span Скачать каталог
					svg(width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg')
						path(d='M2 0C0.905745 0 0 0.905745 0 2V18C0 19.0943 0.905745 20 2 20H14C15.0943 20 16 19.0943 16 18V6L10 0H2ZM2 2H9V7H14V18H2V2ZM7.83203 7C7.28203 7 6.87006 7.37344 6.78906 8.02344C6.70906 8.67244 7.0308 9.80733 7.5918 10.8613C7.3508 11.5913 7.11006 12.2397 6.78906 12.8887C5.74606 13.2127 4.78381 13.6985 4.38281 14.1855C3.74181 14.9145 4.06266 15.4015 4.22266 15.6445C4.38366 15.8875 4.62431 16 4.94531 16C5.10631 16 5.26673 15.9677 5.42773 15.8867C6.06973 15.6437 6.70956 14.6702 7.35156 13.5352C7.91256 13.3732 8.47416 13.2119 9.03516 13.1309C9.59616 13.7789 10.1596 14.1857 10.6406 14.3477C11.2016 14.5097 11.6828 14.2653 11.9238 13.6973C12.0838 13.2103 12.0026 12.8065 11.6016 12.5625C11.1196 12.2385 10.3175 12.2374 9.35547 12.3184C9.03447 11.8324 8.71561 11.3464 8.47461 10.8594C8.87561 9.64338 9.035 8.59041 8.875 7.94141C8.714 7.37341 8.38203 7 7.83203 7Z')

			.mega-menu__item
				.mega-menu__title Зерновозы
				.mega-menu__image
					img(src='./img/picture/mega-menu/2.jpg', srcset='./img/picture/mega-menu/2@2x.jpg 2x', alt='')
				ul.mega-menu__list
					li
						a(href='#') Зерновозы бортовые
					li
						a(href='#') Зерновозы самосвальные
				a.mega-menu__catalog(href='#')
					span Скачать каталог
					svg(width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg')
						path(d='M2 0C0.905745 0 0 0.905745 0 2V18C0 19.0943 0.905745 20 2 20H14C15.0943 20 16 19.0943 16 18V6L10 0H2ZM2 2H9V7H14V18H2V2ZM7.83203 7C7.28203 7 6.87006 7.37344 6.78906 8.02344C6.70906 8.67244 7.0308 9.80733 7.5918 10.8613C7.3508 11.5913 7.11006 12.2397 6.78906 12.8887C5.74606 13.2127 4.78381 13.6985 4.38281 14.1855C3.74181 14.9145 4.06266 15.4015 4.22266 15.6445C4.38366 15.8875 4.62431 16 4.94531 16C5.10631 16 5.26673 15.9677 5.42773 15.8867C6.06973 15.6437 6.70956 14.6702 7.35156 13.5352C7.91256 13.3732 8.47416 13.2119 9.03516 13.1309C9.59616 13.7789 10.1596 14.1857 10.6406 14.3477C11.2016 14.5097 11.6828 14.2653 11.9238 13.6973C12.0838 13.2103 12.0026 12.8065 11.6016 12.5625C11.1196 12.2385 10.3175 12.2374 9.35547 12.3184C9.03447 11.8324 8.71561 11.3464 8.47461 10.8594C8.87561 9.64338 9.035 8.59041 8.875 7.94141C8.714 7.37341 8.38203 7 7.83203 7Z')

			.mega-menu__item
				.mega-menu__title Сельскохозяйственные полуприцепы
				.mega-menu__image
					img(src='./img/picture/mega-menu/3.jpg', srcset='./img/picture/mega-menu/3@2x.jpg 2x', alt='')
				ul.mega-menu__list
					li
						a(href='#') Бункеры-перегрузчики
					li
						a(href='#') Самосвальные тракторные полуприцепы
				a.mega-menu__catalog(href='#')
					span Скачать каталог
					svg(width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg')
						path(d='M2 0C0.905745 0 0 0.905745 0 2V18C0 19.0943 0.905745 20 2 20H14C15.0943 20 16 19.0943 16 18V6L10 0H2ZM2 2H9V7H14V18H2V2ZM7.83203 7C7.28203 7 6.87006 7.37344 6.78906 8.02344C6.70906 8.67244 7.0308 9.80733 7.5918 10.8613C7.3508 11.5913 7.11006 12.2397 6.78906 12.8887C5.74606 13.2127 4.78381 13.6985 4.38281 14.1855C3.74181 14.9145 4.06266 15.4015 4.22266 15.6445C4.38366 15.8875 4.62431 16 4.94531 16C5.10631 16 5.26673 15.9677 5.42773 15.8867C6.06973 15.6437 6.70956 14.6702 7.35156 13.5352C7.91256 13.3732 8.47416 13.2119 9.03516 13.1309C9.59616 13.7789 10.1596 14.1857 10.6406 14.3477C11.2016 14.5097 11.6828 14.2653 11.9238 13.6973C12.0838 13.2103 12.0026 12.8065 11.6016 12.5625C11.1196 12.2385 10.3175 12.2374 9.35547 12.3184C9.03447 11.8324 8.71561 11.3464 8.47461 10.8594C8.87561 9.64338 9.035 8.59041 8.875 7.94141C8.714 7.37341 8.38203 7 7.83203 7Z')

			.mega-menu__item
				.mega-menu__title Магистральные полуприцепы
				.mega-menu__image
					img(src='./img/picture/mega-menu/4.jpg', srcset='./img/picture/mega-menu/4@2x.jpg 2x', alt='')
				ul.mega-menu__list
					li
						a(href='#') Тентованные полуприцепы
					li
						a(href='#') Бортовые открытые полуприцепы
					li
						a(href='#') Контейнеровозы
				a.mega-menu__catalog(href='#')
					span Скачать каталог
					svg(width='16' height='20' viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg')
						path(d='M2 0C0.905745 0 0 0.905745 0 2V18C0 19.0943 0.905745 20 2 20H14C15.0943 20 16 19.0943 16 18V6L10 0H2ZM2 2H9V7H14V18H2V2ZM7.83203 7C7.28203 7 6.87006 7.37344 6.78906 8.02344C6.70906 8.67244 7.0308 9.80733 7.5918 10.8613C7.3508 11.5913 7.11006 12.2397 6.78906 12.8887C5.74606 13.2127 4.78381 13.6985 4.38281 14.1855C3.74181 14.9145 4.06266 15.4015 4.22266 15.6445C4.38366 15.8875 4.62431 16 4.94531 16C5.10631 16 5.26673 15.9677 5.42773 15.8867C6.06973 15.6437 6.70956 14.6702 7.35156 13.5352C7.91256 13.3732 8.47416 13.2119 9.03516 13.1309C9.59616 13.7789 10.1596 14.1857 10.6406 14.3477C11.2016 14.5097 11.6828 14.2653 11.9238 13.6973C12.0838 13.2103 12.0026 12.8065 11.6016 12.5625C11.1196 12.2385 10.3175 12.2374 9.35547 12.3184C9.03447 11.8324 8.71561 11.3464 8.47461 10.8594C8.87561 9.64338 9.035 8.59041 8.875 7.94141C8.714 7.37341 8.38203 7 7.83203 7Z')
