extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header

	.achievements
		.container
			.breakpoints
				.breakpoints__container
					ul.breakpoints__list
						li.breakpoints__item
							a(href='#').breakpoints__text Акции и лизинг
						li.breakpoints__item
							span.breakpoints__text Новость
			.achievements__content
				.achievements--title Награды
				.achievements--subtitle Завод BONUM - победитель многчисленых федеральных и региональных конкурсов
				.achievements__items
					.achievements__row 
						.achievements__item.item-achievements 
							.item-achievements__column 
								.item-achievements__title 
									.item-achievements__icon
										picture 
											source(media="(max-width: 768px)", srcset="img/achievements/1-1.png")
											img(src="img/achievements/1-1.png", alt="alt")
									span 100 лучших товаров 2016
								.item-achievements__text Всероссийский конкурс «100 лучших товаров России» стимулирует предприятия и организации к повышению качества и конкурентоспособности российской продукции и услуг.
						.achievements__item.item-achievements 
							.item-achievements__column 
								.item-achievements__title 
									.item-achievements__icon 
										picture 
											source(media="(max-width: 768px)", srcset="img/achievements/2-2.png")
											img(src="img/achievements/2-2.png", alt="alt")
									span 100 лучших товаров 2017
								.item-achievements__text В 2017 завод БОНУМ вновь получает диплом победителя конкурса «100 лучших товаровРоссии»
						.achievements__item.item-achievements 
							.item-achievements__column 
								.item-achievements__title 
									.item-achievements__icon 
										picture 
											source(media="(max-width: 768px)", srcset="img/achievements/3-3.png")
											img(src="img/achievements/3-3.png", alt="alt")
									span Лучшие товары Дона
								.item-achievements__text Региональный конкурс «Лучшие товары Дона» проводится федеральным государственным учреждением «Ростовский центр стандартизации, метрологии и сертификации» (ФГУ«Ростовский ЦСМ») совместно с Правительством Ростовской области.
						.achievements__item.item-achievements 
							.item-achievements__column 
								.item-achievements__title 
									.item-achievements__icon 
										picture 
											source(media="(max-width: 768px)", srcset="img/achievements/4-4.png")
											img(src="img/achievements/4-4.png", alt="alt")
									span Сделано на дону
								.item-achievements__text Знаком «Сделано на Дону» отмечается продукция донских производителей, которые доказали строгое соблюдение российских и международных стандартов качества.
						.achievements__item.item-achievements 
							.item-achievements__column 
								.item-achievements__title 
									.item-achievements__icon 
										picture 
											source(media="(max-width: 768px)", srcset="img/achievements/5-5.png")
											img(src="img/achievements/5-5.png", alt="alt")
									span новинка
								.item-achievements__text За особые достижения в улучшении качества и безопасности отечественных товаров завод БОНУМ был удостоен статусом «Повинка»
						.achievements__item.item-achievements 
							.item-achievements__column 
								.item-achievements__title 
									.item-achievements__icon 
										picture 
											source(media="(max-width: 768px)", srcset="img/achievements/6-6.png")
											img(src="img/achievements/6-6.png", alt="alt")
									span 100 проектов под патронажем президента ТПП РФ
								.item-achievements__text Участник и победитель конкурса «100 проектов под патронатом Президента ТПП РФ»
						.achievements__item.item-achievements 
							.item-achievements__column 
								.item-achievements__title 
									.item-achievements__icon 
										picture 
											source(media="(max-width: 768px)", srcset="img/achievements/7-7.png")
											img(src="img/achievements/7-7.png", alt="alt")
									span Премия "Бизнес-Успех"
								.item-achievements__text Национальная премия «Бизнес-Успех» - всероссийский конкурс для предпринимателей
						.achievements__item.item-achievements 
							.item-achievements__column 
								.item-achievements__title 
									.item-achievements__icon 
										picture 
											source(media="(max-width: 768px)", srcset="img/achievements/8-8.png")
											img(src="img/achievements/8-8.png", alt="alt")
									span Made in Russia
								.item-achievements__text Добровольная сертификации продукции. Экспортный бренд "Made in Russia" создан для повышения узнаваемости российских брендов за рубежом.
						.achievements__item.item-achievements 
							.item-achievements__column 
								.item-achievements__title 
									.item-achievements__icon
										picture 
											source(media="(max-width: 768px)", srcset="img/achievements/9-9.png")
											img(src="img/achievements/9-9.png", alt="alt")
									span Russian Exporter
								.item-achievements__text Знак качества "Russian Exporter" говорит о добросовестности надёжности производителя.

	include ../../blocks/modules/footer/footer



	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
