extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header

	.blog
		.breakpoints
			.container
				.breakpoints__container
					ul.breakpoints__list
						li.breakpoints__item
							a(href='#').breakpoints__text Акции и лизинг
						li.breakpoints__item
							a(href='#').breakpoints__text Новости
						li.breakpoints__item
							span.breakpoints__text Новость

		.content-blog
			.container
				.content-blog__container
					.content-blog__header
						a(href='').content-blog__back
							<svg width="26" height="50" viewBox="0 0 26 50" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M25 1L1 25L25 49" stroke="#1F2120"/>
							</svg>
						h1.h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.content-blog__tags
							ul
								li
									a(href="") 18 февраля 2023
								li
									a(href="") #новости
					.content-blog__row
						.content-blog__left
							.content-blog__toc
								h3 Оглавление
								ul
									li
										a(href="")
											span Как перевозят рулонную сталь?
									li
										a(href="")
											span О перевозке стали в рулонах автомобильным транспортом
									li
										a(href="")
											span Возможные повреждения рулонов
									li
										a(href="")
											span Особенности транспортировки рулонов стали
									li
										a(href="")
											span Преимущества полуприцепов БОНУМ
									li
										a(href="")
											span Стоит ли экономить на спецтехнике?
							.content-blog__img
								img(src="img/news-page/1.jpg", alt="alt")
							h3 Nulla quis egestas velit. Nunc sed feugiat ante. Proin euismod, tellus sit amet efficitur commodo, massa eros finibus augue,
							p Pellentesque volutpat mi non urna maximus maximus eu tristique risus. Praesent nec mauris quis nulla feugiat vulputate at sit amet odio. Quisque pretium dolor et lectus placerat, eget elementum eros porta. Aenean luctus erat a metus congue, ut venenatis elit dictum. In hac habitasse platea dictumst. Ut a libero vulputate, vehicula lorem quis, eleifend tortor. Curabitur est neque, tincidunt eu placerat et, commodo a massa. Morbi facilisis felis nec arcu aliquam, ut iaculis diam gravida. Morbi hendrerit elit sed interdum elementum. In sodales at velit quis tincidunt.
							h3 Proin euismod, tellus sit amet
							ul
								li Pellentesque volutpat mi non urna maximus maximus eu tristique risus. Praesent nec mauris quis nulla feugiat vulputate at sit amet odio. Quisque pretium dolor et lectus placerat, eget elementum
								li Quisque pretium dolor et lectus placerat, eget elementum eros porta. Aenean luctus erat metus
								li Curabitur est neque, tincidunt eu placerat et, commodo a massa.
								li Suspendisse eget diam rutrum, semper orci scelerisque, euismod mauris volutpat mi non urna maximus maximus eu tristique risus. Praesent nec mauris quis nulla feugiat vulputate at sit amet odio. Quisque pretium dolor et lectus placerat, eget elementum eros porta.
							.content-blog__img
								img(src="img/news-page/1.jpg", alt="alt")
							h3 Nulla quis egestas velit. Nunc sed feugiat ante. Proin euismod, tellus sit amet efficitur commodo, massa eros finibus augue,
							p Pellentesque volutpat mi non urna maximus maximus eu tristique risus. Praesent nec mauris quis nulla feugiat vulputate at sit amet odio. Quisque pretium dolor et lectus placerat, eget elementum eros porta. Aenean luctus erat a metus congue, ut venenatis elit dictum. In hac habitasse platea dictumst. Ut a libero vulputate, vehicula lorem quis, eleifend tortor. Curabitur est neque, tincidunt eu placerat et, commodo a massa. Morbi facilisis felis nec arcu aliquam, ut iaculis diam gravida. Morbi hendrerit elit sed interdum elementum. In sodales at velit quis tincidunt.
							.content-blog__share
								h3 Поделиться:
								.content-blog__socials
									a(href="")
										<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect width="48" height="48" rx="24" fill="#D3D3D3"/>
										<path d="M31.6704 20.1528C31.4859 19.4674 30.9456 18.9271 30.2602 18.7426C29.0082 18.3999 24 18.3999 24 18.3999C24 18.3999 18.9917 18.3999 17.7397 18.7294C17.0675 18.9139 16.514 19.4674 16.3295 20.1528C16 21.4048 16 24.0012 16 24.0012C16 24.0012 16 26.6107 16.3295 27.8496C16.514 28.5349 17.0544 29.0753 17.7397 29.2598C19.0049 29.6025 24 29.6025 24 29.6025C24 29.6025 29.0082 29.6025 30.2602 29.273C30.9456 29.0885 31.4859 28.5481 31.6704 27.8628C31.9999 26.6107 31.9999 24.0144 31.9999 24.0144C31.9999 24.0144 32.0131 21.4048 31.6704 20.1528Z" fill="white"/>
										<path d="M22.4043 26.3999L26.569 24.0012L22.4043 21.6025V26.3999Z" fill="#D3D3D3"/>
										</svg>
									a(href="")
										<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect width="48" height="48" rx="24" fill="#D3D3D3"/>
										<path d="M16.5403 20C17.0997 20 17.9523 20 18.4318 20C18.6716 20 18.8581 20.1599 18.938 20.373C19.1778 21.0657 19.7106 22.5843 20.3234 23.6233C21.1493 24.982 21.6821 25.4882 22.0285 25.4349C22.3748 25.355 22.2683 24.4492 22.2683 23.7299C22.2683 23.0105 22.3482 21.785 22.0018 21.2255L21.469 20.4529C21.3358 20.2664 21.469 20.0266 21.6821 20.0266H24.7193C25.0124 20.0266 25.2521 20.2664 25.2521 20.5595V24.4226C25.2521 24.4226 25.3854 25.1152 26.1313 24.3959C26.8773 23.6766 27.6766 22.3445 28.3426 20.9857L28.609 20.3463C28.6889 20.1599 28.8754 20.0266 29.0886 20.0266H31.0601C31.4331 20.0266 31.6995 20.3996 31.5663 20.746L31.3531 21.3055C31.3531 21.3055 30.6338 22.7441 29.8878 23.7565C29.1419 24.7955 28.982 25.0353 29.0886 25.3017C29.1951 25.5682 31.1134 27.3532 31.5929 28.2057C31.7261 28.4455 31.8327 28.6586 31.9393 28.8451C32.1258 29.1914 31.8593 29.6444 31.4597 29.6444H29.2218C29.0353 29.6444 28.8488 29.5378 28.7689 29.3779L28.5557 29.0316C28.5557 29.0316 27.197 27.4331 26.3711 26.9269C25.5186 26.4473 25.5452 27.14 25.5452 27.14V28.552C25.5452 29.1382 25.0657 29.6177 24.4795 29.6177H23.9467C23.9467 29.6177 21.0161 29.6177 18.6716 26.1276C16.8333 23.4102 16.2205 21.6518 16.0074 20.6394C15.9541 20.3197 16.1939 20 16.5403 20Z" fill="white"/>
										</svg>
									a(href="")
										<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect width="48" height="48" rx="24" fill="#D3D3D3"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M16.3576 23.5289C20.4919 21.7276 23.2488 20.5401 24.6282 19.9664C28.5667 18.3282 29.3851 18.0437 29.9185 18.0343C30.0358 18.0322 30.2981 18.0613 30.468 18.1992C30.6115 18.3156 30.651 18.4728 30.6699 18.5832C30.6887 18.6936 30.7123 18.9451 30.6936 19.1415C30.4801 21.384 29.5566 26.826 29.0868 29.3376C28.888 30.4004 28.4966 30.7567 28.1176 30.7916C27.294 30.8674 26.6687 30.2473 25.871 29.7244C24.6228 28.9062 23.9176 28.3969 22.7061 27.5985C21.3059 26.6758 22.2135 26.1686 23.0115 25.3398C23.2204 25.1229 26.849 21.8224 26.9193 21.5229C26.928 21.4855 26.9362 21.3459 26.8533 21.2722C26.7703 21.1985 26.648 21.2237 26.5596 21.2438C26.4345 21.2722 24.4404 22.5901 20.5776 25.1976C20.0116 25.5863 19.499 25.7757 19.0396 25.7657C18.5333 25.7548 17.5592 25.4794 16.8351 25.244C15.947 24.9553 15.2411 24.8027 15.3026 24.3124C15.3346 24.057 15.6863 23.7959 16.3576 23.5289Z" fill="white"/>
										</svg>
									a(href="")
										<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<g clip-path="url(#clip0_130_486)">
										<path d="M24.0072 48.0144C37.266 48.0144 48.0144 37.266 48.0144 24.0072C48.0144 10.7484 37.266 0 24.0072 0C10.7484 0 0 10.7484 0 24.0072C0 37.266 10.7484 48.0144 24.0072 48.0144Z" fill="#D3D3D3"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M23.3257 16.0241C22.4067 16.1446 21.7889 16.3405 21.0884 16.8828C20.7795 17.1239 20.5686 17.3424 20.3275 17.6588C20.109 17.9375 19.9056 18.3142 19.77 18.6532C19.2276 20.0694 19.5214 21.4932 20.3802 22.6759C20.7569 23.1882 21.5629 23.7833 22.1581 23.9867C22.7532 24.1901 23.2353 24.288 23.9284 24.2504C26.8362 24.0696 28.6593 20.9056 27.2882 18.2313C27.1602 17.9827 27.0321 17.8094 26.8814 17.606C26.1206 16.5665 24.5762 15.8583 23.3257 16.0241ZM23.3408 18.4573C22.3765 18.6532 21.7965 19.4969 21.9396 20.4084C22.0752 21.2446 22.8888 22.0055 23.9209 21.8247C25.42 21.561 25.8117 19.6551 24.6817 18.7963C24.3653 18.5552 23.8531 18.3518 23.3408 18.4573Z" fill="white"/>
										<path fill-rule="evenodd" clip-rule="evenodd" d="M21.518 31.4749C21.6988 31.2941 23.5219 29.4635 23.6273 29.3957C23.7403 29.4635 23.8985 29.6443 24.004 29.7498L25.8195 31.5728C26.0681 31.8289 26.3619 32.0097 26.8968 31.9871C27.3036 31.8817 27.6049 31.7235 27.7932 31.3694C27.8535 31.264 27.9062 31.1359 27.9288 31.0003C28.0569 30.2997 27.5974 29.9306 27.3186 29.6443C27.1755 29.5012 25.3826 27.7459 25.3148 27.6329C26.1133 27.4371 26.7762 27.1583 27.4166 26.7967C27.7631 26.6084 28.0192 26.4502 28.1548 26.0585C28.4637 25.2072 27.8083 24.4012 26.9947 24.4238C26.5201 24.4388 26.3092 24.6799 25.9626 24.8456C24.3807 25.5763 22.7761 25.5839 21.2167 24.8004C20.8928 24.6347 20.6065 24.3786 20.1394 24.4087C19.243 24.4539 18.7834 25.388 19.0998 26.1112C19.2656 26.4803 19.5142 26.6159 19.8607 26.8118C20.4784 27.1734 21.179 27.4446 21.9474 27.6329C21.8796 27.7384 20.0566 29.5313 19.9134 29.6744C19.6196 29.9607 19.1752 30.3223 19.3183 31.0455C19.5368 32.1755 20.7195 32.2809 21.518 31.4749Z" fill="white"/>
										</g>
										<defs>
										<clipPath id="clip0_130_486">
										<rect width="48" height="48" fill="white"/>
										</clipPath>
										</defs>
										</svg>
									a(href="")
										<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect width="48" height="48" rx="24" fill="#D3D3D3"/>
										<g clip-path="url(#clip0_130_492)">
										<path d="M24.0334 28.8153C21.3755 28.8153 20.1611 27.4613 20.1611 26.4682C20.1608 26.2313 20.258 26.0047 20.4299 25.8417C20.6019 25.6788 20.8334 25.5938 21.0699 25.6069C22.2079 25.6069 21.9102 27.3138 24.0334 27.3138C25.1186 27.3138 25.7561 26.6605 25.7561 26.0468C25.7561 25.678 25.5454 25.2565 24.8289 25.0879L22.4581 24.49C20.5536 24.0053 20.2217 22.9463 20.2217 21.9638C20.2217 19.9249 22.0867 19.1874 23.8621 19.1874C25.498 19.1874 27.442 20.0909 27.442 21.3131C27.442 21.84 27.0021 22.1218 26.4911 22.1218C25.519 22.1218 25.6824 20.7573 23.7278 20.7573C22.7558 20.7573 22.2448 21.213 22.2448 21.8505C22.2448 22.488 23.0008 22.704 23.6646 22.8489L25.4137 23.244C27.3314 23.676 27.8424 24.8008 27.8424 25.8782C27.8424 27.5351 26.5595 28.8153 24.0307 28.8153H24.0334ZM31.3722 25.3092C31.4481 24.8743 31.486 24.4336 31.4854 23.9921C31.4947 21.7744 30.5203 19.6668 28.8248 18.2372C27.1293 16.8077 24.8873 16.2035 22.7031 16.5874C22.0318 16.2009 21.2703 15.9983 20.4957 16C18.9056 16.0097 17.4399 16.8619 16.6448 18.239C15.8498 19.6161 15.8447 21.3116 16.6313 22.6935C16.1924 25.1054 16.9613 27.5795 18.6901 29.3177C20.4189 31.056 22.8887 31.8384 25.303 31.4126C25.9736 31.7988 26.7341 32.0014 27.5078 32C29.0971 31.9898 30.5619 31.1379 31.3568 29.7616C32.1517 28.3854 32.1575 26.6909 31.3722 25.3092Z" fill="white"/>
										</g>
										<defs>
										<clipPath id="clip0_130_492">
										<rect width="16" height="16" fill="white" transform="translate(16 16)"/>
										</clipPath>
										</defs>
										</svg>
							.content-blog__arrows
								.content-blog__arrow.content-blog__arrow-prev
									svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
										path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')
									span Предыдущая статья
								.content-blog__arrow.content-blog__arrow-next
									span Следующая статья
									svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
										path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')
						.content-blog__right
							.content-blog__similar.block-side
								.block-side__container
									.block-side__title похожие статьи
									.block-side__items
										.block-side__item
											.block-side__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
											.block-side__tags
												ul
													li
														a(href="") 18 февраля 2023
													li
														a(href="") #новости
										.block-side__item
											.block-side__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
											.block-side__tags
												ul
													li
														a(href="") 18 февраля 2023
													li
														a(href="") #новости
										.block-side__item
											.block-side__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
											.block-side__tags
												ul
													li
														a(href="") 18 февраля 2023
													li
														a(href="") #новости
										.block-side__item
											.block-side__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
											.block-side__tags
												ul
													li
														a(href="") 18 февраля 2023
													li
														a(href="") #новости
		section.my-new-form
			.container
				.my-new-form__content
					.title Задать вопрос менеджеру
					form(action="" method="method")
						.my-new-form__row
							.my-new-form__left
								.my-new-form__item
									input.my-new-form__input(type='text' name='name' placeholder='Имя')
								.my-new-form__item
									input.my-new-form__input(type='tel' name='name' placeholder='Телефон')
								.my-new-form__item
									input.my-new-form__input(type='email' name='name' placeholder='Email')
							.my-new-form__right
								.my-new-form__right-item
									label.my-new-form__right-label(for='my-new-form__textarea') Задайте вопрос
									textarea#my-new-form__textarea.my-new-form__textarea(name='message')
						.my-new-form__row
							.my-new-form__left
								.my-new-form-checkbox
									input#my-new-formAgreement.my-new-form-checkbox__input(checked='' type='checkbox' name='agreement')
									label.my-new-form-checkbox__label(for='my-new-formAgreement')
										span
											| Я принимаю условия политики конфиденциальности и даю согласие на обработку моих персональных данных
							.my-new-form__right
								button.my-new-form__right-button(type='submit') отправить

		.header-news-page
			.container
				.header-news-page__row
					.items-news-page__arrows.items-news-page__arrows-mob
						.items-news-page__arrow.items-news-page__arrow-prev
							svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
								path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')
						.items-news-page__arrow.items-news-page__arrow-next
							svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
								path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')

					.title другие новости
					ul.header-news-page__buttons
						li.header-news-page__button
							a(href='') Все
						li.header-news-page__button
							a(href='').js-active Новости
						li.header-news-page__button
							a(href='') События
						li.header-news-page__button
							a(href='') Публикации

		.items-news-page
			.container
				.items-news-page__row
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/blogs/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__tag # Бензовозы
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/blogs/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__tag # Бензовозы
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/blogs/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__tag # Бензовозы
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.

				.items-news-page__paginations
					ul
						li
							a(href="").js-active 01
						li
							a(href="") 02
						li
							a(href="") 03
					a(href="").items-news-page__paginations-show-more Посмотреть все

				.items-news-page__arrows.items-news-page__arrows-desk
					.items-news-page__arrow.items-news-page__arrow-prev
						svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
							path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')
					.items-news-page__arrow.items-news-page__arrow-next
						svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
							path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')

	include ../../blocks/modules/footer/footer



	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
