extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header

	.blogs
		.container
			.breakpoints
				.breakpoints__container
					ul.breakpoints__list
						li.breakpoints__item
							a(href='#').breakpoints__text Акции и лизинг
						li.breakpoints__item
							span.breakpoints__text Новость
			.blogs-header
				.blogs-header__row
					.title другие новости
					.blogs-header__buttons
						.blogs-header__swiper.swiper
							.swiper-wrapper
								.swiper-slide
									.blogs__button
										a(href='') Все
								.swiper-slide
									.blogs__button
										a(href='') Магистральная техника
								.swiper-slide
									.blogs__button
										a(href='') Зерновозы
								.swiper-slide
									.blogs__button
										a(href='') Бензовозы
								.swiper-slide
									.blogs__button
										a(href='') Другое
			.blogs__items
				.blogs__row
					.blogs__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/blogs/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__tag # Бензовозы
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.blogs__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/blogs/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__tag # Бензовозы
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
			.blogs__items.blogs__items-h
				.blogs__item.card-item.card-item-h
					.card-item__column
						.card-item__date
							span.card-item__date-day 18
							.card-item__date-right
								span.card-item__date-month февраля
								br
								span.card-item__date-year 2023
						.card-item__img
							img(src="img/blogs/1.jpg", alt="alt")
						.card-item__text
							.card-item__tag # Бензовозы
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
						a(href='').card-item__btn
							<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="28" cy="28" r="27.5" fill="white" stroke="#E3E3E3"/>
							<path d="M27.6562 24L31.8989 28.2426L27.6562 32.4853" stroke="#1F2120" stroke-width="1.5"/>
							</svg>
				.blogs__item.card-item.card-item-h
					.card-item__column
						.card-item__date
							span.card-item__date-day 18
							.card-item__date-right
								span.card-item__date-month февраля
								br
								span.card-item__date-year 2023
						.card-item__img
							img(src="img/blogs/1.jpg", alt="alt")
						.card-item__text
							.card-item__tag # Бензовозы
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
						a(href='').card-item__btn
							<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="28" cy="28" r="27.5" fill="white" stroke="#E3E3E3"/>
							<path d="M27.6562 24L31.8989 28.2426L27.6562 32.4853" stroke="#1F2120" stroke-width="1.5"/>
							</svg>
				.blogs__item.card-item.card-item-h
					.card-item__column
						.card-item__date
							span.card-item__date-day 18
							.card-item__date-right
								span.card-item__date-month февраля
								br
								span.card-item__date-year 2023
						.card-item__img
							img(src="img/blogs/1.jpg", alt="alt")
						.card-item__text
							.card-item__tag # Бензовозы
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
						a(href='').card-item__btn
							<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
							<circle cx="28" cy="28" r="27.5" fill="white" stroke="#E3E3E3"/>
							<path d="M27.6562 24L31.8989 28.2426L27.6562 32.4853" stroke="#1F2120" stroke-width="1.5"/>
							</svg>
			.blogs__items
				.blogs__row
					.blogs__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/blogs/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__tag # Бензовозы
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.blogs__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/blogs/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__tag # Бензовозы
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.

	include ../../blocks/modules/footer/footer



	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
