extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header


	.breakpoints
		.breakpoints__container.container-new
			ul.breakpoints__list
				li.breakpoints__item
					a(href='#').breakpoints__text Акции и лизинг
				li.breakpoints__item
					a(href='#').breakpoints__text Новости
				li.breakpoints__item
					span.breakpoints__text Новость



	.blog
		.content-blog
			.container
				.content-blog__container
					.content-blog__header
						a(href='').content-blog__back
							<svg width="26" height="50" viewBox="0 0 26 50" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M25 1L1 25L25 49" stroke="#1F2120"/>
							</svg>
						h1.h1 Lorem ipsum dolor sit amet, consectetur adipiscing elit.
						.content-blog__tags
							ul
								li
									a(href="") 18 февраля 2023
								li
									a(href="") #новости
					.content-blog__row
						.content-blog__left
							.content-blog__toc
								h3 Оглавление
								ul
									li
										a(href="")
											span Как перевозят рулонную сталь?
									li
										a(href="")
											span О перевозке стали в рулонах автомобильным транспортом
									li
										a(href="")
											span Возможные повреждения рулонов
									li
										a(href="")
											span Особенности транспортировки рулонов стали
									li
										a(href="")
											span Преимущества полуприцепов БОНУМ
									li
										a(href="")
											span Стоит ли экономить на спецтехнике?


							.content-blog__text-block.styled-ul-in-this-block

								img(src="img/news-page/1.jpg", alt="alt")

								h2 Nulla quis egestas velit. Nunc sed feugiat ante. Proin euismod, tellus sit amet efficitur commodo, massa eros finibus augue,
								p Pellentesque volutpat mi non urna maximus maximus eu tristique risus. Praesent nec mauris quis nulla feugiat vulputate at sit amet odio. Quisque pretium dolor et lectus placerat, eget elementum eros porta. Aenean luctus erat a metus congue, ut venenatis elit dictum. In hac habitasse platea dictumst. Ut a libero vulputate, vehicula lorem quis, eleifend tortor. Curabitur est neque, tincidunt eu placerat et, commodo a massa. Morbi facilisis felis nec arcu aliquam, ut iaculis diam gravida. Morbi hendrerit elit sed interdum elementum. In sodales at velit quis tincidunt.
								h2 Proin euismod, tellus sit amet
								ul
									li Pellentesque volutpat mi non urna maximus maximus eu tristique risus. Praesent nec mauris quis nulla feugiat vulputate at sit amet odio. Quisque pretium dolor et lectus placerat, eget elementum
									li Quisque pretium dolor et lectus placerat, eget elementum eros porta. Aenean luctus erat metus
									li Curabitur est neque, tincidunt eu placerat et, commodo a massa.
									li Suspendisse eget diam rutrum, semper orci scelerisque, euismod mauris volutpat mi non urna maximus maximus eu tristique risus. Praesent nec mauris quis nulla feugiat vulputate at sit amet odio. Quisque pretium dolor et lectus placerat, eget elementum eros porta.

								img(src="img/news-page/1.jpg", alt="alt")

								h2 Nulla quis egestas velit. Nunc sed feugiat ante. Proin euismod, tellus sit amet efficitur commodo, massa eros finibus augue,
								p Pellentesque volutpat mi non urna maximus maximus eu tristique risus. Praesent nec mauris quis nulla feugiat vulputate at sit amet odio. Quisque pretium dolor et lectus placerat, eget elementum eros porta. Aenean luctus erat a metus congue, ut venenatis elit dictum. In hac habitasse platea dictumst. Ut a libero vulputate, vehicula lorem quis, eleifend tortor. Curabitur est neque, tincidunt eu placerat et, commodo a massa. Morbi facilisis felis nec arcu aliquam, ut iaculis diam gravida. Morbi hendrerit elit sed interdum elementum. In sodales at velit quis tincidunt.

							.content-blog__share
								h3 Поделиться:
								.content-blog__socials
									a(href="")
										img(src="img/svg/i-socials-yt.svg", alt="alt")
									a(href="")
										img(src="img/svg/i-socials-vk.svg", alt="alt")
									a(href="")
										img(src="img/svg/i-socials-tg.svg", alt="alt")
									a(href="")
										img(src="img/svg/i-socials-ok.svg", alt="alt")
									a(href="")
										img(src="img/svg/i-socials-sk.svg", alt="alt")
							.content-blog__arrows
								.content-blog__arrow.content-blog__arrow-prev
									svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
										path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')
									span Предыдущая статья
								.content-blog__arrow.content-blog__arrow-next
									span Следующая статья
									svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
										path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
										path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')
						.content-blog__right
							.content-blog__similar.block-side
								.block-side__container
									.block-side__title похожие статьи
									.block-side__items
										.block-side__item
											.block-side__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
											.block-side__tags
												ul
													li
														a(href="") 18 февраля 2023
													li
														a(href="") #новости
										.block-side__item
											.block-side__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
											.block-side__tags
												ul
													li
														a(href="") 18 февраля 2023
													li
														a(href="") #новости
										.block-side__item
											.block-side__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
											.block-side__tags
												ul
													li
														a(href="") 18 февраля 2023
													li
														a(href="") #новости
										.block-side__item
											.block-side__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
											.block-side__tags
												ul
													li
														a(href="") 18 февраля 2023
													li
														a(href="") #новости
		section.my-new-form
			.container
				.my-new-form__content
					.title Задать вопрос менеджеру
					form(action="" method="method")
						.my-new-form__row
							.my-new-form__left
								.my-new-form__item
									input.my-new-form__input(type='text' name='name' placeholder='Имя')
								.my-new-form__item
									input.my-new-form__input(type='tel' name='name' placeholder='Телефон')
								.my-new-form__item
									input.my-new-form__input(type='email' name='name' placeholder='Email')
							.my-new-form__right
								.my-new-form__right-item
									label.my-new-form__right-label(for='my-new-form__textarea') Задайте вопрос
									textarea#my-new-form__textarea.my-new-form__textarea(name='message')
						.my-new-form__row
							.my-new-form__left
								.my-new-form-checkbox
									input#my-new-formAgreement.my-new-form-checkbox__input(checked='' type='checkbox' name='agreement')
									label.my-new-form-checkbox__label(for='my-new-formAgreement')
										span
											| Я принимаю условия политики конфиденциальности и даю согласие на обработку моих персональных данных
							.my-new-form__right
								button.my-new-form__right-button(type='submit') отправить

		.header-news-page
			.container
				.header-news-page__row
					.items-news-page__arrows.items-news-page__arrows-mob
						.items-news-page__arrow.items-news-page__arrow-prev
							svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
								path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')
						.items-news-page__arrow.items-news-page__arrow-next
							svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
								path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')

					.title другие новости
					ul.header-news-page__buttons
						li.header-news-page__button
							a(href='') Все
						li.header-news-page__button
							a(href='').js-active Новости
						li.header-news-page__button
							a(href='') События
						li.header-news-page__button
							a(href='') Публикации

		.items-news-page
			.container
				.items-news-page__row
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/blogs/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__tag # Бензовозы
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/blogs/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__tag # Бензовозы
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/blogs/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__tag # Бензовозы
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.

				.items-news-page__paginations
					ul
						li
							a(href="").js-active 01
						li
							a(href="") 02
						li
							a(href="") 03
					a(href="").items-news-page__paginations-show-more Посмотреть все

				.items-news-page__arrows.items-news-page__arrows-desk
					.items-news-page__arrow.items-news-page__arrow-prev
						svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
							path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')
					.items-news-page__arrow.items-news-page__arrow-next
						svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
							path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')

	include ../../blocks/modules/footer/footer



	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
