extends ../layouts/default

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header

	.bottom-page
		section.sec1-bottom-page
			.sec1-bottom-page__row
				.sec1-bottom-page__body
					.sec1-bottom-page__body-inner
						.breakpoints
							.breakpoints__container
								ul.breakpoints__list
										li.breakpoints__item
											a(href='#').breakpoints__text Сервис и гарантии
										li.breakpoints__item
											span.breakpoints__text Установка систем нижнего налива
						.title Установка систем нижнего налива
						.sec1-bottom-page__image.sec1-bottom-page__image-mob
							img(src="img/bottom-page/sec1.jpg", alt="alt")
						.h1 Экономия. Безопасность. Удобство
						p Завод БОНУМ устанавливает нижний налив марки DIXON, компании с более чем 100 летним опытом работы на рынке.
						.sec1-bottom-page__buttons
							a(href='').sec1-bottom-page__button.sec1-bottom-page__button-black заказать установку
							a(href='').sec1-bottom-page__button.sec1-bottom-page__button-white задать вопрос
				.sec1-bottom-page__image-wrapper.sec1-bottom-page__image-desk
					.sec1-bottom-page__image
						img(src="img/bottom-page/sec1.jpg", alt="alt")
		section.sec2-bottom-page
			.container
				.sec2-bottom-page__row
					.sec2-bottom-page__img.resp-desk
						img(src="img/bottom-page/sec2.jpg", alt="alt")
					.sec2-bottom-page__body
						.title НИЖНИЙ НАЛИВ
						.sec2-bottom-page__img.resp-mob
							img(src="img/bottom-page/sec2.jpg", alt="alt")
						p Нижний налив — это безопасная и современная технология заполнения автоцистерн бензовозов нефтепродуктами через систему клапанов и фитингов.
						br
						p Система нижнего налива уменьшает экологические и экономические потери от испарений и пролива, увеличивает скорости операций слива-налива, позволяет вести более точный учет отпуска нефтепродуктов.
		section.sec3-bottom-page
			.container
				.sec3-bottom-page__content
					.title ПРЕИМУЩЕСТВА СИСТЕМ НИЖНЕГО НАЛИВА:
					.sec3-bottom-page__items
						.sec3-bottom-page__row
							.sec3-bottom-page__item
								.sec3-bottom-page__column
									svg(width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg')
										circle(cx='24' cy='24.5' r='24' fill='#1F2120')
										path(d='M32.922 20.115C32.871 19.993 32.797 19.883 32.705 19.792L28.706 15.793C28.52 15.605 28.266 15.5 28 15.5H16C15.87 15.5 15.74 15.526 15.618 15.577C15.373 15.678 15.178 15.873 15.077 16.118C15.026 16.24 15 16.37 15 16.5V28.5C15 28.766 15.105 29.02 15.293 29.207L19.292 33.206C19.384 33.298 19.493 33.372 19.615 33.423C19.736 33.473 19.866 33.5 20 33.5H32C32.553 33.5 33 33.053 33 32.5V20.5C33 20.366 32.973 20.236 32.922 20.115ZM29.586 19.5H20.414L18.414 17.5H27.586L29.586 19.5ZM17 18.914L19 20.914V30.086L17 28.086V18.914Z' fill='white')
									p.sec3-bottom-page__text Pellentesque volutpat mi non urna maximus maximus eu tristique risus
							.sec3-bottom-page__item
								.sec3-bottom-page__column
									svg(width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg')
										circle(cx='24' cy='24.5' r='24' fill='#1F2120')
										path(d='M24 13.5C21.794 13.5 20 15.294 20 17.5H17C16.001 17.5 15.1697 18.1945 15.0137 19.2285L14.0215 32.2793C13.9345 32.8513 14.1128 33.4255 14.5098 33.8555C14.8888 34.2655 15.432 34.5 16 34.5H32C32.568 34.5 33.1113 34.2654 33.4883 33.8574C33.8873 33.4274 34.0653 32.8525 33.9863 32.3535L32.9883 19.2285L32.9785 19.1523C32.8305 18.1953 31.999 17.5 31 17.5H28C28 15.294 26.206 13.5 24 13.5ZM24 15.5C25.103 15.5 26 16.397 26 17.5H22C22 16.397 22.897 15.5 24 15.5ZM16.998 19.5L31.0039 19.5059L32 32.5L16.0078 32.5059L16.998 19.5ZM18.6758 21.4551V28.9199H20.3105V27.4238L20.7734 26.9629L21.9199 28.9199H23.793L21.832 25.8262L23.6719 23.6641H21.7109L20.4766 25.1992L20.3125 25.418V21.4551H18.6758ZM26.4063 23.5684C25.9723 23.5684 25.5926 23.6794 25.2656 23.9004C24.9386 24.1214 24.6877 24.4387 24.5117 24.8457C24.3377 25.2537 24.25 25.7239 24.25 26.2539H24.252V26.3125C24.252 27.1355 24.4488 27.7912 24.8438 28.2812C25.2398 28.7722 25.7574 29.0156 26.3984 29.0156C26.8764 29.0156 27.2739 28.8431 27.5879 28.4961V28.6621C27.5879 29.4061 27.223 29.7773 26.498 29.7773C26 29.7773 25.5989 29.5973 25.2949 29.2383L24.6094 30.2012C24.8004 30.4332 25.0765 30.6216 25.4375 30.7676C25.7985 30.9146 26.1716 30.9863 26.5566 30.9863C27.0936 30.9863 27.5666 30.8969 27.9746 30.7129C28.3836 30.5309 28.6932 30.2687 28.9082 29.9277C29.1252 29.5857 29.2324 29.1837 29.2324 28.7207V23.6641H27.7461L27.6875 24.1211C27.3815 23.7521 26.9533 23.5684 26.4063 23.5684ZM26.8242 24.8301C27.1742 24.8301 27.4279 24.9505 27.5859 25.1895V27.3984C27.4239 27.6344 27.1665 27.7539 26.8145 27.7539C26.5225 27.7539 26.2958 27.628 26.1348 27.377C25.9728 27.127 25.8906 26.7855 25.8906 26.3555C25.8906 25.8595 25.9747 25.4817 26.1387 25.2207C26.3047 24.9607 26.5322 24.8301 26.8242 24.8301Z' fill='#F8F8F8')
									p.sec3-bottom-page__text Quisque pretium dolor et lectus placerat, eget elementum
							.sec3-bottom-page__item
								.sec3-bottom-page__column
									svg(width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg')
										circle(cx='24' cy='24.5' r='24' fill='#1F2120')
										path(d='M21.666 14.5L21.1758 17.0234C20.3516 17.3343 19.5948 17.7699 18.9316 18.3145L16.5078 17.4785L14.1719 21.5215L16.1133 23.209C16.0386 23.6672 16 24.0918 16 24.5C16 24.9088 16.0398 25.3326 16.1133 25.791V25.793L14.1719 27.4805L16.5078 31.5215L18.9297 30.6875C19.5929 31.2323 20.3514 31.6656 21.1758 31.9766L21.666 34.5H26.334L26.8242 31.9766C27.6489 31.6655 28.4049 31.2306 29.0684 30.6855L31.4922 31.5215L33.8262 27.4805L31.8867 25.791C31.9614 25.3328 32 24.9082 32 24.5C32 24.0925 31.9611 23.6684 31.8867 23.2109V23.209L33.8281 21.5195L31.4922 17.4785L29.0703 18.3125C28.4071 17.7677 27.6486 17.3344 26.8242 17.0234L26.334 14.5H21.666ZM23.3145 16.5H24.6855L25.0742 18.5L26.1172 18.8945C26.7459 19.1315 27.3107 19.4568 27.8008 19.8594L28.6641 20.5664L30.5859 19.9062L31.2715 21.0918L29.7363 22.4277L29.9121 23.5273V23.5293C29.9733 23.9042 30 24.2188 30 24.5C30 24.7812 29.9733 25.0957 29.9121 25.4707L29.7344 26.5703L31.2695 27.9062L30.584 29.0938L28.6641 28.4316L27.7988 29.1406C27.3087 29.5432 26.7459 29.8685 26.1172 30.1055H26.1152L25.0723 30.5L24.6836 32.5H23.3145L22.9258 30.5L21.8828 30.1055C21.2541 29.8685 20.6893 29.5432 20.1992 29.1406L19.3359 28.4336L17.4141 29.0938L16.7285 27.9082L18.2656 26.5703L18.0879 25.4746V25.4727C18.0276 25.0961 18 24.7807 18 24.5C18 24.2188 18.0267 23.9043 18.0879 23.5293L18.2656 22.4297L16.7285 21.0938L17.4141 19.9062L19.3359 20.5684L20.1992 19.8594C20.6893 19.4568 21.2541 19.1315 21.8828 18.8945L22.9258 18.5L23.3145 16.5ZM24 20.5C21.8035 20.5 20 22.3035 20 24.5C20 26.6965 21.8035 28.5 24 28.5C26.1965 28.5 28 26.6965 28 24.5C28 22.3035 26.1965 20.5 24 20.5ZM24 22.5C25.1115 22.5 26 23.3885 26 24.5C26 25.6115 25.1115 26.5 24 26.5C22.8885 26.5 22 25.6115 22 24.5C22 23.3885 22.8885 22.5 24 22.5Z' fill='white')
									p.sec3-bottom-page__text Suspendisse eget diam rutrum, semper orci scelerisque euismod
							.sec3-bottom-page__item
								.sec3-bottom-page__column
									svg(width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg')
										circle(cx='24' cy='24.5' r='24' fill='#1F2120')
										path(d='M32.922 20.115C32.871 19.993 32.797 19.883 32.705 19.792L28.706 15.793C28.52 15.605 28.266 15.5 28 15.5H16C15.87 15.5 15.74 15.526 15.618 15.577C15.373 15.678 15.178 15.873 15.077 16.118C15.026 16.24 15 16.37 15 16.5V28.5C15 28.766 15.105 29.02 15.293 29.207L19.292 33.206C19.384 33.298 19.493 33.372 19.615 33.423C19.736 33.473 19.866 33.5 20 33.5H32C32.553 33.5 33 33.053 33 32.5V20.5C33 20.366 32.973 20.236 32.922 20.115ZM29.586 19.5H20.414L18.414 17.5H27.586L29.586 19.5ZM17 18.914L19 20.914V30.086L17 28.086V18.914Z' fill='white')
									p.sec3-bottom-page__text Mauris volutpat mi non urna maximus maximus eu tristique
							.sec3-bottom-page__item
								.sec3-bottom-page__column
									svg(width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg')
										circle(cx='24' cy='24.5' r='24' fill='#1F2120')
										path(d='M32.922 20.115C32.871 19.993 32.797 19.883 32.705 19.792L28.706 15.793C28.52 15.605 28.266 15.5 28 15.5H16C15.87 15.5 15.74 15.526 15.618 15.577C15.373 15.678 15.178 15.873 15.077 16.118C15.026 16.24 15 16.37 15 16.5V28.5C15 28.766 15.105 29.02 15.293 29.207L19.292 33.206C19.384 33.298 19.493 33.372 19.615 33.423C19.736 33.473 19.866 33.5 20 33.5H32C32.553 33.5 33 33.053 33 32.5V20.5C33 20.366 32.973 20.236 32.922 20.115ZM29.586 19.5H20.414L18.414 17.5H27.586L29.586 19.5ZM17 18.914L19 20.914V30.086L17 28.086V18.914Z' fill='white')
									p.sec3-bottom-page__text Praesent nec mauris quis nulla feugiat vulputate at sit amet odio
							.sec3-bottom-page__item
								.sec3-bottom-page__column
									svg(width='48' height='49' viewBox='0 0 48 49' fill='none' xmlns='http://www.w3.org/2000/svg')
										circle(cx='24' cy='24.5' r='24' fill='#1F2120')
										path(d='M32.922 20.115C32.871 19.993 32.797 19.883 32.705 19.792L28.706 15.793C28.52 15.605 28.266 15.5 28 15.5H16C15.87 15.5 15.74 15.526 15.618 15.577C15.373 15.678 15.178 15.873 15.077 16.118C15.026 16.24 15 16.37 15 16.5V28.5C15 28.766 15.105 29.02 15.293 29.207L19.292 33.206C19.384 33.298 19.493 33.372 19.615 33.423C19.736 33.473 19.866 33.5 20 33.5H32C32.553 33.5 33 33.053 33 32.5V20.5C33 20.366 32.973 20.236 32.922 20.115ZM29.586 19.5H20.414L18.414 17.5H27.586L29.586 19.5ZM17 18.914L19 20.914V30.086L17 28.086V18.914Z' fill='white')
									p.sec3-bottom-page__text Quisque pretium dolor et lectus placerat, eget elementum
		section.sec4-bottom-page
			.container
				.sec4-bottom-page__row
					.sec4-bottom-page__body
						.title ПРЕДОТВРАЩЕНИЕ ПЕРЕЛИВА
						.sec4-bottom-page__img.resp-mob
							img(src="img/bottom-page/sec4.jpg", alt="alt")
						p
							b Системы предотвращения перелива являются частью рекомендаций API и обязательны при использовании систем нижнего налива.
						p Система функционирует как мера экстренного прекращения налива в случае механических и иных непредвиденных обстоятельств, потенциально способных привести к катастрофическому проливу нефтепродуктов.
						p
							b Возможные неисправности в результате которых может произойти перелив:
						ul
							li Неисправность счетчика;
							li В редких случаях может произойти сбой счетчика модуля отпуска нефтепродуктов;
							li Человеческий фактор;
							li Оператор может задать неверный объем нефтепродуктов.Существуют данные об ошибках операторов, в попытках заполнить отсек дважды;
							li Ошибка при эксплуатации;
							li Остатки нефтепродуктов от предшествующего налива;
						p Во время заполнения отсека автоцистерны нижним наливом, люки остаются закрытыми, не допуская перелива нефтепродуктов через верх цистерны. Сложность метода заключается в невозможности визуально контролировать уровень наполнения отсека и, следовательно,предотвратить перелив. Система предотвращения перелива призвана устранить эту угрозу.
					.sec4-bottom-page__img-wrapper.resp-desk
						.sec4-bottom-page__img
							img(src="img/bottom-page/sec4.jpg", alt="alt")
		section.sec5-bottom-page
			.sec5-bottom-page__row
				.sec5-bottom-page__img
					img(src="img/bottom-page/sec5.jpg", alt="alt")
				.sec5-bottom-page__body
					.sec5-bottom-page__body-inner
						.title ОПТИЧЕСКИЕ СИСТЕМЫ ПРЕДОТВРАЩЕНИЯ ПЕРЕЛИВА
						p Самым эффективный инструмент для обеспечения безопасности при нижнем наливе. Оптические сенсоры срабатывают в случае превышения заданного уровня нефтепродуктов в отсеке и автоматически отключают насос. По стандартам API, Системы предотвращения перелива обязаны иметь функцию самодиагностики. Таким образом, оператор будет уверен, что система функционирует правильно еще перед началом загрузки.
		section.sec6-bottom-page
			.container
				.sec6-bottom-page__row
					.sec6-bottom-page__left
						.sec6-bottom-page__left-inner
							.title ОБОРУДОВАНИЕ ДЛЯ НИЖНЕГО НАЛИВА
							p Оборудование терминала и автоцистерны под использование системы нижнего налива устанавливается под стандарты API. Стандарты разработаны американской некоммерческой организацией American Petroleum Institute, созданные для того, чтобы упорядочить процессы в добыче и переработке нефти. Благодаря единому стандарту, все производители выпускают системы совместимого типа и у потребителя появляется широкий выбор нижнего налива.
							p
								b Терминал нижнего налива оборудуется из двух составных частей — сама установка и API муфта, при помощи которых будет осуществляться закачка в цистерну.
					.sec6-bottom-page__right
						.sec6-bottom-page__right-top
							p Существует два типа: установки с неподвижными металлическими трубами и комбинированные установки в которые входят API муфты, гибкие шланги, шарнирных механизмов, которые в свою очередь упрощают процесс состыковки, а также позволяют перекрещивать шланги и проводить,налив через несколько отсеков одновременно.
								svg(width='70' height='159' viewBox='0 0 70 159' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M44.7836 154V156.5H47.2836H65H67.5V154V5V2.5H65H52.9782H52.5558L52.1568 2.63879L6.17861 18.6331L3.81717 19.4546L4.63887 21.816L9.9116 36.9685L10.7293 39.3184L13.0831 38.5119L44.7836 27.6504V154Z' fill='#F0F0F0' stroke='#F0F0F0' stroke-width='5')
						.sec6-bottom-page__right-bottom
							p API муфта — вторая составная часть терминала расположена на конце наливной установки. Ее форма сопоставима со всеми адаптерами на цистернах, оборудованных нижним наливом по стандартам API. Распространены два типа муфт — ручные, где оператор фиксирует рычажный механизм и полуавтоматические, которые обеспечивают сухое соединение.
								svg(width='120' height='160' viewBox='0 0 120 160' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M117.016 138.914V136.414H114.516H26.2801C26.5698 135.629 26.8831 134.872 27.2197 134.143C27.9285 132.607 28.9514 131.089 30.3229 129.592C31.9514 127.828 33.3441 126.439 34.5075 125.405L34.5624 125.356L34.6143 125.304C35.6739 124.245 37.5077 122.834 40.2356 121.061C42.9928 119.268 45.1709 117.908 46.7827 116.968L46.8474 116.93L46.9098 116.888C48.4773 115.843 51.2368 114.224 55.2509 112.01L55.2794 111.994L55.3075 111.978C59.3325 109.618 62.4733 107.734 64.7197 106.33C65.7778 105.669 67.3997 104.722 69.6078 103.479L69.6249 103.47L69.6418 103.46C76.3012 99.5754 81.5243 96.4419 85.3 94.0647C89.1358 91.6495 93.2282 88.6841 97.5755 85.179C102.11 81.6351 105.577 78.2006 107.854 74.8623L107.868 74.8411L107.882 74.8196C110.095 71.4263 111.979 67.422 113.555 62.8371C115.179 58.1123 115.977 52.9851 115.977 47.4777C115.977 33.4544 110.667 22.3581 100.003 14.5055C89.6646 6.79032 76.9948 3 62.1478 3C45.0518 3 30.8604 7.64142 19.7921 17.1078C8.67086 26.6194 3.12343 39.1771 3.12343 54.5432V59.5307V62.0307H5.62343H23.4951H25.9951V59.5307V54.751C25.9951 45.18 29.3807 37.8173 36.0842 32.3786L36.0951 32.3698L36.106 32.3608C42.9291 26.6963 51.5488 23.7936 62.1478 23.7936C71.2875 23.7936 78.6205 26.0391 84.3311 30.3538L84.3558 30.3724L84.381 30.3905C90.0421 34.4517 92.8975 40.1749 92.8975 47.8933C92.8975 51.3175 92.2651 54.4386 91.0267 57.287L91.0082 57.3296L90.9913 57.3728C89.8167 60.3744 88.4009 62.934 86.7617 65.0776L86.7546 65.0869L86.7476 65.0962C85.3233 66.9952 82.6025 69.4469 78.3648 72.4543L78.349 72.4655L78.3333 72.477C74.2045 75.5048 70.65 77.9645 67.6634 79.865C64.6588 81.7771 59.845 84.666 53.1992 88.5428L53.1859 88.5506L53.1726 88.5585C52.4691 88.9806 51.5662 89.5363 50.4678 90.2225C40.9418 95.7453 34.3724 99.726 30.827 102.136C27.3701 104.442 22.9147 107.985 17.4883 112.716L17.4761 112.727L17.4641 112.737C11.9844 117.64 8.10337 122.876 5.98675 128.47L5.98003 128.488L5.97358 128.506C4.07071 133.775 2.93029 139.98 2.50449 147.077L2.5 147.152V147.227V154.5V157H5H114.516H117.016V154.5V138.914Z' fill='#F0F0F0' stroke='#F0F0F0' stroke-width='5')
		section.sec7-bottom-page
			.container
				.title ОСОБЕННОСТИ СИСТЕМ НИЖНЕГО НАЛИВА:
				.sec7-bottom-page__items
					.sec7-bottom-page__row.resp-desk
						.sec7-bottom-page__item
							.sec7-bottom-page__column
								.sec7-bottom-page__item-head Клапан воздушного переключения
						.sec7-bottom-page__item
							.sec7-bottom-page__column
								.sec7-bottom-page__item-head API адаптер
						.sec7-bottom-page__item
							.sec7-bottom-page__column
								.sec7-bottom-page__item-head Пневматические донные клапаны
						.sec7-bottom-page__item
							.sec7-bottom-page__column
								.sec7-bottom-page__item-head Пылезащитные крышки
					.sec7-bottom-page__row
						.sec7-bottom-page__item
							.sec7-bottom-page__column
								img(src="img/bottom-page/sec7(1).png", alt="alt")
								.sec7-bottom-page__item-head.resp-mob Клапан воздушного переключения
								.sec7-bottom-page__item-text
									p Клапаны используются в комплекте с API адаптерами, он выполняет важную функцию: во время соединения активирует стояночный тормоз автоприцепа или блокирует включение двигателя.
									br
									p Клапаны используются вместе с адаптерами рециркуляции ПВС. Во время установки адаптер рециркуляции ПВС, муфта отвода ПВС вдавливает поршень клапана воздушного переключения аналогично гравитационному переходнику.
						.sec7-bottom-page__item
							.sec7-bottom-page__column
								img(src="img/bottom-page/sec7(2).png", alt="alt")
								.sec7-bottom-page__item-head.resp-mob API адаптер
								.sec7-bottom-page__item-text
									p API адаптер — главный компонент системы нижнего налива, его размеры строго регламентированы для точной совместимости. Конструкция адаптера существует в двух вариантах — открытого типа и гравитационного.
									br
									p На открытом адаптере состыковка происходит вручную. На гравитационном для соединения необходим переходник, в который входит выжимное устройство.
						.sec7-bottom-page__item
							.sec7-bottom-page__column
								img(src="img/bottom-page/sec7(3).png", alt="alt")
								.sec7-bottom-page__item-head.resp-mob Пневматические донные клапаны
								.sec7-bottom-page__item-text
									p Пневматические донные клапаны — исключают угрозу разлива, они имеют специальный проток, по которой происходит скол нижней части клапана в случае аварии. Таким образом произойдет потеря только части горючего в трубе.
									br
									p Блок управления донными клапанами предназначен для открытия клапанов рециркуляции ПВС и пневматических донных клапанов.
						.sec7-bottom-page__item
							.sec7-bottom-page__column
								img(src="img/bottom-page/sec7(4).png", alt="alt")
								.sec7-bottom-page__item-head.resp-mob Пылезащитные крышки
								.sec7-bottom-page__item-text
									p Пылезащитные крышки — специально сконструированы для защиты адаптеров от вредных веществ и повреждений в ходе эксплуатации, устройство крышки предотвращает случайное открытие.
		section.sec8-bottom-page
			.container
				.title ПРЕИМУЩЕСТВА СИСТЕМ НИЖНЕГО НАЛИВА:
				.sec8-bottom-page__img.sec8-bottom-page__img--first.resp-mob
					img(src="img/bottom-page/sec8(1).jpg", alt="alt")
				.sec8-bottom-page__items
					.sec8-bottom-page__row
						.sec8-bottom-page__body
							ul
								li
									span.sec8-bottom-page__num 1
									span
										b В первом случае, изначально происходит открытие всех клапанов рециркуляции ПВС, после которого происходит запитывание пневматической линии управления донными клапанами.
								li
									span.sec8-bottom-page__num 2
									span
										b Во втором случае, подается питание на линии управления донными клапанами контрольной кнопкой на блоке управления, после которого происходит открытие клапана рециркуляции ПВС с донным клапаном.
							p Блоки управления разделяются по своему функционалу, с индикацией открытия донных клапанов или без. Использование пневматических блоков управления с индикацией открытия донных клапанов, позволяет оператору удостовериться в срабатывание донного клапана и вначале слива нефтепродуктов.						p Система нижнего налива уменьшает экологические и экономические потери от испарений и пролива, увеличивает скорости операций слива-налива, позволяет вести более точный учет отпуска нефтепродуктов.
						.sec8-bottom-page__img-wrapper.resp-desk
							.sec8-bottom-page__img
								img(src="img/bottom-page/sec8(1).jpg", alt="alt")
					.sec8-bottom-page__row
						.sec8-bottom-page__body
							p Существует множество модификаций крышек горловины, самая простая версия – глухая. Крышки горловины — существуют в различных модификациях самая простая крышка горловины — глухая. Тем не менее, существует потребность в вентиляции, мойке и других манипуляциях, требующих периодического проникновения внутрь отсека. Крышка горловины может содержать отверстия для: верхнего налива, клапана рециркуляции, клапана малых дыханий, датчика предотвращения перелива и различные устройства контроля. В основном это оборудование установлено на крышке горловины заводским способом, в остальных случаях— устанавливается самостоятельно.
						.sec8-bottom-page__img-wrapper
							.sec8-bottom-page__img
								img(src="img/bottom-page/sec8(2).jpg", alt="alt")
					.sec8-bottom-page__row
						.sec8-bottom-page__body
							p Клапан рециркуляции ПВС открывается в момент налива или разгрузки отсеков цистерны.Пропускная способность клапанов определена рекомендациями API. При наливе нефтепродукта ПВС вытесняется из верхней части емкости автоцистерны. При разгрузке емкости внутрь попадает воздух или ПВС из подземных резервуаров с АЗС. До изобретения нижнего способа налива эта функция выполнялась посредством простого открытия крышки люка наверху автоцистерны, что приводило к значительному загрязнению топлива, окружающей среды и дополнительным затратам времени.Компенсационный клапан монтируется на линии отвода ПВС автоцистерны и обеспечивает вентиляцию данной линии во время транспортировки нефтепродуктов. При подаче АЦ под погрузку или разгрузку, компенсационный клапан обеспечивает герметичность линии рециркуляции ПВС.
						.sec8-bottom-page__img-wrapper
							.sec8-bottom-page__img
								img(src="img/bottom-page/sec8(3).jpg", alt="alt")
					.sec8-bottom-page__row
						.sec8-bottom-page__body
							p Адаптер рециркуляции ПВС устанавливается на конце линии отвода ПВС для присоединения шланга рециркуляции посредства муфты отвода ПВС. Они представляют собой поршневые адаптеры, выпускающие пары после присоединения муфты отвода ПВС. В основном адаптер отвода ПВС снабжен клапаном воздушного переключения, смотровым стеклом и дренажным отверстием.
							br
							p Муфта отвода ПВС представляет собой устройство для присоединения к адаптеру отвода ПВС и адаптеру линии рециркуляции ПВС подземных резервуаров на АЗС. Она может содержать в себе поршень или копер и должна обеспечивать герметичность соединения. Так же при присоединении муфты отвода ПВС к адаптеру отвода ПВС на ППЦ (полуприцеп-цистерна) , происходит активация пневмопереключателя, установленного на данном адаптере. Линия отвода ПВС используется для соединения клапанов рециркуляции с ПВС адаптером отвода ПВС, установленному на борту ППЦ . Все клапаны рециркуляции должны быть соединены в единую линию (коллектор) отвода ПВС. Размер и емкость линий отвода ПВС описаны в рекомендациях API.
						.sec8-bottom-page__img-wrapper
							.sec8-bottom-page__img
								img(src="img/bottom-page/sec8(4).jpg", alt="alt")
		section.sec9-bottom-page
			.sec9-bottom-page__row
				.sec9-bottom-page__body
					.sec9-bottom-page__body-inner
						.title РЕКУПЕРАЦИЯ ПАРОВОЗДУШНОЙ СМЕСИ НЕФТЕПРОДУКТОВ ПРИ НИЖНЕМ НАЛИВЕ
						.sec9-bottom-page__img.resp-mob
							img(src="img/bottom-page/sec9.jpg", alt="alt")
						p Процесс сбора ПВС нефтепродуктов, как правило, происходит в 2-х случаях:
						ul
							li
								span.sec9-bottom-page__num 1
								span
									b на терминале налива, во время загрузки автоцистерны;
							li
								span.sec9-bottom-page__num 2
								span
									b на АЗС, во время разгрузки автоцистерны.
						p На терминале налива ПВС, вместо выброса в атмосферу паровоздушная смесь вытесняется под давлением топлива из емкости автоцистерны для последующей переработки. Пары могут собираться как при верхнем, так и при нижнем способах налива нефтепродуктов, однако нижний налив является наиболее эффективным способом рециркуляции ПВС. Во время нижнего налива, продукт загружается через систему труб, API адаптеров и донных клапанов, расположенных в нижней части автоцистерны.
						br
						p В течении всего процесса налива крышка люка на горловине автоцистерны остается закрытой и, таким образом, ПВС удаляется через клапан рециркуляции ПВС. Клапаны рециркуляции ПВС каждого отсека соединены в один коллектор, выводящий ПВС к адаптеру отвода ПВС. К адаптеру отвода паров присоединяется рукав рекуперации ПВС или установка отвода ПВС, направляющие пары из АЦ к месту переработки. В большинстве случаев, емкость автоцистерны, прибывающей на терминал налива, полностью заполнена ПВС, собранной на АЗС и разгрузка через рукав для отвода ПВС осуществляется с полной нагрузкой.
				.sec9-bottom-page__img-wrapper.resp-desk
					.sec9-bottom-page__img
						img(src="img/bottom-page/sec9.jpg", alt="alt")
		section.sec10-bottom-page
			.container
				.sec10-bottom-page__row
					.sec10-bottom-page__img-wrapper.resp-desk
						.sec10-bottom-page__img
							img(src="img/bottom-page/sec10.jpg", alt="alt")
					.sec10-bottom-page__body
						.title СБОР ПВС НА АЗС
						.sec10-bottom-page__img.resp-mob
							img(src="img/bottom-page/sec10.jpg", alt="alt")
						p При разгрузке топлива на АЗС процесс сбора ПВС осуществляется одновременно со сливом нефтепродукта в подземную емкость. Если не применять систему сбора, пары нефтепродуктов удаляются из подземного топливохранилища через систему дыхательных клапанов, попадая в атмосферу. Благодаря системе рециркуляции, ПВС поступает в емкость автоцистерны.
						br
						p При правильном использовании, данная система работает очень эффективно. Необходимо отметить, что как при загрузке ПВС, так и при их разгрузке используется одна и та же система рециркуляции ПВС, установленная на АЦ.
						br
						p Назначение системы рециркуляции ПВС заключается в:
						ul
							li Защите экологии от вредных выбросов ядовитых соединений;
							li Защите нефтепродуктов от испарения при загрузке и выгрузке;
							li Защита от перелива в случае нештатных ситуаций.
						p
							b Машиностроительный завод BONUM производит технику с нижним наливом, а также осуществляет переоборудование цистерн с верхним наливом. Узнайте больше о нижнем наливе!
		section.my-new-form
			.container
				.my-new-form__content
					.title Задать вопрос менеджеру
					form(action="" method="method")
						.my-new-form__row
							.my-new-form__left
								.my-new-form__item
									input.my-new-form__input(type='text' name='name' placeholder='Имя')
								.my-new-form__item
									input.my-new-form__input(type='tel' name='name' placeholder='Телефон')
								.my-new-form__item
									input.my-new-form__input(type='email' name='name' placeholder='Email')
							.my-new-form__right
								.my-new-form__right-item
									label.my-new-form__right-label(for='my-new-form__textarea') Задайте вопрос
									textarea#my-new-form__textarea.my-new-form__textarea(name='message')
						.my-new-form__row
							.my-new-form__left
								.my-new-form-checkbox
									input#my-new-formAgreement.my-new-form-checkbox__input(checked='' type='checkbox' name='agreement')
									label.my-new-form-checkbox__label(for='my-new-formAgreement')
										span
											| Я принимаю условия политики конфиденциальности и даю согласие на обработку моих персональных данных
							.my-new-form__right
								button.my-new-form__right-button(type='submit') отправить
	include ../../blocks/modules/footer/footer

	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
