extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "Homepage";
	- const headerModClass = 'header--light';

block content
	include ../../blocks/modules/header/header.pug

	.main-page
		include ../../blocks/modules/hero/hero.pug
		include ../../blocks/modules/catalog/catalog.pug
		include ../../blocks/modules/home-stocks/home-stocks.pug
		include ../../blocks/modules/banner/banner.pug
		include ../../blocks/modules/get-catalog/get-catalog.pug
		include ../../blocks/modules/advantages/advantages.pug
		include ../../blocks/modules/company/company.pug
		include ../../blocks/modules/leasing/leasing.pug
		include ../../blocks/modules/news/news.pug
		include ../../blocks/modules/s-subscribe/s-subscribe.pug
		include ../../blocks/modules/feedback/feedback.pug

	include ../../blocks/modules/footer/footer.pug

	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
