extends ../layouts/default
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header


	//.breakpoints
		.breakpoints__container.container-new
			ul.breakpoints__list
					li.breakpoints__item
						a(href='#').breakpoints__text Сервис и гарантии
					li.breakpoints__item
						span.breakpoints__text Установка систем нижнего налива


	.main-page.main-page-loc

		section.hero
			.hero__slider.hero__slider--internships.swiper.js-hero-slider
				.swiper-wrapper
					.hero__slide.hero__slide--team.swiper-slide
						.hero__bg
							img(src='/img/interships/internships_s1_bg.jpg', alt='')
						.container.container--small.hero__container
							h1.h1.h1--uppercase.hero__title(style="color:#fff;") BONUM - лучший<br> выбор для студентов
							+button('оставить заявку', 'hero__button', '#')


		section.sec9-bottom-page.sec9-bottom-page--internships
			.sec9-bottom-page__row
				.sec9-bottom-page__body
					.sec9-bottom-page__body-inner
						.title НА ЗАВОДЕ BONUM ВСЕГДА<br> ИНТЕРЕСНО И&nbsp;КРУТО 
						.sec9-bottom-page__img.sec9-bottom-page__img--resp-mob
							img(src="img/interships/internships_s2_bg.jpg", alt="alt")
						.sec9-bottom-page__body-text
							p Мы не просто делаем надёжную стильную технику, мы решаем интересные задачи, реализуем проекты, которые меняют отрасль машиностроения. Полуприцепы BONUM работают ведущих сельскохозяйственных, транспортных, нефтяных. строительных компаниях. Если ты студент или выпускник и хочешь воплотить свои идеи в реальность, и делать большое и значимое дело - приходи к нам!  
						
				.sec9-bottom-page__img-wrapper.resp-desk
					.sec9-bottom-page__img
						img(src="img/interships/internships_s2_bg.jpg", alt="alt")

		section.partners.partners--internships
			.container
				.partners__content
					.partners__content--subtitle.tac 4 ПРИЧИНЫ ПРОЙТИ ПРАКТИКУ НА ЗАВОДЕ BONUM
					.partners__items.partners__items--internships
						.partners__row
							.partners__item.item-partners
								.item-partners__column
									.item-partners__title РЕАЛЬНЫЙ ОПЫТ
									.item-partners__icon
										img(src="img/interships/internships_s3_icon_1.svg", alt="alt")
									.item-partners__text Мы не про скучную теорию, мы про  увлекательные задачи и реальные проекты на современном заводе.
							.partners__item.item-partners
								.item-partners__column
									.item-partners__title НАСТАВНИКИ-ПРОФИ
									.item-partners__icon
										img(src="img/interships/internships_s3_icon_2.svg", alt="alt")
									.item-partners__text У тебя будет классный наставник, который сможет тебя многому научить.
							.partners__item.item-partners
								.item-partners__column
									.item-partners__title СИЛА КОМАНДЫ
									.item-partners__icon
										img(src="img/interships/internships_s3_icon_3.svg", alt="alt")
									.item-partners__text У нас дружный коллектив, где работа в команде продуктивно и даже весело. 
							.partners__item.item-partners
								.item-partners__column
									.item-partners__title ЦЕНИМ ИНИЦИАТИВУ
									.item-partners__icon
										img(src="img/interships/internships_s3_icon_4.svg", alt="alt")
									.item-partners__text Тебя будут слушать. Ты смодешь выдвинуть и реализовать свои идеи. 
					
					
		section.hero
			.hero__slider.hero__slider--internships.hero__slider--internships--gap-54.swiper.js-hero-slider
				.swiper-wrapper
					.hero__slide.hero__slide--team.swiper-slide
						.hero__bg
							img(src='/img/interships/internships_s4_bg.jpg', alt='')
						.container.container--small.hero__container
							h1.h1.h1--uppercase.hero__title(style="color:#fff;") пройди практику<br> или стажировку<br> на заводе bonum
							+button('оставить заявку', 'hero__button', '#')




		section.our-team 
			.container
				.our-team-flex
					each val in [1, 2, 3, 4, 5, 6]
						.our-team-item.our-team-item--simple
							.our-team-item__inner 
								.our-team-item__title КРИСТИНА К.
								.our-team-item__center-wrap 
									.our-team-item__pic 
										img(src="/img/interships/internships_s5_p_1.jpg", alt="")
									.our-team-item__text 
										p Мой путь в BONUM начался после того, как я прошла практику зимой 2021 года, будучи студенткой второго курса РГЭУ на кафедре маркетинга и рекламы. С первого дня в компании меня встретили очень тепло.a
										p Благодаря сотрудникам завода, я быстро влилась в рабочий процесс и окунулась в атмосферу такого масштабного предприятия. 
										p.open-modal-with-text.js-open-modal-with-text Читать полностью
										.js-hidden-part-wrap(style="display:none;")
											.modal-part-internships
												.modal-part-internships__close(data-fancybox-close) 
												.modal-part-internships__name Кристина К.
												.modal-part-internships__position маркетолог
												.modal-part-internships__text 
													p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aperiam sit cumque deleniti impedit dicta excepturi eos! Natus sit saepe corrupti? Fugit officiis sit voluptate aut alias itaque corrupti, dolorem eius expedita non, ipsam quae dolor.
													p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident officiis modi nemo nam iure. Repellendus eligendi enim quasi numquam, soluta ullam, provident sapiente iste tempore rem tenetur? Perferendis a, aspernatur ipsum porro quia nulla aliquam fugit dolor laborum? Eum beatae id delectus accusamus ad eius animi debitis eaque! Nihil vero laudantium unde fugiat reprehenderit facilis?
													p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident officiis modi nemo nam iure. Repellendus eligendi enim quasi numquam, soluta ullam, provident sapiente iste tempore rem tenetur? Perferendis a, aspernatur ipsum porro quia nulla aliquam fugit dolor laborum? Eum beatae id delectus accusamus ad eius animi debitis eaque! Nihil vero laudantium unde fugiat reprehenderit facilis?
								.our-team-item-btn
									.our-team-item-btn__text маркетолог
									.our-team-item-btn__icon 
										img(src="img/icon-link.svg", alt="")


					.our-team-item.our-team-item--full-w
						.our-team-item__inner 
							.our-team-item__center-wrap 
								.our-team-item__pic 
									img(src="/img/interships/internships_s5_p_1.jpg", alt="")
								.our-team-item__text 
									p Если тебя заинтересовал наш завод, если ты студент и хочешь пройти у нас производственную практику или стажировку, возможно ты уже молодой специалист и тебя интересует развитие карьеры, оставь заявку.
									p 
										b Главное - расскажите о себе подробно.

							a.our-team-item-btn(href="#js-main-modal-title-from-btn") 
								.our-team-item-btn__text оставь заявку
								.our-team-item-btn__icon 
									img(src="img/icon-link.svg", alt="")

									
		section.advantages.advantages--internships
			.container.advantages__container
				.advantages__pagination-wrapper
					.advantages__pagination
				.advantages__slider.advantages__slider--internships.swiper.js-advantages-slider
					.title.title--white.advantages__title о работе со студентами
					.advantages__skip
						img(src='./img/svg/i-play.svg', alt="")
						span Пропустить
					.swiper-wrapper
						.advantages__slide.swiper-slide
							.advantages-internships-text
								.advantages-internships-text__inner
									| мы активно сотрудничаем с университетами, наши специалисты выступают с лекциями и мастер классами в вузах и сузах
							.advantages__image
								img(src='./img/picture/advantages/1.jpg', srcset='./img/picture/advantages/1@2x.jpg 2x', alt='')
						.advantages__slide.swiper-slide
							.advantages-internships-text
								.advantages-internships-text__inner
									| мы активно сотрудничаем с университетами, наши специалисты выступают с лекциями и мастер классами в вузах и сузах 1
							.advantages__image
								img(src='./img/picture/advantages/2.jpg', srcset='./img/picture/advantages/2@2x.jpg 2x', alt='')
						.advantages__slide.swiper-slide
							.advantages-internships-text
								.advantages-internships-text__inner
									| мы активно сотрудничаем с университетами, наши специалисты выступают с лекциями и мастер классами в вузах и сузах
							.advantages__image
								img(src='./img/picture/advantages/1.jpg', srcset='./img/picture/advantages/1@2x.jpg 2x', alt='')
						.advantages__slide.swiper-slide
							.advantages-internships-text
								.advantages-internships-text__inner
									| мы активно сотрудничаем с университетами, наши специалисты выступают с лекциями и мастер классами в вузах и сузах 1
							.advantages__image
								img(src='./img/picture/advantages/2.jpg', srcset='./img/picture/advantages/2@2x.jpg 2x', alt='')
								

					.advantages__nav
						.swiper-btn.swiper-btn--prev
							svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
								path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
						.swiper-btn.swiper-btn--next
							svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
								path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')


		section.feedback
			.feedback__image
				img(src='./img/picture/feedback.jpg', srcset='./img/picture/feedback@2x.jpg 2x', alt='')
			.feedback__outer
				form.feedback__form(action='', method='post')
					.title.feedback__title ПОМОЖЕМ ПОДОБРАТЬ МОДЕЛЬ И КОМПЛЕКТАЦИЮ ТЕХНИКИ
					+field('text', 'firstName', 'Имя', 'feedback__field')(required='true')
					+field('text', 'number', 'Телефон', 'feedback__field')(required='true')
					+field('email', 'email', 'Email', 'feedback__field')
					+field(
						'checkbox',
						'policy',
						'Я принимаю условия политики конфиденциальности и даю согласие на обработку моих персональных данных',
						'feedback__field'
					)(required='true')
					+button('отправить', 'button--outline-inverse feedback__button')(type='submit')



	include ../../blocks/modules/footer/footer

	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
