extends ../layouts/default.pug
include ../helpers/mixins.pug


block variables
	- const title = "Main";

block content
	include ../../blocks/modules/header/header
	//- include ../../blocks/modules/breakpoints/breakpoints

	.main-page

		section.slider
			.slider-top
				.container
					.slider-top__top
						.slider-top__slide
							.slider-top__slide-title Бензовоз 30 м<sup>3
							.slider-top__slide-text 914210
							img(src="./img/picture/slider-top-1.png", alt="").slider-top__slide-img
							.slider-top--buttons
								+button('заказать', 'button--small button--inverse company__button slider-top--buttons__order', '#')
								+button('получить прайс', 'button--small button--outline-inverse company__button', '#')
							.slider-top--nav
								.slider-top--prev
									<svg width="44" height="88" viewBox="0 0 44 88" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592" stroke="#1F2120" stroke-width="2"/>
									<path d="M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z" fill="#1F2120"/>
									</svg>
								.slider-top--next
									<svg width="44" height="88" viewBox="0 0 44 88" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592" stroke="#1F2120" stroke-width="2"/>
									<path d="M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z" fill="#1F2120"/>
									</svg>
			.slider-info
				.container
					ul.slider-info__slide-wrap
						li.slider-info__slide-item
							.slider-info__slide-icon
								<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M24.409 8.88417C24.3495 8.74183 24.2632 8.6135 24.1558 8.50733L19.4903 3.84183C19.2733 3.6225 18.977 3.5 18.6667 3.5H4.66667C4.515 3.5 4.36333 3.53033 4.221 3.58983C3.93517 3.70767 3.70767 3.93517 3.58983 4.221C3.53033 4.36333 3.5 4.515 3.5 4.66667V18.6667C3.5 18.977 3.6225 19.2733 3.84183 19.4915L8.50733 24.157C8.61467 24.2643 8.74183 24.3507 8.88417 24.4102C9.02533 24.4685 9.177 24.5 9.33333 24.5H23.3333C23.9785 24.5 24.5 23.9785 24.5 23.3333V9.33333C24.5 9.177 24.4685 9.02533 24.409 8.88417ZM20.517 8.16667H9.81633L7.483 5.83333H18.1837L20.517 8.16667ZM5.83333 7.483L8.16667 9.81633V20.517L5.83333 18.1837V7.483Z" fill="white"/>
								</svg>
							.slider-info__slide-block
								.slider-info__slide-title Объем цистерны
								.slider-info__slide-text 30м<sup>3
						li.slider-info__slide-item
								.slider-info__slide-icon
									<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M14 1.3335C14 1.3335 4.66666 11.2338 4.66666 17.5C4.66666 22.6998 8.80016 26.8333 14 26.8333C19.1998 26.8333 23.3333 22.6998 23.3333 17.5C23.3333 11.2338 14 1.3335 14 1.3335ZM14 24.5C10.0742 24.5 6.99999 21.4258 6.99999 17.5C6.99999 14.2275 10.7952 8.65433 14.0012 4.84633L14 24.5Z" fill="white"/>
									</svg>
								.slider-info__slide-block
									.slider-info__slide-title Окраска корпуса
									.slider-info__slide-text PRIME System
						li.slider-info__slide-item
							.slider-info__slide-icon
								<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M14 2.19653L2.05762 8.16659L4.14486 9.21021L7.89095 11.0833L2.05762 13.9999L7.89095 16.9166L2.05762 19.8333L14 25.8033L25.9424 19.8333L20.109 16.9166L25.9424 13.9999L20.109 11.0833L25.9424 8.16659L14 2.19653ZM14 4.8033L20.7243 8.16659L14 11.5299L7.27572 8.16659L14 4.8033ZM10.5 12.3866L14 14.1366L17.5 12.3866L20.7243 13.9999L14 17.3632L7.27572 13.9999L10.5 12.3866ZM10.5 18.22L14 19.97L17.5 18.22L20.7243 19.8333L14 23.1965L7.27572 19.8333L10.5 18.22Z" fill="white"/>
								</svg>
							.slider-info__slide-block
								.slider-info__slide-title Количество отсеков
								.slider-info__slide-text 3 шт
						li.slider-info__slide-item
							.slider-info__slide-icon
								<svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M14 1.16675C11.4263 1.16675 9.33334 3.25975 9.33334 5.83341H5.83334C4.66784 5.83341 3.69795 6.64368 3.51595 7.85002L2.3584 23.0759C2.2569 23.7433 2.4649 24.4131 2.92806 24.9148C3.37023 25.3931 4.004 25.6667 4.66667 25.6667H23.3333C23.996 25.6667 24.6298 25.3931 25.0697 24.9171C25.5352 24.4154 25.7429 23.7447 25.6507 23.1625L24.4863 7.85002L24.4749 7.76115C24.3023 6.64465 23.3322 5.83341 22.1667 5.83341H18.6667C18.6667 3.25975 16.5737 1.16675 14 1.16675ZM14 3.50008C15.2868 3.50008 16.3333 4.54658 16.3333 5.83341H11.6667C11.6667 4.54658 12.7132 3.50008 14 3.50008ZM5.83106 8.16675L22.1712 8.17358L23.3333 23.3334L4.67578 23.3403L5.83106 8.16675ZM7.78841 10.4477V19.1567H9.69564V17.4112L10.2357 16.8735L11.5732 19.1567H13.7585L11.4707 15.5473L13.6172 13.0248H11.3294L9.88933 14.8158L9.69792 15.071V10.4477H7.78841ZM16.8073 12.9132C16.301 12.9132 15.8581 13.0427 15.4766 13.3005C15.0951 13.5584 14.8023 13.9286 14.597 14.4034C14.394 14.8794 14.2917 15.428 14.2917 16.0463H14.2939V16.1147C14.2939 17.0748 14.5235 17.8399 14.9844 18.4115C15.4464 18.9844 16.0503 19.2683 16.7982 19.2683C17.3558 19.2683 17.8195 19.067 18.1859 18.6622V18.8559C18.1859 19.7239 17.7602 20.157 16.9144 20.157C16.3334 20.157 15.8654 19.9469 15.5107 19.5281L14.7109 20.6514C14.9338 20.9221 15.2559 21.1419 15.6771 21.3123C16.0983 21.4838 16.5336 21.5675 16.9828 21.5675C17.6093 21.5675 18.161 21.4631 18.637 21.2485C19.1142 21.0361 19.4754 20.7303 19.7262 20.3324C19.9794 19.9334 20.1045 19.4644 20.1045 18.9242V13.0248H18.3704L18.3021 13.558C17.9451 13.1275 17.4455 12.9132 16.8073 12.9132ZM17.2949 14.3852C17.7033 14.3852 17.9993 14.5256 18.1836 14.8044V17.3816C17.9946 17.6569 17.6942 17.7963 17.2835 17.7963C16.9429 17.7963 16.6784 17.6494 16.4906 17.3565C16.3016 17.0649 16.2057 16.6665 16.2057 16.1648C16.2057 15.5861 16.3038 15.1454 16.4951 14.8409C16.6888 14.5376 16.9543 14.3852 17.2949 14.3852Z" fill="#F8F8F8"/>
								</svg>
							.slider-info__slide-block
								.slider-info__slide-title Снаряженная масса
								.slider-info__slide-text от 7 100 кг

		section.photogalary.gallery
			.photogalary__swiper-container
				.container
					.title Фотогалерея
					.photogalary__swiper.swiper
						.swiper-btn.swiper-btn--prev
							svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
								path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
						.swiper-btn.swiper-btn--next
							svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
								path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
								path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
						.swiper-wrapper
							.photogalary__slide.swiper-slide
								.photogalary__img.photogalary__img--wide
									.photogalary__img-inner
										img(src="./img/picture/gallery-slider-1.jpg", alt="alt")
							.photogalary__slide.swiper-slide
								.photogalary__img.photogalary__img--double
									.photogalary__img-inner
										img(src="./img/picture/gallery-slider-1.jpg", alt="alt")
									.photogalary__img-inner
										img(src="./img/picture/gallery-slider-3.jpg", alt="alt")
							.photogalary__slide.swiper-slide
								.photogalary__img.photogalary__img--narrow
									.photogalary__img-inner
										img(src="./img/picture/gallery-slider-4.jpg", alt="alt")
							.photogalary__slide.swiper-slide
								.photogalary__img.photogalary__img--double
									.photogalary__img-inner
										img(src="./img/picture/gallery-slider-1.jpg", alt="alt")
									.photogalary__img-inner
										img(src="./img/picture/gallery-slider-1.jpg", alt="alt")


		section.property
			.container
				h2.property__title Технические характеристики

				.property-lists-new
					ul.property-list-new.property-list-new--4-in-row
						li.property__item
							.property__item-icon
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M20.922 7.615C20.871 7.493 20.797 7.383 20.705 7.292L16.706 3.293C16.52 3.105 16.266 3 16 3H4C3.87 3 3.74 3.026 3.618 3.077C3.373 3.178 3.178 3.373 3.077 3.618C3.026 3.74 3 3.87 3 4V16C3 16.266 3.105 16.52 3.293 16.707L7.292 20.706C7.384 20.798 7.493 20.872 7.615 20.923C7.736 20.973 7.866 21 8 21H20C20.553 21 21 20.553 21 20V8C21 7.866 20.973 7.736 20.922 7.615ZM17.586 7H8.414L6.414 5H15.586L17.586 7ZM5 6.414L7 8.414V17.586L5 15.586V6.414Z"/>
								</svg>
							h4.property__item-title Объем цистерны
							p.property__item-text 30м3
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M21.666 14L21.1758 16.5234C20.3516 16.8343 19.5948 17.2699 18.9316 17.8145L16.5078 16.9785L14.1719 21.0215L16.1133 22.709C16.0386 23.1672 16 23.5918 16 24C16 24.4088 16.0398 24.8326 16.1133 25.291V25.293L14.1719 26.9805L16.5078 31.0215L18.9297 30.1875C19.5929 30.7323 20.3514 31.1656 21.1758 31.4766L21.666 34H26.334L26.8242 31.4766C27.6489 31.1655 28.4049 30.7306 29.0684 30.1855L31.4922 31.0215L33.8262 26.9805L31.8867 25.291C31.9614 24.8328 32 24.4082 32 24C32 23.5925 31.9611 23.1684 31.8867 22.7109V22.709L33.8281 21.0195L31.4922 16.9785L29.0703 17.8125C28.4071 17.2677 27.6486 16.8344 26.8242 16.5234L26.334 14H21.666ZM23.3145 16H24.6855L25.0742 18L26.1172 18.3945C26.7459 18.6315 27.3107 18.9568 27.8008 19.3594L28.6641 20.0664L30.5859 19.4062L31.2715 20.5918L29.7363 21.9277L29.9121 23.0273V23.0293C29.9733 23.4042 30 23.7188 30 24C30 24.2812 29.9733 24.5957 29.9121 24.9707L29.7344 26.0703L31.2695 27.4062L30.584 28.5938L28.6641 27.9316L27.7988 28.6406C27.3087 29.0432 26.7459 29.3685 26.1172 29.6055H26.1152L25.0723 30L24.6836 32H23.3145L22.9258 30L21.8828 29.6055C21.2541 29.3685 20.6893 29.0432 20.1992 28.6406L19.3359 27.9336L17.4141 28.5938L16.7285 27.4082L18.2656 26.0703L18.0879 24.9746V24.9727C18.0276 24.5961 18 24.2807 18 24C18 23.7188 18.0267 23.4043 18.0879 23.0293L18.2656 21.9297L16.7285 20.5938L17.4141 19.4062L19.3359 20.0684L20.1992 19.3594C20.6893 18.9568 21.2541 18.6315 21.8828 18.3945L22.9258 18L23.3145 16ZM24 20C21.8035 20 20 21.8035 20 24C20 26.1965 21.8035 28 24 28C26.1965 28 28 26.1965 28 24C28 21.8035 26.1965 20 24 20ZM24 22C25.1115 22 26 22.8885 26 24C26 25.1115 25.1115 26 24 26C22.8885 26 22 25.1115 22 24C22 22.8885 22.8885 22 24 22Z" fill="white"/>
								</svg>
							h4.property__item-title Вид техники
							p.property__item-text Полуприцеп-цистерна (битумовоз)
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M24 13C22.1564 13 20.6595 14.2936 20.2031 16H15V35H20H22C22 33.8833 22.8833 33 24 33C25.1167 33 26 33.8833 26 35H27H28H33V16H27.7969C27.3405 14.2936 25.8436 13 24 13ZM24 15C25.1167 15 26 15.8833 26 17V31.6191C25.4019 31.2617 24.7427 31 24 31C23.2573 31 22.5981 31.2617 22 31.6191V17C22 15.8833 22.8833 15 24 15ZM17 18H20V33H17V18ZM28 18H31V33H28V18Z" fill="white"/>
								</svg>
							h4.property__item-title Материал колбы
							p.property__item-text Сталь 09Г2С, толщина 4 мм
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M21 15L20 17H18V16H16V17H15.918C15.0997 17 14.3387 17.508 14.0469 18.291C13.6476 19.3616 13 21.5458 13 24.5C13 27.4542 13.6476 29.6384 14.0469 30.709C14.3387 31.492 15.0997 32 15.918 32H17V33H19V32H29V33H31V32H32.082C32.9002 32 33.66 31.492 33.9531 30.7109V30.709C34.3524 29.6385 35 27.4542 35 24.5C35 21.5458 34.3524 19.3616 33.9531 18.291C33.6613 17.508 32.9003 17 32.082 17H32V16H30V17H28L27 15H21ZM15.918 19H20H28H32.082C32.4171 19.9002 33 21.8443 33 24.5C33 27.1557 32.4171 29.0998 32.082 30H15.918C15.5829 29.0998 15 27.1557 15 24.5C15 21.8443 15.5829 19.9002 15.918 19ZM24 21C24 21 21 23 21 25.5C21 26.966 21.9994 28 23.4434 28C23.1814 27.823 23 27.464 23 27C23 25.5 24 24 24 24C24 24 25 25.5 25 27C25 27.464 24.8186 27.823 24.5566 28C26.0006 28 27 26.966 27 25.5C27 23 24 21 24 21Z" fill="white"/>
								</svg>
							h4.property__item-title Форма колбы
							p.property__item-text Цилиндрическая
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M23.9999 13C21.7939 13 19.9999 14.794 19.9999 17H16.9999C16.0009 17 15.1696 17.6945 15.0136 18.7285L14.0214 31.7793C13.9344 32.3513 14.1126 32.9255 14.5096 33.3555C14.8886 33.7655 15.4319 34 15.9999 34H31.9999C32.5679 34 33.1112 33.7654 33.4882 33.3574C33.8872 32.9274 34.0652 32.3525 33.9862 31.8535L32.9882 18.7285L32.9784 18.6523C32.8304 17.6953 31.9989 17 30.9999 17H27.9999C27.9999 14.794 26.2059 13 23.9999 13ZM23.9999 15C25.1029 15 25.9999 15.897 25.9999 17H21.9999C21.9999 15.897 22.8969 15 23.9999 15ZM16.9979 19L31.0038 19.0059L31.9999 32L16.0077 32.0059L16.9979 19ZM18.6757 20.9551V28.4199H20.3104V26.9238L20.7733 26.4629L21.9198 28.4199H23.7928L21.8319 25.3262L23.6718 23.1641H21.7108L20.4764 24.6992L20.3124 24.918V20.9551H18.6757ZM26.4061 23.0684C25.9721 23.0684 25.5925 23.1794 25.2655 23.4004C24.9385 23.6214 24.6876 23.9387 24.5116 24.3457C24.3376 24.7537 24.2499 25.2239 24.2499 25.7539H24.2518V25.8125C24.2518 26.6355 24.4486 27.2913 24.8436 27.7812C25.2396 28.2723 25.7573 28.5156 26.3983 28.5156C26.8763 28.5156 27.2738 28.3431 27.5878 27.9961V28.1621C27.5878 28.9061 27.2229 29.2773 26.4979 29.2773C25.9999 29.2773 25.5988 29.0973 25.2948 28.7383L24.6093 29.7012C24.8003 29.9332 25.0764 30.1216 25.4374 30.2676C25.7984 30.4146 26.1715 30.4863 26.5565 30.4863C27.0935 30.4863 27.5665 30.3969 27.9745 30.2129C28.3835 30.0309 28.6931 29.7687 28.9081 29.4277C29.1251 29.0857 29.2323 28.6837 29.2323 28.2207V23.1641H27.746L27.6874 23.6211C27.3814 23.2521 26.9531 23.0684 26.4061 23.0684ZM26.8241 24.3301C27.1741 24.3301 27.4278 24.4505 27.5858 24.6895V26.8984C27.4238 27.1344 27.1663 27.2539 26.8143 27.2539C26.5223 27.2539 26.2956 27.128 26.1346 26.877C25.9726 26.627 25.8905 26.2855 25.8905 25.8555C25.8905 25.3595 25.9746 24.9817 26.1386 24.7207C26.3046 24.4607 26.5321 24.3301 26.8241 24.3301Z" fill="#F8F8F8"/>
								</svg>
							h4.property__item-title Снаряженная масса
							p.property__item-text от 8 350 кг
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M26.7363 14.0273C25.9739 14.0273 25.2114 14.316 24.6367 14.8906L14.8906 24.6367C13.7124 25.815 13.6809 27.7805 14.9375 28.8809L19.166 33.1113C20.3153 34.2606 22.216 34.2606 23.3652 33.1113L33.1113 23.3652C34.2606 22.216 34.2606 20.3153 33.1113 19.166L28.8359 14.8906C28.2613 14.316 27.4988 14.0273 26.7363 14.0273ZM26.7363 15.9727C26.9684 15.9727 27.1986 16.0833 27.4199 16.3047L31.6973 20.5801C32.14 21.0228 32.14 21.5084 31.6973 21.9512L21.9512 31.6973C21.5084 32.14 21.0228 32.14 20.5801 31.6973L16.2813 27.3984L16.2559 27.375C15.921 27.0818 15.8903 26.4627 16.3027 26.0508H16.3047L17.5274 24.8281L20.5567 27.9316L21.9883 26.5352L18.9414 23.4141L20.5117 21.8438L22.084 23.5332L23.5488 22.1699L21.9277 20.4277L23.5371 18.8184L26.6328 21.9141L28.0469 20.498L24.9531 17.4023L26.0508 16.3047C26.2722 16.0833 26.5043 15.9727 26.7363 15.9727Z" fill="white"/>
								</svg>
							h4.property__item-title Высота ССУ
							p.property__item-text 1 150 мм
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M14.5 16C14.224 16 14 16.224 14 16.5V17.5C14 17.776 14.224 18 14.5 18H19.5C19.776 18 20 17.776 20 17.5V16.5C20 16.224 19.776 16 19.5 16H14.5ZM28.5 16C28.224 16 28 16.224 28 16.5V17.5C28 17.776 28.224 18 28.5 18H33.5C33.776 18 34 17.776 34 17.5V16.5C34 16.224 33.776 16 33.5 16H28.5ZM16 20V22.2715C15.6965 22.4467 15.4443 22.6986 15.2688 23.002C15.0933 23.3054 15.0006 23.6495 15 24C15.0006 24.3505 15.0933 24.6946 15.2688 24.998C15.4443 25.3014 15.6965 25.5533 16 25.7285V28H18V25.7305C18.3025 25.5549 18.5537 25.303 18.7285 25H29.2695C29.4451 25.3025 29.697 25.5537 30 25.7285V28H32V25.7305C32.3038 25.5551 32.5561 25.3028 32.7317 24.9991C32.9072 24.6954 32.9997 24.3508 33 24C32.9994 23.6495 32.9067 23.3054 32.7312 23.002C32.5557 22.6986 32.3035 22.4467 32 22.2715V20H30V22.2695C29.6975 22.4451 29.4463 22.697 29.2715 23H18.7285C18.5537 22.697 18.3025 22.4451 18 22.2695V20H16ZM14.5 30C14.224 30 14 30.224 14 30.5V31.5C14 31.776 14.224 32 14.5 32H19.5C19.776 32 20 31.776 20 31.5V30.5C20 30.224 19.776 30 19.5 30H14.5ZM28.5 30C28.224 30 28 30.224 28 30.5V31.5C28 31.776 28.224 32 28.5 32H33.5C33.776 32 34 31.776 34 31.5V30.5C34 30.224 33.776 30 33.5 30H28.5Z" fill="white"/>
								</svg>
							h4.property__item-title Количество осей
							p.property__item-text 4 оси
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M23 13V15.2051C22.5104 15.3694 22.0657 15.6079 21.752 15.9609C21.2353 16.5421 21 17.2778 21 18C21 18.4351 21.272 18.8203 21.4531 19.2285C20.1014 19.5179 19 20.5675 19 22C19 23.645 20.355 25 22 25H26C26.565 25 27 25.435 27 26C27 26.565 26.565 27 26 27H24C23.0833 27 22.2686 27.3798 21.752 27.9609C21.2353 28.5421 21 29.2778 21 30C21 30.7222 21.2353 31.4579 21.752 32.0391C22.0657 32.3921 22.5104 32.6306 23 32.7949V35H25V32.7949C25.4896 32.6306 25.9343 32.3921 26.248 32.0391C26.7647 31.4579 27 30.7222 27 30C27 29.5649 26.728 29.1797 26.5469 28.7715C27.8986 28.4821 29 27.4325 29 26C29 24.355 27.645 23 26 23H22C21.435 23 21 22.565 21 22C21 21.435 21.435 21 22 21H24C24.9167 21 25.7314 20.6202 26.248 20.0391C26.7647 19.4579 27 18.7222 27 18C27 17.2778 26.7647 16.5421 26.248 15.9609C25.9343 15.6079 25.4896 15.3694 25 15.2051V13H23ZM24 17C24.4167 17 24.6019 17.1202 24.752 17.2891C24.902 17.4579 25 17.7222 25 18C25 18.2778 24.902 18.5421 24.752 18.7109C24.6019 18.8798 24.4167 19 24 19C23.5833 19 23.3981 18.8798 23.248 18.7109C23.098 18.5421 23 18.2778 23 18C23 17.7222 23.098 17.4579 23.248 17.2891C23.3981 17.1202 23.5833 17 24 17ZM24 29C24.4167 29 24.6019 29.1202 24.752 29.2891C24.902 29.4579 25 29.7222 25 30C25 30.2778 24.902 30.5421 24.752 30.7109C24.6019 30.8798 24.4167 31 24 31C23.5833 31 23.3981 30.8798 23.248 30.7109C23.098 30.5421 23 30.2778 23 30C23 29.7222 23.098 29.4579 23.248 29.2891C23.3981 29.1202 23.5833 29 24 29Z" fill="white"/>
								</svg>
							h4.property__item-title Сливной рукав
							p.property__item-text Композитный термостойкий

					.property-list-new__hidemob
						ul.property-list-new.property-list-new--2-in-row
							li.property__item
								.property__item-icon
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#1F2120"/>
									<path d="M22.918 16C20.8497 16 18.4912 16.7956 16.541 18.1562C14.5909 19.5169 13 21.5323 13 24C13 26.4677 14.5909 28.4831 16.541 29.8438C18.4912 31.2044 20.8497 32 22.918 32C23.5785 32 24.1834 31.6256 24.5684 31.1543C24.9533 30.683 25.2038 30.1084 25.4062 29.4277C25.8111 28.0664 26 26.2507 26 24C26 21.7493 25.8111 19.9336 25.4062 18.5723C25.2038 17.8916 24.9533 17.317 24.5684 16.8457C24.1834 16.3744 23.5785 16 22.918 16ZM22.918 18C22.9095 18 22.8918 17.953 23.0195 18.1094C23.1472 18.2657 23.3352 18.6192 23.4902 19.1406C23.8004 20.1836 24 21.8677 24 24C24 26.1323 23.8004 27.8164 23.4902 28.8594C23.3352 29.3808 23.1472 29.7343 23.0195 29.8906C22.8918 30.047 22.9095 30 22.918 30C21.3953 30 19.2967 29.3272 17.6855 28.2031C16.0744 27.079 15 25.5933 15 24C15 22.4067 16.0744 20.921 17.6855 19.7969C19.2967 18.6728 21.3953 18 22.918 18ZM27.3008 18C27.4808 18.6 27.6305 19.27 27.7305 20H35V18H27.3008ZM27.9805 23C28.0005 23.32 28 23.66 28 24C28 24.34 28.0005 24.68 27.9805 25H35V23H27.9805ZM27.7305 28C27.6305 28.73 27.4808 29.4 27.3008 30H35V28H27.7305Z" fill="white"/>
									</svg>
								h4.property__item-title Электрооборудование
								p.property__item-text Электрооборудование Aspoeck (Австрия) / Hella (Германия) / Ermax (Германия) или аналог.
							li.property__item
								.property__item-icon
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#1F2120"/>
									<path d="M16 13L13 16H15V17H17V16H19L16 13ZM15 19V21H17V19H15ZM15 23V25H17V23H15ZM15 27V29H17V27H15ZM32 29V31H17.7324C17.5569 30.6959 17.3043 30.4434 17.0002 30.2679C16.6961 30.0923 16.3511 29.9999 16 30C15.4696 30 14.9609 30.2107 14.5858 30.5858C14.2107 30.9609 14 31.4696 14 32C14 32.5304 14.2107 33.0391 14.5858 33.4142C14.9609 33.7893 15.4696 34 16 34C16.3505 33.9994 16.6946 33.9067 16.998 33.7312C17.3014 33.5557 17.5533 33.3035 17.7285 33H32V35L35 32L32 29Z" fill="#F8F8F8"/>
									</svg>
								h4.property__item-title Габаритные размеры
								p.property__item-text Длина: 11 480 мм  /  Ширина: 2 550 мм  /  Высота: 3 770 мм
							li.property__item
								.property__item-icon
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#1F2120"/>
									<path d="M24 14C18.5 14 14 18.5 14 24C14 29.5 18.5 34 24 34C29.5 34 34 29.5 34 24C34 18.5 29.5 14 24 14ZM22.998 16.0703L22.9961 16.9785L24.9961 16.9824L24.998 16.0703C25.7324 16.163 26.438 16.3494 27.0977 16.6289L26.6406 17.4199L28.3711 18.4219L28.8242 17.6387C29.4022 18.0787 29.917 18.5942 30.3574 19.1719L29.5762 19.625L30.5762 21.3574L31.3711 20.8984C31.6511 21.5585 31.8368 22.2651 31.9297 23H31.0156V25H31.9297C31.8368 25.7349 31.6511 26.4415 31.3711 27.1016L30.5762 26.6426L29.5762 28.375L30.3574 28.8281C29.917 29.4058 29.4022 29.9213 28.8242 30.3613L28.373 29.5801L26.6406 30.5781L27.0977 31.3711C26.438 31.6506 25.7324 31.837 24.998 31.9297L24.9961 31.0176L22.9961 31.0215L22.998 31.9297C22.263 31.8365 21.5567 31.6494 20.8965 31.3691L21.3535 30.5801L19.6211 29.5781L19.1719 30.3574C18.5942 29.917 18.0787 29.4022 17.6387 28.8242L18.418 28.375L17.416 26.6426L16.6289 27.0996C16.3493 26.44 16.1632 25.7343 16.0703 25H16.9785V23H16.0703C16.1632 22.2657 16.3493 21.56 16.6289 20.9004L17.416 21.3574L18.418 19.625L17.6387 19.1758C18.0787 18.5978 18.5942 18.083 19.1719 17.6426L19.6211 18.4219L21.3535 17.4199L20.8965 16.6309C21.5567 16.3506 22.263 16.1634 22.998 16.0703ZM24 20C21.8027 20 20 21.8027 20 24C20 26.1973 21.8027 28 24 28C26.1973 28 28 26.1973 28 24C28 21.8027 26.1973 20 24 20ZM24 22C25.1164 22 26 22.8836 26 24C26 25.1164 25.1164 26 24 26C22.8836 26 22 25.1164 22 24C22 22.8836 22.8836 22 24 22Z" fill="white"/>
									</svg>
								h4.property__item-title Подвеска и шины
								ul.property__item-list
									li.property__item-text.property__item-li 4 оси SAF / JOST / BPW или аналог с механизмом подъема первой и четвертой оси;
									li.property__item-text.property__item-li тормозные механизмы барабанного / дискового типа;
									li.property__item-text.property__item-li шины бескамерные (на усмотрение производителя) размерностью 385/65 R22,5 с диском - 8 + 1 шт.
							li.property__item
								.property__item-icon
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#1F2120"/>
									<path d="M24 14V16C19.0413 16 15 20.0413 15 25C15 29.9587 19.0413 34 24 34C28.9587 34 33 29.9587 33 25H35C35 18.9605 30.0395 14 24 14ZM24 18V20C26.7965 20 29 22.2035 29 25H31C31 28.8778 27.8778 32 24 32C20.1222 32 17 28.8778 17 25C17 21.1222 20.1222 18 24 18ZM24 22C22.343 22 21 23.343 21 25C21 26.657 22.343 28 24 28C25.657 28 27 26.657 27 25C27 23.343 25.657 22 24 22ZM24 24C24.551 24 25 24.449 25 25C25 25.551 24.551 26 24 26C23.449 26 23 25.551 23 25C23 24.449 23.449 24 24 24Z" fill="white"/>
									</svg>
								h4.property__item-title Тормозная система
								p.property__item-text Пневматическая двухконтурная c ABS.
							li.property__item
								.property__item-icon
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#1F2120"/>
									<path d="M24 13.143C24 13.143 16 21.629 16 27C16 31.457 19.543 35 24 35C28.457 35 32 31.457 32 27C32 21.629 24 13.143 24 13.143ZM24 33C20.635 33 18 30.365 18 27C18 24.195 21.253 19.418 24.001 16.154L24 33Z" fill="white"/>
									</svg>
								h4.property__item-title Окраска
								p.property__item-subtitle Рама полуприцепа окрашена по фирменной трехступенчатой системе окраски «prime system»:
								ul.property__item-list
									li.property__item-text.property__item-li Обработка поверхности в дробеструйной камере;
									li.property__item-text.property__item-li Покрытие грунтом с содержанием антикоррозийных элементов;
									li.property__item-text.property__item-li Окраска премиальной эмалью.
							li.property__item
								.property__item-icon
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#1F2120"/>
									<path d="M21.707 14.293L20.293 15.707L23 18.4141V22.1953L19.793 20.1895L18.9355 16.459L16.9863 16.9082L17.7148 20.0684L14.5547 20.7969L15.0039 22.7461L18.7324 21.8867L22.1133 24L18.7324 26.1133L15.0039 25.2539L14.5547 27.2031L17.7148 27.9316L16.9863 31.0918L18.9355 31.541L19.793 27.8105L23 25.8066V29.5859L20.293 32.293L21.707 33.707L24 31.4141L26.293 33.707L27.707 32.293L25 29.5859V25.8066L28.207 27.8105L29.0645 31.541L31.0137 31.0918L30.2852 27.9316L33.4453 27.2031L32.9961 25.2539L29.2676 26.1133L25.8867 24L29.2676 21.8867L32.9961 22.7461L33.4453 20.7969L30.2852 20.0684L31.0137 16.9082L29.0645 16.459L28.207 20.1895L25 22.1953V18.4141L27.707 15.707L26.293 14.293L24 16.5859L21.707 14.293Z" fill="white"/>
									</svg>
								h4.property__item-title Система термоизоляции
								p.property__item-subtitle Bonum thermo-х – усовершенствованная система утепления колбы:
								ul.property__item-list
									li.property__item-text.property__item-li Утеплитель, толщиной 150 мм, на основе минеральной ваты с повышенным коэффициентом теплосбережения и экранирующим слоем фольги;
									li.property__item-text.property__item-li Супердиффузионная влагозащитная мембрана с односторонней проникаемостью — позволяет выводить влагу из утеплителя и препятствует ее попаданию извне;
									li.property__item-text.property__item-li Утепление полостей элементов конструкции цистерны, прилегающих к колбе и зоне заливной горловины.

						ul.property-list-new.property-list-new--3-in-row
							li.property__item
								.property__item-icon
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#1F2120"/>
									<path d="M24 14V16C19.0413 16 15 20.0413 15 25C15 29.9587 19.0413 34 24 34C28.9587 34 33 29.9587 33 25H35C35 18.9605 30.0395 14 24 14ZM24 18V20C26.7965 20 29 22.2035 29 25H31C31 28.8778 27.8778 32 24 32C20.1222 32 17 28.8778 17 25C17 21.1222 20.1222 18 24 18ZM24 22C22.343 22 21 23.343 21 25C21 26.657 22.343 28 24 28C25.657 28 27 26.657 27 25C27 23.343 25.657 22 24 22ZM24 24C24.551 24 25 24.449 25 25C25 25.551 24.551 26 24 26C23.449 26 23 25.551 23 25C23 24.449 23.449 24 24 24Z" fill="white"/>
									</svg>
								h4.property__item-title Тормозная система
								p.property__item-text Пневматическая двухконтурная c ABS.
							li.property__item
								.property__item-icon
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#1F2120"/>
									<path d="M21.666 14L21.1758 16.5234C20.3516 16.8343 19.5948 17.2699 18.9316 17.8145L16.5078 16.9785L14.1719 21.0215L16.1133 22.709C16.0386 23.1672 16 23.5918 16 24C16 24.4088 16.0398 24.8326 16.1133 25.291V25.293L14.1719 26.9805L16.5078 31.0215L18.9297 30.1875C19.5929 30.7323 20.3514 31.1656 21.1758 31.4766L21.666 34H26.334L26.8242 31.4766C27.6489 31.1655 28.4049 30.7306 29.0684 30.1855L31.4922 31.0215L33.8262 26.9805L31.8867 25.291C31.9614 24.8328 32 24.4082 32 24C32 23.5925 31.9611 23.1684 31.8867 22.7109V22.709L33.8281 21.0195L31.4922 16.9785L29.0703 17.8125C28.4071 17.2677 27.6486 16.8344 26.8242 16.5234L26.334 14H21.666ZM23.3145 16H24.6855L25.0742 18L26.1172 18.3945C26.7459 18.6315 27.3107 18.9568 27.8008 19.3594L28.6641 20.0664L30.5859 19.4062L31.2715 20.5918L29.7363 21.9277L29.9121 23.0273V23.0293C29.9733 23.4042 30 23.7188 30 24C30 24.2812 29.9733 24.5957 29.9121 24.9707L29.7344 26.0703L31.2695 27.4062L30.584 28.5938L28.6641 27.9316L27.7988 28.6406C27.3087 29.0432 26.7459 29.3685 26.1172 29.6055H26.1152L25.0723 30L24.6836 32H23.3145L22.9258 30L21.8828 29.6055C21.2541 29.3685 20.6893 29.0432 20.1992 28.6406L19.3359 27.9336L17.4141 28.5938L16.7285 27.4082L18.2656 26.0703L18.0879 24.9746V24.9727C18.0276 24.5961 18 24.2807 18 24C18 23.7188 18.0267 23.4043 18.0879 23.0293L18.2656 21.9297L16.7285 20.5938L17.4141 19.4062L19.3359 20.0684L20.1992 19.3594C20.6893 18.9568 21.2541 18.6315 21.8828 18.3945L22.9258 18L23.3145 16ZM24 20C21.8035 20 20 21.8035 20 24C20 26.1965 21.8035 28 24 28C26.1965 28 28 26.1965 28 24C28 21.8035 26.1965 20 24 20ZM24 22C25.1115 22 26 22.8885 26 24C26 25.1115 25.1115 26 24 26C22.8885 26 22 25.1115 22 24C22 22.8885 22.8885 22 24 22Z" fill="white"/>
									</svg>
								h4.property__item-title Вид техники
								p.property__item-text Полуприцеп-цистерна (битумовоз)
							li.property__item
								.property__item-icon
									<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="24" cy="24" r="24" fill="#1F2120"/>
									<path d="M24 13C22.1564 13 20.6595 14.2936 20.2031 16H15V35H20H22C22 33.8833 22.8833 33 24 33C25.1167 33 26 33.8833 26 35H27H28H33V16H27.7969C27.3405 14.2936 25.8436 13 24 13ZM24 15C25.1167 15 26 15.8833 26 17V31.6191C25.4019 31.2617 24.7427 31 24 31C23.2573 31 22.5981 31.2617 22 31.6191V17C22 15.8833 22.8833 15 24 15ZM17 18H20V33H17V18ZM28 18H31V33H28V18Z" fill="white"/>
									</svg>
								h4.property__item-title Материал колбы
								p.property__item-text Сталь 09Г2С, толщина 4 мм


				+button('Посмотреть все', 'button--small button--inverse company__button property--button js-mob-show-all-prop-lists', '#')




				//
					br
					.h2 //Ниже старая версия
					br
					ul.property__list.property__list--one
						li.property__item
							.property__item-icon
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M20.922 7.615C20.871 7.493 20.797 7.383 20.705 7.292L16.706 3.293C16.52 3.105 16.266 3 16 3H4C3.87 3 3.74 3.026 3.618 3.077C3.373 3.178 3.178 3.373 3.077 3.618C3.026 3.74 3 3.87 3 4V16C3 16.266 3.105 16.52 3.293 16.707L7.292 20.706C7.384 20.798 7.493 20.872 7.615 20.923C7.736 20.973 7.866 21 8 21H20C20.553 21 21 20.553 21 20V8C21 7.866 20.973 7.736 20.922 7.615ZM17.586 7H8.414L6.414 5H15.586L17.586 7ZM5 6.414L7 8.414V17.586L5 15.586V6.414Z"/>
								</svg>
							h4.property__item-title Объем цистерны
							p.property__item-text 30м3
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M21.666 14L21.1758 16.5234C20.3516 16.8343 19.5948 17.2699 18.9316 17.8145L16.5078 16.9785L14.1719 21.0215L16.1133 22.709C16.0386 23.1672 16 23.5918 16 24C16 24.4088 16.0398 24.8326 16.1133 25.291V25.293L14.1719 26.9805L16.5078 31.0215L18.9297 30.1875C19.5929 30.7323 20.3514 31.1656 21.1758 31.4766L21.666 34H26.334L26.8242 31.4766C27.6489 31.1655 28.4049 30.7306 29.0684 30.1855L31.4922 31.0215L33.8262 26.9805L31.8867 25.291C31.9614 24.8328 32 24.4082 32 24C32 23.5925 31.9611 23.1684 31.8867 22.7109V22.709L33.8281 21.0195L31.4922 16.9785L29.0703 17.8125C28.4071 17.2677 27.6486 16.8344 26.8242 16.5234L26.334 14H21.666ZM23.3145 16H24.6855L25.0742 18L26.1172 18.3945C26.7459 18.6315 27.3107 18.9568 27.8008 19.3594L28.6641 20.0664L30.5859 19.4062L31.2715 20.5918L29.7363 21.9277L29.9121 23.0273V23.0293C29.9733 23.4042 30 23.7188 30 24C30 24.2812 29.9733 24.5957 29.9121 24.9707L29.7344 26.0703L31.2695 27.4062L30.584 28.5938L28.6641 27.9316L27.7988 28.6406C27.3087 29.0432 26.7459 29.3685 26.1172 29.6055H26.1152L25.0723 30L24.6836 32H23.3145L22.9258 30L21.8828 29.6055C21.2541 29.3685 20.6893 29.0432 20.1992 28.6406L19.3359 27.9336L17.4141 28.5938L16.7285 27.4082L18.2656 26.0703L18.0879 24.9746V24.9727C18.0276 24.5961 18 24.2807 18 24C18 23.7188 18.0267 23.4043 18.0879 23.0293L18.2656 21.9297L16.7285 20.5938L17.4141 19.4062L19.3359 20.0684L20.1992 19.3594C20.6893 18.9568 21.2541 18.6315 21.8828 18.3945L22.9258 18L23.3145 16ZM24 20C21.8035 20 20 21.8035 20 24C20 26.1965 21.8035 28 24 28C26.1965 28 28 26.1965 28 24C28 21.8035 26.1965 20 24 20ZM24 22C25.1115 22 26 22.8885 26 24C26 25.1115 25.1115 26 24 26C22.8885 26 22 25.1115 22 24C22 22.8885 22.8885 22 24 22Z" fill="white"/>
								</svg>
							h4.property__item-title Вид техники
							p.property__item-text Полуприцеп-цистерна (битумовоз)
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M24 13C22.1564 13 20.6595 14.2936 20.2031 16H15V35H20H22C22 33.8833 22.8833 33 24 33C25.1167 33 26 33.8833 26 35H27H28H33V16H27.7969C27.3405 14.2936 25.8436 13 24 13ZM24 15C25.1167 15 26 15.8833 26 17V31.6191C25.4019 31.2617 24.7427 31 24 31C23.2573 31 22.5981 31.2617 22 31.6191V17C22 15.8833 22.8833 15 24 15ZM17 18H20V33H17V18ZM28 18H31V33H28V18Z" fill="white"/>
								</svg>
							h4.property__item-title Материал колбы
							p.property__item-text Сталь 09Г2С, толщина 4 мм
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M21 15L20 17H18V16H16V17H15.918C15.0997 17 14.3387 17.508 14.0469 18.291C13.6476 19.3616 13 21.5458 13 24.5C13 27.4542 13.6476 29.6384 14.0469 30.709C14.3387 31.492 15.0997 32 15.918 32H17V33H19V32H29V33H31V32H32.082C32.9002 32 33.66 31.492 33.9531 30.7109V30.709C34.3524 29.6385 35 27.4542 35 24.5C35 21.5458 34.3524 19.3616 33.9531 18.291C33.6613 17.508 32.9003 17 32.082 17H32V16H30V17H28L27 15H21ZM15.918 19H20H28H32.082C32.4171 19.9002 33 21.8443 33 24.5C33 27.1557 32.4171 29.0998 32.082 30H15.918C15.5829 29.0998 15 27.1557 15 24.5C15 21.8443 15.5829 19.9002 15.918 19ZM24 21C24 21 21 23 21 25.5C21 26.966 21.9994 28 23.4434 28C23.1814 27.823 23 27.464 23 27C23 25.5 24 24 24 24C24 24 25 25.5 25 27C25 27.464 24.8186 27.823 24.5566 28C26.0006 28 27 26.966 27 25.5C27 23 24 21 24 21Z" fill="white"/>
								</svg>
							h4.property__item-title Форма колбы
							p.property__item-text Цилиндрическая
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M23.9999 13C21.7939 13 19.9999 14.794 19.9999 17H16.9999C16.0009 17 15.1696 17.6945 15.0136 18.7285L14.0214 31.7793C13.9344 32.3513 14.1126 32.9255 14.5096 33.3555C14.8886 33.7655 15.4319 34 15.9999 34H31.9999C32.5679 34 33.1112 33.7654 33.4882 33.3574C33.8872 32.9274 34.0652 32.3525 33.9862 31.8535L32.9882 18.7285L32.9784 18.6523C32.8304 17.6953 31.9989 17 30.9999 17H27.9999C27.9999 14.794 26.2059 13 23.9999 13ZM23.9999 15C25.1029 15 25.9999 15.897 25.9999 17H21.9999C21.9999 15.897 22.8969 15 23.9999 15ZM16.9979 19L31.0038 19.0059L31.9999 32L16.0077 32.0059L16.9979 19ZM18.6757 20.9551V28.4199H20.3104V26.9238L20.7733 26.4629L21.9198 28.4199H23.7928L21.8319 25.3262L23.6718 23.1641H21.7108L20.4764 24.6992L20.3124 24.918V20.9551H18.6757ZM26.4061 23.0684C25.9721 23.0684 25.5925 23.1794 25.2655 23.4004C24.9385 23.6214 24.6876 23.9387 24.5116 24.3457C24.3376 24.7537 24.2499 25.2239 24.2499 25.7539H24.2518V25.8125C24.2518 26.6355 24.4486 27.2913 24.8436 27.7812C25.2396 28.2723 25.7573 28.5156 26.3983 28.5156C26.8763 28.5156 27.2738 28.3431 27.5878 27.9961V28.1621C27.5878 28.9061 27.2229 29.2773 26.4979 29.2773C25.9999 29.2773 25.5988 29.0973 25.2948 28.7383L24.6093 29.7012C24.8003 29.9332 25.0764 30.1216 25.4374 30.2676C25.7984 30.4146 26.1715 30.4863 26.5565 30.4863C27.0935 30.4863 27.5665 30.3969 27.9745 30.2129C28.3835 30.0309 28.6931 29.7687 28.9081 29.4277C29.1251 29.0857 29.2323 28.6837 29.2323 28.2207V23.1641H27.746L27.6874 23.6211C27.3814 23.2521 26.9531 23.0684 26.4061 23.0684ZM26.8241 24.3301C27.1741 24.3301 27.4278 24.4505 27.5858 24.6895V26.8984C27.4238 27.1344 27.1663 27.2539 26.8143 27.2539C26.5223 27.2539 26.2956 27.128 26.1346 26.877C25.9726 26.627 25.8905 26.2855 25.8905 25.8555C25.8905 25.3595 25.9746 24.9817 26.1386 24.7207C26.3046 24.4607 26.5321 24.3301 26.8241 24.3301Z" fill="#F8F8F8"/>
								</svg>
							h4.property__item-title Снаряженная масса
							p.property__item-text от 8 350 кг
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M26.7363 14.0273C25.9739 14.0273 25.2114 14.316 24.6367 14.8906L14.8906 24.6367C13.7124 25.815 13.6809 27.7805 14.9375 28.8809L19.166 33.1113C20.3153 34.2606 22.216 34.2606 23.3652 33.1113L33.1113 23.3652C34.2606 22.216 34.2606 20.3153 33.1113 19.166L28.8359 14.8906C28.2613 14.316 27.4988 14.0273 26.7363 14.0273ZM26.7363 15.9727C26.9684 15.9727 27.1986 16.0833 27.4199 16.3047L31.6973 20.5801C32.14 21.0228 32.14 21.5084 31.6973 21.9512L21.9512 31.6973C21.5084 32.14 21.0228 32.14 20.5801 31.6973L16.2813 27.3984L16.2559 27.375C15.921 27.0818 15.8903 26.4627 16.3027 26.0508H16.3047L17.5274 24.8281L20.5567 27.9316L21.9883 26.5352L18.9414 23.4141L20.5117 21.8438L22.084 23.5332L23.5488 22.1699L21.9277 20.4277L23.5371 18.8184L26.6328 21.9141L28.0469 20.498L24.9531 17.4023L26.0508 16.3047C26.2722 16.0833 26.5043 15.9727 26.7363 15.9727Z" fill="white"/>
								</svg>
							h4.property__item-title Высота ССУ
							p.property__item-text 1 150 мм
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M14.5 16C14.224 16 14 16.224 14 16.5V17.5C14 17.776 14.224 18 14.5 18H19.5C19.776 18 20 17.776 20 17.5V16.5C20 16.224 19.776 16 19.5 16H14.5ZM28.5 16C28.224 16 28 16.224 28 16.5V17.5C28 17.776 28.224 18 28.5 18H33.5C33.776 18 34 17.776 34 17.5V16.5C34 16.224 33.776 16 33.5 16H28.5ZM16 20V22.2715C15.6965 22.4467 15.4443 22.6986 15.2688 23.002C15.0933 23.3054 15.0006 23.6495 15 24C15.0006 24.3505 15.0933 24.6946 15.2688 24.998C15.4443 25.3014 15.6965 25.5533 16 25.7285V28H18V25.7305C18.3025 25.5549 18.5537 25.303 18.7285 25H29.2695C29.4451 25.3025 29.697 25.5537 30 25.7285V28H32V25.7305C32.3038 25.5551 32.5561 25.3028 32.7317 24.9991C32.9072 24.6954 32.9997 24.3508 33 24C32.9994 23.6495 32.9067 23.3054 32.7312 23.002C32.5557 22.6986 32.3035 22.4467 32 22.2715V20H30V22.2695C29.6975 22.4451 29.4463 22.697 29.2715 23H18.7285C18.5537 22.697 18.3025 22.4451 18 22.2695V20H16ZM14.5 30C14.224 30 14 30.224 14 30.5V31.5C14 31.776 14.224 32 14.5 32H19.5C19.776 32 20 31.776 20 31.5V30.5C20 30.224 19.776 30 19.5 30H14.5ZM28.5 30C28.224 30 28 30.224 28 30.5V31.5C28 31.776 28.224 32 28.5 32H33.5C33.776 32 34 31.776 34 31.5V30.5C34 30.224 33.776 30 33.5 30H28.5Z" fill="white"/>
								</svg>
							h4.property__item-title Количество осей
							p.property__item-text 4 оси
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M23 13V15.2051C22.5104 15.3694 22.0657 15.6079 21.752 15.9609C21.2353 16.5421 21 17.2778 21 18C21 18.4351 21.272 18.8203 21.4531 19.2285C20.1014 19.5179 19 20.5675 19 22C19 23.645 20.355 25 22 25H26C26.565 25 27 25.435 27 26C27 26.565 26.565 27 26 27H24C23.0833 27 22.2686 27.3798 21.752 27.9609C21.2353 28.5421 21 29.2778 21 30C21 30.7222 21.2353 31.4579 21.752 32.0391C22.0657 32.3921 22.5104 32.6306 23 32.7949V35H25V32.7949C25.4896 32.6306 25.9343 32.3921 26.248 32.0391C26.7647 31.4579 27 30.7222 27 30C27 29.5649 26.728 29.1797 26.5469 28.7715C27.8986 28.4821 29 27.4325 29 26C29 24.355 27.645 23 26 23H22C21.435 23 21 22.565 21 22C21 21.435 21.435 21 22 21H24C24.9167 21 25.7314 20.6202 26.248 20.0391C26.7647 19.4579 27 18.7222 27 18C27 17.2778 26.7647 16.5421 26.248 15.9609C25.9343 15.6079 25.4896 15.3694 25 15.2051V13H23ZM24 17C24.4167 17 24.6019 17.1202 24.752 17.2891C24.902 17.4579 25 17.7222 25 18C25 18.2778 24.902 18.5421 24.752 18.7109C24.6019 18.8798 24.4167 19 24 19C23.5833 19 23.3981 18.8798 23.248 18.7109C23.098 18.5421 23 18.2778 23 18C23 17.7222 23.098 17.4579 23.248 17.2891C23.3981 17.1202 23.5833 17 24 17ZM24 29C24.4167 29 24.6019 29.1202 24.752 29.2891C24.902 29.4579 25 29.7222 25 30C25 30.2778 24.902 30.5421 24.752 30.7109C24.6019 30.8798 24.4167 31 24 31C23.5833 31 23.3981 30.8798 23.248 30.7109C23.098 30.5421 23 30.2778 23 30C23 29.7222 23.098 29.4579 23.248 29.2891C23.3981 29.1202 23.5833 29 24 29Z" fill="white"/>
								</svg>
							h4.property__item-title Сливной рукав
							p.property__item-text Композитный термостойкий
						li.property__item.property__item--mob
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M24 14V16C19.0413 16 15 20.0413 15 25C15 29.9587 19.0413 34 24 34C28.9587 34 33 29.9587 33 25H35C35 18.9605 30.0395 14 24 14ZM24 18V20C26.7965 20 29 22.2035 29 25H31C31 28.8778 27.8778 32 24 32C20.1222 32 17 28.8778 17 25C17 21.1222 20.1222 18 24 18ZM24 22C22.343 22 21 23.343 21 25C21 26.657 22.343 28 24 28C25.657 28 27 26.657 27 25C27 23.343 25.657 22 24 22ZM24 24C24.551 24 25 24.449 25 25C25 25.551 24.551 26 24 26C23.449 26 23 25.551 23 25C23 24.449 23.449 24 24 24Z" fill="white"/>
								</svg>
							h4.property__item-title Тормозная система
							p.property__item-text Пневматическая двухконтурная c ABS.
					ul.property__list.property__list-two
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M22.918 16C20.8497 16 18.4912 16.7956 16.541 18.1562C14.5909 19.5169 13 21.5323 13 24C13 26.4677 14.5909 28.4831 16.541 29.8438C18.4912 31.2044 20.8497 32 22.918 32C23.5785 32 24.1834 31.6256 24.5684 31.1543C24.9533 30.683 25.2038 30.1084 25.4062 29.4277C25.8111 28.0664 26 26.2507 26 24C26 21.7493 25.8111 19.9336 25.4062 18.5723C25.2038 17.8916 24.9533 17.317 24.5684 16.8457C24.1834 16.3744 23.5785 16 22.918 16ZM22.918 18C22.9095 18 22.8918 17.953 23.0195 18.1094C23.1472 18.2657 23.3352 18.6192 23.4902 19.1406C23.8004 20.1836 24 21.8677 24 24C24 26.1323 23.8004 27.8164 23.4902 28.8594C23.3352 29.3808 23.1472 29.7343 23.0195 29.8906C22.8918 30.047 22.9095 30 22.918 30C21.3953 30 19.2967 29.3272 17.6855 28.2031C16.0744 27.079 15 25.5933 15 24C15 22.4067 16.0744 20.921 17.6855 19.7969C19.2967 18.6728 21.3953 18 22.918 18ZM27.3008 18C27.4808 18.6 27.6305 19.27 27.7305 20H35V18H27.3008ZM27.9805 23C28.0005 23.32 28 23.66 28 24C28 24.34 28.0005 24.68 27.9805 25H35V23H27.9805ZM27.7305 28C27.6305 28.73 27.4808 29.4 27.3008 30H35V28H27.7305Z" fill="white"/>
								</svg>
							h4.property__item-title Электрооборудование
							p.property__item-text Электрооборудование Aspoeck (Австрия) / Hella (Германия) / Ermax (Германия) или аналог.
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M16 13L13 16H15V17H17V16H19L16 13ZM15 19V21H17V19H15ZM15 23V25H17V23H15ZM15 27V29H17V27H15ZM32 29V31H17.7324C17.5569 30.6959 17.3043 30.4434 17.0002 30.2679C16.6961 30.0923 16.3511 29.9999 16 30C15.4696 30 14.9609 30.2107 14.5858 30.5858C14.2107 30.9609 14 31.4696 14 32C14 32.5304 14.2107 33.0391 14.5858 33.4142C14.9609 33.7893 15.4696 34 16 34C16.3505 33.9994 16.6946 33.9067 16.998 33.7312C17.3014 33.5557 17.5533 33.3035 17.7285 33H32V35L35 32L32 29Z" fill="#F8F8F8"/>
								</svg>
							h4.property__item-title Габаритные размеры
							p.property__item-text Длина: 11 480 мм  /  Ширина: 2 550 мм  /  Высота: 3 770 мм
					ul.property__list.property__list-two.property__list--three
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M24 14C18.5 14 14 18.5 14 24C14 29.5 18.5 34 24 34C29.5 34 34 29.5 34 24C34 18.5 29.5 14 24 14ZM22.998 16.0703L22.9961 16.9785L24.9961 16.9824L24.998 16.0703C25.7324 16.163 26.438 16.3494 27.0977 16.6289L26.6406 17.4199L28.3711 18.4219L28.8242 17.6387C29.4022 18.0787 29.917 18.5942 30.3574 19.1719L29.5762 19.625L30.5762 21.3574L31.3711 20.8984C31.6511 21.5585 31.8368 22.2651 31.9297 23H31.0156V25H31.9297C31.8368 25.7349 31.6511 26.4415 31.3711 27.1016L30.5762 26.6426L29.5762 28.375L30.3574 28.8281C29.917 29.4058 29.4022 29.9213 28.8242 30.3613L28.373 29.5801L26.6406 30.5781L27.0977 31.3711C26.438 31.6506 25.7324 31.837 24.998 31.9297L24.9961 31.0176L22.9961 31.0215L22.998 31.9297C22.263 31.8365 21.5567 31.6494 20.8965 31.3691L21.3535 30.5801L19.6211 29.5781L19.1719 30.3574C18.5942 29.917 18.0787 29.4022 17.6387 28.8242L18.418 28.375L17.416 26.6426L16.6289 27.0996C16.3493 26.44 16.1632 25.7343 16.0703 25H16.9785V23H16.0703C16.1632 22.2657 16.3493 21.56 16.6289 20.9004L17.416 21.3574L18.418 19.625L17.6387 19.1758C18.0787 18.5978 18.5942 18.083 19.1719 17.6426L19.6211 18.4219L21.3535 17.4199L20.8965 16.6309C21.5567 16.3506 22.263 16.1634 22.998 16.0703ZM24 20C21.8027 20 20 21.8027 20 24C20 26.1973 21.8027 28 24 28C26.1973 28 28 26.1973 28 24C28 21.8027 26.1973 20 24 20ZM24 22C25.1164 22 26 22.8836 26 24C26 25.1164 25.1164 26 24 26C22.8836 26 22 25.1164 22 24C22 22.8836 22.8836 22 24 22Z" fill="white"/>
								</svg>
							h4.property__item-title Подвеска и шины
							ul.property__item-list
								li.property__item-text.property__item-li 4 оси SAF / JOST / BPW или аналог с механизмом подъема первой и четвертой оси;
								li.property__item-text.property__item-li тормозные механизмы барабанного / дискового типа;
								li.property__item-text.property__item-li шины бескамерные (на усмотрение производителя) размерностью 385/65 R22,5 с диском - 8 + 1 шт.
						li.property__item.property__item--desc
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M24 14V16C19.0413 16 15 20.0413 15 25C15 29.9587 19.0413 34 24 34C28.9587 34 33 29.9587 33 25H35C35 18.9605 30.0395 14 24 14ZM24 18V20C26.7965 20 29 22.2035 29 25H31C31 28.8778 27.8778 32 24 32C20.1222 32 17 28.8778 17 25C17 21.1222 20.1222 18 24 18ZM24 22C22.343 22 21 23.343 21 25C21 26.657 22.343 28 24 28C25.657 28 27 26.657 27 25C27 23.343 25.657 22 24 22ZM24 24C24.551 24 25 24.449 25 25C25 25.551 24.551 26 24 26C23.449 26 23 25.551 23 25C23 24.449 23.449 24 24 24Z" fill="white"/>
								</svg>
							h4.property__item-title Тормозная система
							p.property__item-text Пневматическая двухконтурная c ABS.
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M24 13.143C24 13.143 16 21.629 16 27C16 31.457 19.543 35 24 35C28.457 35 32 31.457 32 27C32 21.629 24 13.143 24 13.143ZM24 33C20.635 33 18 30.365 18 27C18 24.195 21.253 19.418 24.001 16.154L24 33Z" fill="white"/>
								</svg>
							h4.property__item-title Окраска
							p.property__item-subtitle Рама полуприцепа окрашена по фирменной трехступенчатой системе окраски «prime system»:
							ul.property__item-list
								li.property__item-text.property__item-li Обработка поверхности в дробеструйной камере;
								li.property__item-text.property__item-li Покрытие грунтом с содержанием антикоррозийных элементов;
								li.property__item-text.property__item-li Окраска премиальной эмалью.
						li.property__item
							.property__item-icon
								<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<circle cx="24" cy="24" r="24" fill="#1F2120"/>
								<path d="M21.707 14.293L20.293 15.707L23 18.4141V22.1953L19.793 20.1895L18.9355 16.459L16.9863 16.9082L17.7148 20.0684L14.5547 20.7969L15.0039 22.7461L18.7324 21.8867L22.1133 24L18.7324 26.1133L15.0039 25.2539L14.5547 27.2031L17.7148 27.9316L16.9863 31.0918L18.9355 31.541L19.793 27.8105L23 25.8066V29.5859L20.293 32.293L21.707 33.707L24 31.4141L26.293 33.707L27.707 32.293L25 29.5859V25.8066L28.207 27.8105L29.0645 31.541L31.0137 31.0918L30.2852 27.9316L33.4453 27.2031L32.9961 25.2539L29.2676 26.1133L25.8867 24L29.2676 21.8867L32.9961 22.7461L33.4453 20.7969L30.2852 20.0684L31.0137 16.9082L29.0645 16.459L28.207 20.1895L25 22.1953V18.4141L27.707 15.707L26.293 14.293L24 16.5859L21.707 14.293Z" fill="white"/>
								</svg>
							h4.property__item-title Система термоизоляции
							p.property__item-subtitle Bonum thermo-х – усовершенствованная система утепления колбы:
							ul.property__item-list
								li.property__item-text.property__item-li Утеплитель, толщиной 150 мм, на основе минеральной ваты с повышенным коэффициентом теплосбережения и экранирующим слоем фольги;
								li.property__item-text.property__item-li Супердиффузионная влагозащитная мембрана с односторонней проникаемостью — позволяет выводить влагу из утеплителя и препятствует ее попаданию извне;
								li.property__item-text.property__item-li Утепление полостей элементов конструкции цистерны, прилегающих к колбе и зоне заливной горловины.
					+button('Посмотреть все', 'button--small button--inverse company__button property--button', '#')

		section.options
			.options--tabsControls
				.options--tabControl.active(data-tab="1") Комплектация
				.options--tabControl(data-tab="2") Конструкция цистерны
				.options--tabControl(data-tab="3") Дополнительные опции
				.options--tabControl(data-tab="4") Как купить
				.options--tabControl(data-tab="5") Гарантия и сервис


			.container.container--options-tabs-content
				.options--tabs-content.active(data-tab-content="1")
					section.options-equipment.options--tabs-content--item
						.options-equipment--title.options--tabs-content--title Комплектация
						.options-equipment--table
							.options-equipment--row
								.options-equipment--col
									!="Сливной рукав композитный термостойкий"
								.options-equipment--col
									!="-"
								.options-equipment--col
									!="1 <span>шт</span><b>штука</b>"
							.options-equipment--row
								.options-equipment--col
									!="Быстроразъемные соединения типа Camlock или аналог на сливном рукаве"
								.options-equipment--col
									!="-"
								.options-equipment--col
									!="-"
							.options-equipment--row
								.options-equipment--col
									!="Алюминиевый пенал для сливного рукава"
								.options-equipment--col
									!="-"
								.options-equipment--col
									!="1 <span>шт</span><b>штука</b>"
							.options-equipment--row
								.options-equipment--col
									!="Ящик для песка"
								.options-equipment--col
									.makers
										.options-maker
											p
												!="Daken"
											img(src="img/svg/make--Italy.svg", alt="")
										.options-maker
											p
												!="Parlock"
											img(src="img/svg/maker-Finland.svg", alt="")
										.options-maker
											p
												!="Lago"
											img(src="img/svg/make--Italy.svg", alt="")
								.options-equipment--col
									!="1 <span>шт</span><b>штука</b>"
							.options-equipment--row
								.options-equipment--col
									!="Ящик для огнетушителя"
								.options-equipment--col
									.makers
										.options-maker
											p
												!="Daken"
											img(src="img/svg/make--Italy.svg", alt="")
										.options-maker
											p
												!="Parlock"
											img(src="img/svg/maker-Finland.svg", alt="")
										.options-maker
											p
												!="Lago"
											img(src="img/svg/make--Italy.svg", alt="")
								.options-equipment--col
									!="2 <span>шт</span><b>штука</b>"
							.options-equipment--row
								.options-equipment--col
									!="Огнетушитель"
								.options-equipment--col -
								.options-equipment--col
									!="1 <span>шт</span><b>штука</b>"
							.options-equipment--row
								.options-equipment--col
									!="Бак для воды с краном и дозатором под жидкое мыло"
								.options-equipment--col
									.makers
										.options-maker
											p
												!="Lokhen"
											img(src="img/svg/make--Italy.svg", alt="")
										.options-maker
											p
												!="Parlock"
											img(src="img/svg/maker-Finland.svg", alt="")
										.options-maker
											p
												!="Lago"
											img(src="img/svg/make--Italy.svg", alt="")
								.options-equipment--col
									!="1 <span>шт</span><b>штука</b>"
							.options-equipment--row
								.options-equipment--col
									!="Контурная светоотражающая маркировка лентой премиального качества;"
								.options-equipment--col -
								.options-equipment--col
									!="-"
							.options-equipment--row
								.options-equipment--col
									!="Табличка с указанием типа груза"
								.options-equipment--col
									.makers
										.options-maker
											p
												!="Bicma"
											img(src="img/svg/make--Italy.svg", alt="")
										.options-maker
											p
												!="Parlock"
											img(src="img/svg/maker-Finland.svg", alt="")
										.options-maker
											p
												!="Lago"
											img(src="img/svg/make--Italy.svg", alt="")
								.options-equipment--col
									!="1 <span>шт</span><b>штука</b>"

				.options--tabs-content(data-tab-content="2") Конструкция цистерны
				.options--tabs-content(data-tab-content="3")
					section.options-additional.options--tabs-content--item
						.options-additional--title.options--tabs-content--title Дополнительные опции
						.options-additional--subtitle Подбираются исходя из Ваших пожеланий и специфики Вашего бизнеса

						.dop-optcii-flex
							.dop-optcii-card
								.dop-optcii-card__header Улучшение эргономики ППЦ
								.dop-optcii-card__content
									ul
										li Дополнительное запасное колесо Continental 385/65 R22,5 диском AKO/Hartung
										li Установка магистралей для подогрева паром на полуприцеп с термоизоляцией
										li Увеличение или уменьшение высоты ССУ (стандартная высота ССУ - 1150 ММ, 1 250 мм)
										li Комплект сумки ADR (на одного человека)
							.dop-optcii-card
								.dop-optcii-card__header Шасси и подвеска ППЦ
								.dop-optcii-card__content
									ul
										li Оси BPW ECO-PLUS 2 (3-х осЫЙ агрегат с дисковыми тормозами)
										li Оси SAF INTRA (3-х осный агрегат с дисковыми тормозами)
										li Установка резины Michelin 385/65 R22,5 с дисками АКО/Hartung (6 колес +1 запасное)
										li Установка внедорожной резиныKAMA-126 156G 425/85 R21 с дискамиЧКП3 (6 колес + 1 запасное)
							.dop-optcii-card
								.dop-optcii-card__header Улучшение эргономики ППЦ
								.dop-optcii-card__content
									ul
										li Окраска полуприцепа согласно макету заказчика
										li Любые другие дополнительные опции по согласованию с заказчиком
							.dop-optcii-card
								.dop-optcii-card__header Шасси и подвеска ППЦ
								.dop-optcii-card__content
									ul
										li Установка механизма подъема передней оси на оси BPW/SAF

						//.options-additional--table
							.options-additional--row.options--header
								.options-additional--col.options--header
									!="Улучшение эргономики ППЦ"
								.options-additional--col.options--header
									!="Шасси и подвеска ППЦ"
							.options-additional--row.content
								.options-additional--col.content
									ul.options-additional--list
										li Дополнительное запасное колесо Continental 385/65 R22,5 диском AKO/Hartung
										li Установка магистралей для подогрева паром на полуприцеп с термоизоляцией
										li Увеличение или уменьшение высоты ССУ (стандартная высота ССУ - 1150 ММ, 1 250 мм)
										li Комплект сумки ADR (на одного человека)
								.options-additional--col.content
									ul.options-additional--list
										li Оси BPW ECO-PLUS 2 (3-х осЫЙ агрегат с дисковыми тормозами)
										li Оси SAF INTRA (3-х осный агрегат с дисковыми тормозами)
										li Установка резины Michelin 385/65 R22,5 с дисками АКО/Hartung (6 колес +1 запасное)
										li Установка внедорожной резиныKAMA-126 156G 425/85 R21 с дискамиЧКП3 (6 колес + 1 запасное)
							.options-additional--row.options--header
								.options-additional--col.options--header
									!="Улучшение эргономики ППЦ"
								.options-additional--col.options--header
									!="Шасси и подвеска ППЦ"
							.options-additional--row.content
								.options-additional--col.content
									ul.options-additional--list
										li Окраска полуприцепа согласно макету заказчика
										li Любые другие дополнительные опции по согласованию с заказчиком
								.options-additional--col.content
									ul.options-additional--list
										li Установка механизма подъема передней оси на оси BPW/SAF
				.options--tabs-content(data-tab-content="4") Как купить
				.options--tabs-content(data-tab-content="5") Гарантия и сервис


		section.options--mob
			.container
				.accordions
					.accordion
						.accordion__intro
							p Комплектация
							.accordion__intro__img
								<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1.24268L6.65685 6.89953L12.3137 1.24268" stroke="#1F2120"/>
								</svg>
						.accordion__content
							section.options-equipment
								.options-equipment--table
									.options-equipment--row
										.options-equipment--col
											!="Сливной рукав композитный термостойкий"
										.options-equipment--col
											!="-"
										.options-equipment--col
											!="1 <span>шт</span><b>штука</b>"
									.options-equipment--row
										.options-equipment--col
											!="Быстроразъемные соединения типа Camlock или аналог на сливном рукаве"
										.options-equipment--col
											!="-"
										.options-equipment--col
											!="-"
									.options-equipment--row
										.options-equipment--col
											!="Алюминиевый пенал для сливного рукава"
										.options-equipment--col
											!="-"
										.options-equipment--col
											!="1 <span>шт</span><b>штука</b>"
									.options-equipment--row
										.options-equipment--col
											!="Ящик для песка"
											.makers--mob
												.options-maker
													p
														!="Daken(it) /"
												.options-maker
													p
														!="Parlok (fin) /"
												.options-maker
													p
														!="Lago (it)"
										.options-equipment--col
											.makers
												.options-maker
													p
														!="Daken"
													img(src="img/svg/make--Italy.svg", alt="")
												.options-maker
													p
														!="Parlock"
													img(src="img/svg/maker-Finland.svg", alt="")
												.options-maker
													p
														!="Lago"
													img(src="img/svg/make--Italy.svg", alt="")
										.options-equipment--col
											!="1 <span>шт</span><b>штука</b>"
									.options-equipment--row
										.options-equipment--col
											!="Ящик для огнетушителя"
											.makers--mob
												.options-maker
													p
														!="Daken(it) /"
												.options-maker
													p
														!="Parlok (fin) /"
												.options-maker
													p
														!="Lago (it)"
										.options-equipment--col
											.makers
												.options-maker
													p
														!="Daken"
													img(src="img/svg/make--Italy.svg", alt="")
												.options-maker
													p
														!="Parlock"
													img(src="img/svg/maker-Finland.svg", alt="")
												.options-maker
													p
														!="Lago"
													img(src="img/svg/make--Italy.svg", alt="")
										.options-equipment--col
											!="2 <span>шт</span><b>штука</b>"
									.options-equipment--row
										.options-equipment--col
											!="Огнетушитель"
										.options-equipment--col -
										.options-equipment--col
											!="1 <span>шт</span><b>штука</b>"
									.options-equipment--row
										.options-equipment--col
											!="Бак для воды с краном и дозатором под жидкое мыло"
										.options-equipment--col
											.makers
												.options-maker
													p
														!="Lokhen"
													img(src="img/svg/make--Italy.svg", alt="")
												.options-maker
													p
														!="Parlock"
													img(src="img/svg/maker-Finland.svg", alt="")
												.options-maker
													p
														!="Lago"
													img(src="img/svg/make--Italy.svg", alt="")
										.options-equipment--col
											!="1 <span>шт</span><b>штука</b>"
									.options-equipment--row
										.options-equipment--col
											!="Контурная светоотражающая маркировка лентой премиального качества;"
										.options-equipment--col -
										.options-equipment--col
											!="-"
									.options-equipment--row
										.options-equipment--col
											!="Табличка с указанием типа груза"
										.options-equipment--col
											.makers
												.options-maker
													p
														!="Bicma"
													img(src="img/svg/make--Italy.svg", alt="")
												.options-maker
													p
														!="Parlock"
													img(src="img/svg/maker-Finland.svg", alt="")
												.options-maker
													p
														!="Lago"
													img(src="img/svg/make--Italy.svg", alt="")
										.options-equipment--col
											!="1 <span>шт</span><b>штука</b>"

					.accordion
						.accordion__intro
							p Конструкция цистерны
							.accordion__intro__img
								<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1.24268L6.65685 6.89953L12.3137 1.24268" stroke="#1F2120"/>
								</svg>
						.accordion__content
							.accordion__content_text  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque sunt consequatur incidunt ullam, temporibus non nihil ad qui laboriosam, maxime perspiciatis omnis tempore. Saepe exercitationem reprehenderit laborum ratione? Suscipit voluptatem nobis quidem ex cupiditate iusto debitis. Qui adipisci culpa quibusdam, labore quidem veritatis sed facilis unde consequatur. Eveniet, quo expedita.
					.accordion
						.accordion__intro
							p Дополнительные опции
							.accordion__intro__img
								<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1.24268L6.65685 6.89953L12.3137 1.24268" stroke="#1F2120"/>
								</svg>
						.accordion__content
							section.options-additional
								.options-additional--subtitle Подбираются исходя из Ваших пожеланий и специфики Вашего бизнеса
								.options-additional--table
									.options-additional--row.content
										.options-additional--col.options--header
												!="Улучшение эргономики ППЦ"
										.options-additional--col.content
											ul.options-additional--list
												li Дополнительное запасное колесо Continental 385/65 R22,5 диском AKO/Hartung
												li Установка магистралей для подогрева паром на полуприцеп с термоизоляцией
												li Увеличение или уменьшение высоты ССУ (стандартная высота ССУ - 1150 ММ, 1 250 мм)
												li Комплект сумки ADR (на одного человека)
										.options-additional--col.options--header
											!="Шасси и подвеска ППЦ"
										.options-additional--col.content
											ul.options-additional--list
												li Оси BPW ECO-PLUS 2 (3-х осЫЙ агрегат с дисковыми тормозами)
												li Оси SAF INTRA (3-х осный агрегат с дисковыми тормозами)
												li Установка резины Michelin 385/65 R22,5 с дисками АКО/Hartung (6 колес +1 запасное)
												li Установка внедорожной резиныKAMA-126 156G 425/85 R21 с дискамиЧКП3 (6 колес + 1 запасное)
									.options-additional--row.content
										.options-additional--col.options--header
											!="Улучшение эргономики ППЦ"
										.options-additional--col.content
											ul.options-additional--list
												li Окраска полуприцепа согласно макету заказчика
												li Любые другие дополнительные опции по согласованию с заказчиком
										.options-additional--col.options--header
											!="Шасси и подвеска ППЦ"
										.options-additional--col.content
											ul.options-additional--list
												li Установка механизма подъема передней оси на оси BPW/SAF
					.accordion
						.accordion__intro
							p Как купить
							.accordion__intro__img
								<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1.24268L6.65685 6.89953L12.3137 1.24268" stroke="#1F2120"/>
								</svg>
						.accordion__content
							.accordion__content_text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo rem eius qui praesentium, optio sapiente, perferendis animi sint ratione dolore soluta non quidem et harum quos eos consequatur maxime voluptates.
					.accordion
						.accordion__intro
							p Гарантия и сервис
							.accordion__intro__img
								<svg width="13" height="8" viewBox="0 0 13 8" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M1 1.24268L6.65685 6.89953L12.3137 1.24268" stroke="#1F2120"/>
								</svg>
						.accordion__content
							.accordion__content_text Lorem ipsum dolor, sit amet consectetur adipisicing elit. Explicabo rem eius qui praesentium, optio sapiente, perferendis animi sint ratione dolore soluta non quidem et harum quos eos consequatur maxime voluptates.

		section.video-content
			.container
				.company__wrapper
					.company__col
						.h1.h1--uppercase Полуприцеп битумовоз 31 куб.м. от производителя
						.company__text Pellentesque volutpat mi non urna maximus maximus eu tristique risus. Praesent nec mauris quis nulla feugiat vulputate at sit amet odio. Quisque pretium dolor et lectus placerat, eget elementum eros porta. Aenean luctus erat a metus congue, ut venenatis elit dictum. In hac habitasse platea dictumst. Ut a libero vulputate, vehicula lorem quis, eleifend tortor. Curabitur est neque, tincidunt eu placerat et, commodo a massa. Morbi facilisis felis nec arcu aliquam, ut iaculis diam gravida. Morbi hendrerit elit sed interdum elementum. In sodales at velit quis tincidunt.
					.company__col
						a.company__video(href='https://www.youtube.com/watch?v=tEPB7uzKuh4&amp;autoplay=1&amp;rel=0&amp;controls=0&amp;showinfo=0')
							img.company__preview(src='./img/picture/video-main.png', srcset='./img/picture/video-main.png 2x', alt='')
							img.company__play(src='./img/svg/i-play-2.svg', alt="")
						.company__mob Pellentesque volutpat mi non urna maximus maximus eu tristique risus. Praesent nec mauris quis nulla feugiat vulputate at sit amet odio. Quisque pretium dolor et lectus placerat, eget elementum eros porta. Aenean luctus erat a metus congue, ut venenatis elit dictum. In hac habitasse platea dictumst. Ut a libero vulputate, vehicula lorem quis, eleifend tortor. Curabitur est neque, tincidunt eu placerat et, commodo a massa. Morbi facilisis felis nec arcu aliquam, ut iaculis diam gravida. Morbi hendrerit elit sed interdum elementum. In sodales at velit quis tincidunt.

		include ../../blocks/modules/contacts/contacts.pug

		section.leasing
			.container
				.title акции и лизинг
				.leasing__slider.swiper.js-leasing-slider
					.swiper-wrapper
						.card-leasing.card-leasing--colored.swiper-slide
							.card-leasing__subtitle Лизинг
							.card-leasing__title Выгодный лизинг от « Росагролизинг» <br> на сельхоз технику BONUM
							.card-leasing__image
								img(src='./img/picture/leasing/1.png', srcset='./img/picture/leasing/1@2x.png 2x', alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from от 0<span>%</span>
									span на первый <br> взнос
								img(src='./img/svg/i-arrow-link.svg', alt="")
						.card-leasing.swiper-slide
							.card-leasing__subtitle Лизинг
							.card-leasing__title Выгодный лизинг от «Росагролизинг» <br> на зерновозы BONUM
							.card-leasing__image
								img(src='./img/picture/leasing/2.png', srcset='./img/picture/leasing/2@2x.png 2x', alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from от 0<span>%</span>
									span на первый <br> взнос
								img(src='./img/svg/i-arrow-link.svg', alt="")
						.card-leasing.swiper-slide
							.card-leasing__subtitle Лизинг
							.card-leasing__title Выгодный лизинг от « Росагролизинг» <br> на сельхоз технику BONUM
							.card-leasing__image
								img(src='./img/picture/leasing/1.png', srcset='./img/picture/leasing/1@2x.png 2x', alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from от 0<span>%</span>
									span на первый <br> взнос
								img(src='./img/svg/i-arrow-link.svg', alt="")
						.card-leasing.card-leasing--colored.swiper-slide
							.card-leasing__subtitle Лизинг
							.card-leasing__title Выгодный лизинг от «Росагролизинг» <br> на зерновозы BONUM
							.card-leasing__image
								img(src='./img/picture/leasing/2.png', srcset='./img/picture/leasing/2@2x.png 2x', alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from от 0<span>%</span>
									span на первый <br> взнос
								img(src='./img/svg/i-arrow-link.svg', alt="")
						.card-leasing.card-leasing--colored.swiper-slide
							.card-leasing__subtitle Лизинг
							.card-leasing__title Выгодный лизинг от « Росагролизинг» <br> на сельхоз технику BONUM
							.card-leasing__image
								img(src='./img/picture/leasing/1.png', srcset='./img/picture/leasing/1@2x.png 2x', alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from от 0<span>%</span>
									span на первый <br> взнос
								img(src='./img/svg/i-arrow-link.svg', alt="")
						.card-leasing.swiper-slide
							.card-leasing__subtitle Лизинг
							.card-leasing__title Выгодный лизинг от «Росагролизинг» <br> на зерновозы BONUM
							.card-leasing__image
								img(src='./img/picture/leasing/2.png', srcset='./img/picture/leasing/2@2x.png 2x', alt='')
							.card-leasing__bottom
								.card-leasing__offer
									.card-leasing__from от 0<span>%</span>
									span на первый <br> взнос
								img(src='./img/svg/i-arrow-link.svg', alt="")
					.leasing__nav-extended.nav-extended
						.nav-extended__group
							.nav-extended__pagi
							a.nav-extended__link(href='#', target='_blank') Посмотреть все
						.nav-extended__nav
							.swiper-btn.swiper-btn--prev
								svg(width='30' height='49' viewBox='0 0 30 49' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M13 1C22.2894 4.23354 29 13.5327 29 24.5C29 35.4673 22.2894 44.7665 13 48' stroke='#8F9190' stroke-width='1.5')
									path(d='M0 25L7.5 29.3301L7.5 20.6699L0 25ZM16 24.25L6.75 24.25L6.75 25.75L16 25.75L16 24.25Z' fill='#8F9190')
							.swiper-btn.swiper-btn--next
								svg(width='30' height='49' viewBox='0 0 30 49' fill='none' xmlns='http://www.w3.org/2000/svg')
									path(d='M13 1C22.2894 4.23354 29 13.5327 29 24.5C29 35.4673 22.2894 44.7665 13 48' stroke='#1F2120' stroke-width='1.5')
									path(d='M0 25L7.5 29.3301L7.5 20.6699L0 25ZM16 24.25L6.75 24.25L6.75 25.75L16 25.75L16 24.25Z' fill='#1F2120')

		section.banner.spare__banner
			.container.banner__container
				.banner__wrapper
					.banner__bg
						img(src='./img/picture/banner.jpg', srcset='./img/picture/banner@2x.jpg 2x', alt='')
					.banner__content
						.h1.h1--uppercase.banner__title Ознакомьтесь с нашим каталогом полуприцепов
						+button('в каталог', 'button--big banner__button', '#')


		section.feedback
			.feedback__image
				img(src='./img/picture/feedback.jpg', srcset='./img/picture/feedback@2x.jpg 2x', alt='')
			.feedback__outer
				form.feedback__form(action='', method='post')
					.title.feedback__title ПОМОЖЕМ ПОДОБРАТЬ МОДЕЛЬ И КОМПЛЕКТАЦИЮ ТЕХНИКИ
					+field('text', 'firstName', 'Имя', 'feedback__field')(required='true')
					+field('text', 'number', 'Телефон', 'feedback__field')(required='true')
					+field('email', 'email', 'Email', 'feedback__field')
					+field(
						'checkbox',
						'policy',
						'Я принимаю условия политики конфиденциальности и даю согласие на обработку моих персональных данных',
						'feedback__field'
					)(required='true')
					+button('отправить', 'button--outline-inverse feedback__button')(type='submit')




	include ../../blocks/modules/footer/footer

	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
