extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header

	.breakpoints
		.breakpoints__container.container-new
			ul.breakpoints__list
				li.breakpoints__item
					a(href='#').breakpoints__text Контакты
				li.breakpoints__item
					span.breakpoints__text Представительства


	.maps-page
		.container

			.maps-page__content
				.centers__header
					.title Представительства
					.centers__switcher.switcher-buttons
						span.js-centers-tabs-switcher.switcher-buttons__button.js-active Карта
						span.js-centers-tabs-switcher.switcher-buttons__button Список

				.maps-page__localities.localities-maps-page.localities-centers



					.centers-tabs
						.centers-tabs__tab(style="display:block;")

							.centers-map-block.localities-centers__item-dark
								.cmb-info
									.cmb-info__item#cmb-info__item
										//.cmb-info__item--active
										.localities-centers__item-body
											.localities-centers__item-title.js-title
											.localities-centers__item-subtitle.js-type
											.localities-centers__item-loc
												span адрес:
												p.js-address

											.localities-centers__item-contact.js-contacts-main
												span контакты:



									//	.localities-centers__item-body
											.localities-centers__item-title.js-title
											.localities-centers__item-subtitle.js-type Сервисный центр WABCO
											.localities-centers__item-loc
												span адрес:
												p.js-address 344091,  г. Саратов, п. Бартоломей, д. 1
											.localities-centers__item-contact.js-contacts-main
												span контакты:
												a(href="tel:8452799993") 8 8452 79 99 93
												a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
											.localities-centers__item-contact.js-contacts-other
												span отдел продаж
												a(href="tel:8005500161 ") 8 800 550-01-61
												a(href="mailto:info@bonum-trailer.ru") sales@bonum-traile.ru
											.localities-centers__item-contact.js-contacts-other
												span отдел снабжения
												a(href="mailto:info@bonum-trailer.ru") sales@bonum-traile.ru




								.cmb__map#predstva-map



								//.localities-centers__item
									.localities-centers__item-body
										.localities-centers__item-title Балтранс
										.localities-centers__item-subtitle Сервисный центр WABCO
										.localities-centers__item-loc
											span адрес:
											p 344091,  г. Саратов, п. Бартоломей, д. 1
										.localities-centers__item-contact
											span контакты:
											a(href="tel:8452799993") 8 8452 79 99 93
											a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
										.localities-centers__item-contact
											span отдел продаж
											a(href="tel:8005500161 ") 8 800 550-01-61
											a(href="mailto:info@bonum-trailer.ru") sales@bonum-traile.ru
										.localities-centers__item-contact
											span отдел снабжения
											a(href="mailto:info@bonum-trailer.ru") sales@bonum-traile.ru
									.localities-centers__item-map
										img(src="img/centers/map1.jpg", alt="alt")
							//.localities-centers__item-text
								p Завод BONUM настоятельно советует ремонтировать и обслуживать полуприцепы-цистерны (и любую другую грузовую технику) только на сервисных станциях, рекомендованных непосредственно производителями соответствующих комплектующих или техники.
								br
								p Сервисные станции WABCO, BPW и SAF есть в каждом регионе и почти в любом городе. Их список постоянно обновляется. Доверяйте сервис ваших полуприцепов-цистерн, прицепов и полуприцепов только профессионалам.
								br
								p Полный и актуальный список сервисных станций Вы можете найти на официальных сайтах WABCO, BPW и SAF. Список сервисных станций, рекомендованных заводом BONUM, вы найдете на карте ниже (можно также кликнуть на кнопку "Сервисный центр рекомендованный BONUM" внизу страницы).

						.centers-tabs__tab
							.blogs-header__buttons
								.blogs-header__swiper.swiper
									.swiper-wrapper
										.swiper-slide
											.blogs__button
												a(href='#city-1').js-smooth-scroll.js-active Ростов-на-Дону
										.swiper-slide
											.blogs__button
												a(href='#city-2').js-smooth-scroll Москва
										.swiper-slide
											.blogs__button
												a(href='#city-3').js-smooth-scroll Казань
										.swiper-slide
											.blogs__button
												a(href='#city-4').js-smooth-scroll Воронеж
										.swiper-slide
											.blogs__button
												a(href='#city-5').js-smooth-scroll Тюмень
										.swiper-slide
											.blogs__button
												a(href='#city-6').js-smooth-scroll Новосибирск

							.localities-centers__items#maps-list
								.localities-maps-page__item#city-1
									.localities-maps-page__item-body
										.localities-maps-page__item-title Ростов-на-Дону
										.localities-maps-page__item-subtitle Завод BONUM
										.localities-maps-page__item-loc
											span адрес:
											p 344091, Ростовская область, г. Ростов-на-Дону, ул. Пескова, д. 1
										.localities-maps-page__item-contact
											span контакты:
											a(href="tel:8005500161") 8 800 550-01-61
											a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
									.localities-maps-page__item-map
										.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")


								.localities-maps-page__item
									.localities-maps-page__item-body
										.localities-maps-page__item-title Ростовская обл.
										.localities-maps-page__item-subtitle ЗАВОД BONUM
										.localities-maps-page__item-loc
											span адрес:
											p 420095, Казань, Московский район, ул. Восстания, 100 к5130, оф. 403
										.localities-maps-page__item-contact
											span контакты:
											a(href="tel:8005500161") 8 800 550-01-61
											a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru

										.localities-maps-page__item-contact
											span отдел продаж
											a(href="tel:8005500161 ") 8 800 550-01-61
											a(href="mailto:info@bonum-trailer.ru") sales@bonum-traile.ru
										.localities-maps-page__item-contact
											span отдел снабжения
											a(href="mailto:info@bonum-trailer.ru") sales@bonum-traile.ru
									.localities-maps-page__item-map
										.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")
								.localities-maps-page__item#city-2
									.localities-maps-page__item-body
										.localities-maps-page__item-title Москва
										.localities-maps-page__item-subtitle филиал BONUM
										.localities-maps-page__item-loc
											span адрес:
											p 141407, Московская область, Химки, Куркинское шоссе, стр. 2, помещение 1401, офис 14
										.localities-maps-page__item-contact
											span контакты:
											a(href="tel:8005500161") 8 800 550-01-61
											a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
									.localities-maps-page__item-map
										.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")
								.localities-maps-page__item#city-3
									.localities-maps-page__item-body
										.localities-maps-page__item-title Казань
										.localities-maps-page__item-subtitle филиал BONUM
										.localities-maps-page__item-loc
											span адрес:
											p 420095, Казань, Московский район,ул. Восстания, 100 к5130, оф. 403
										.localities-maps-page__item-contact
											span контакты:
											a(href="tel:8005500161") 8 800 550-01-61
											a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
									.localities-maps-page__item-map
										.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")
								.localities-maps-page__item#city-4
									.localities-maps-page__item-body
										.localities-maps-page__item-title Воронеж
										.localities-maps-page__item-subtitle филиал BONUM
										.localities-maps-page__item-loc
											span адрес:
											p 394030 г. Воронеж, пер. Бакунинский, 11, оф. 416
										.localities-maps-page__item-contact
											span контакты:
											a(href="tel:8005500161") 8 800 550-01-61
											a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
									.localities-maps-page__item-map
										.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")
								.localities-maps-page__item#city-5
									.localities-maps-page__item-body
										.localities-maps-page__item-title Тюмень
										.localities-maps-page__item-subtitle филиал BONUM
										.localities-maps-page__item-loc
											span адрес:
											p 625013, Тюмень ул. Пермякова 3Б, БЦ Старк, офис 206
										.localities-maps-page__item-contact
											span контакты:
											a(href="tel:8005500161") 8 800 550-01-61
											a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
									.localities-maps-page__item-map
										.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")














					//#switcher-content-list.localities-maps-page__items






						.localities-maps-page__item
							.localities-maps-page__item-body
								.localities-maps-page__item-title Ростов-на-Дону
								.localities-maps-page__item-subtitle Завод BONUM
								.localities-maps-page__item-loc
									span адрес:
									p 344091, Ростовская область, г. Ростов-на-Дону, ул. Пескова, д. 1
								.localities-maps-page__item-contact
									span контакты:
									a(href="tel:8005500161") 8 800 550-01-61
									a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
							.localities-maps-page__item-map
								.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")
						.localities-maps-page__item
							.localities-maps-page__item-body
								.localities-maps-page__item-title Ростовская обл.
								.localities-maps-page__item-subtitle ЗАВОД BONUM
								.localities-maps-page__item-loc
									span адрес:
									p 420095, Казань, Московский район, ул. Восстания, 100 к5130, оф. 403
								.localities-maps-page__item-contact
									span контакты:
									a(href="tel:8005500161") 8 800 550-01-61
									a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
							.localities-maps-page__item-map
								.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")
						.localities-maps-page__item
							.localities-maps-page__item-body
								.localities-maps-page__item-title Москва
								.localities-maps-page__item-subtitle филиал BONUM
								.localities-maps-page__item-loc
									span адрес:
									p 141407, Московская область, Химки, Куркинское шоссе, стр. 2, помещение 1401, офис 14
								.localities-maps-page__item-contact
									span контакты:
									a(href="tel:8005500161") 8 800 550-01-61
									a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
							.localities-maps-page__item-map
								.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")
						.localities-maps-page__item
							.localities-maps-page__item-body
								.localities-maps-page__item-title Казань
								.localities-maps-page__item-subtitle филиал BONUM
								.localities-maps-page__item-loc
									span адрес:
									p 420095, Казань, Московский район,ул. Восстания, 100 к5130, оф. 403
								.localities-maps-page__item-contact
									span контакты:
									a(href="tel:8005500161") 8 800 550-01-61
									a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
							.localities-maps-page__item-map
								.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")
						.localities-maps-page__item
							.localities-maps-page__item-body
								.localities-maps-page__item-title Воронеж
								.localities-maps-page__item-subtitle филиал BONUM
								.localities-maps-page__item-loc
									span адрес:
									p 394030 г. Воронеж, пер. Бакунинский, 11, оф. 416
								.localities-maps-page__item-contact
									span контакты:
									a(href="tel:8005500161") 8 800 550-01-61
									a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
							.localities-maps-page__item-map
								.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")
						.localities-maps-page__item
							.localities-maps-page__item-body
								.localities-maps-page__item-title Тюмень
								.localities-maps-page__item-subtitle филиал BONUM
								.localities-maps-page__item-loc
									span адрес:
									p 625013, Тюмень ул. Пермякова 3Б, БЦ Старк, офис 206
								.localities-maps-page__item-contact
									span контакты:
									a(href="tel:8005500161") 8 800 550-01-61
									a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
							.localities-maps-page__item-map
								.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")
					//#switcher-content-map.localities-maps-page__item-dark
						.localities-maps-page__item
							.localities-maps-page__item-body
								.localities-maps-page__item-title Балтранс
								.localities-maps-page__item-subtitle Сервисный центр WABCO
								.localities-maps-page__item-loc
									span адрес:
									p 344091,  г. Саратов, п. Бартоломей, д. 1
								.localities-maps-page__item-contact
									span контакты:
									a(href="tel:8452799993") 8 8452 79 99 93
									a(href="mailto:info@bonum-trailer.ru") info@bonum-trailer.ru
								.localities-maps-page__item-contact
									span отдел продаж
									a(href="tel:8005500161 ") 8 800 550-01-61
									a(href="mailto:info@bonum-trailer.ru") sales@bonum-traile.ru
								.localities-maps-page__item-contact
									span отдел снабжения
									a(href="mailto:info@bonum-trailer.ru") sales@bonum-traile.ru
							.localities-maps-page__item-map
								.simple-map-container.js-simple-point-map(data-coords="55.53239056920628,37.57343799999998")
						.localities-maps-page__item-text
							p Завод BONUM настоятельно советует ремонтировать и обслуживать полуприцепы-цистерны (и любую другую грузовую технику) только на сервисных станциях, рекомендованных непосредственно производителями соответствующих комплектующих или техники.
							br
							p Сервисные станции WABCO, BPW и SAF есть в каждом регионе и почти в любом городе. Их список постоянно обновляется. Доверяйте сервис ваших полуприцепов-цистерн, прицепов и полуприцепов только профессионалам.
							br
							p Полный и актуальный список сервисных станций Вы можете найти на официальных сайтах WABCO, BPW и SAF. Список сервисных станций, рекомендованных заводом BONUM, вы найдете на карте ниже (можно также кликнуть на кнопку "Сервисный центр рекомендованный BONUM" внизу страницы).

	include ../../blocks/modules/footer/footer



block scripts
	script(src="https://code.jquery.com/jquery-3.6.1.min.js")
	script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
	script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
	script(src="js/vendor.js")
	script(src="js/main.js")