extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header

	.news-page
		.container
			.breakpoints
				.breakpoints__container
					ul.breakpoints__list
						li.breakpoints__item
							a(href='#').breakpoints__text Акции и лизинг
						li.breakpoints__item
							span.breakpoints__text Новость
			.header-news-page
				.header-news-page__row
					.title другие новости
					ul.header-news-page__buttons
						li.header-news-page__button
							a(href='') Все
						li.header-news-page__button
							a(href='').js-active Новости
						li.header-news-page__button
							a(href='') События
						li.header-news-page__button
							a(href='') Публикации

			.items-news-page
				//.items-news-page__paginations
					.items-news-page__arrow.items-news-page__arrow-prev
						svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
							path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')
					ul
						li
							a(href="").js-active 01
						li
							a(href="") 02
						li
							a(href="") 03
					.items-news-page__arrow.items-news-page__arrow-next
						svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
							path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')
				.items-news-page__row
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
					.items-news-page__item.card-item
						.card-item__column
							.card-item__img
								img(src="img/news-page/1.jpg", alt="alt")
								.card-item__date
									span.card-item__date-day 18
									.card-item__date-right
										span.card-item__date-month февраля
										br
										span.card-item__date-year 2023
							.card-item__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.

			.news-pagi-wrap
				.items-news-page__paginations.items-news-page--static
					.items-news-page__arrow.items-news-page__arrow-prev
						svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
							path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')
					ul
						li
							a(href="").js-active 01
						li
							a(href="") 02
						li
							a(href="") 03
					.items-news-page__arrow.items-news-page__arrow-next
						svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#000000' stroke-width='2')
							path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#000000')

	include ../../blocks/modules/footer/footer



	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
