extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header
	
	.philosophy-page
		section.hero-philosophy-page
			.breakpoints
				.breakpoints__container
					ul.breakpoints__list
						li.breakpoints__item
							a(href='#').breakpoints__text Главная
						li.breakpoints__item
							span.breakpoints__text О заводе
			.hero-philosophy-page__row 
				.hero-philosophy-page__body 
					.hero-philosophy-page__body-inner
						.title Философия производства
						.hero-philosophy-page__image.hero-philosophy-page__image-mob 
							img(src="img/philosophy-page/hero.jpg", alt="alt")
						.h1 
							span KAIZEN 
							|— ПУТЬ К СОВЕРШЕНСТВУ
						p Постоянное улучшение, начиная с производства и заканчивая высшим руководством, от директора до рядового рабочего. Улучшая стандартизованные действия и процессы, цель кайдзен — производство без потерь.
				.hero-philosophy-page__image-wrapper.hero-philosophy-page__image-desk 
					.hero-philosophy-page__image 
						img(src="img/philosophy-page/hero.jpg", alt="alt")
		section.structure-philosophy-page
			.container 
				.h1.resp-mob Структура KAIZEN
				.structure-philosophy-page__row 
					.structure-philosophy-page__item 
						.h1.resp-desk Структура KAIZEN
						.structure-philosophy-page__point
							.structure-philosophy-page__num 1.
							.structure-philosophy-page__text 
								.structure-philosophy-page__subtitle Соблюдай порядок
								p Расположить нужные вещи по отведенным местам таким образом, чтобы в требуемое время их можно было сразу же использовать
						.structure-philosophy-page__point
							.structure-philosophy-page__num 2.
							.structure-philosophy-page__text 
								.structure-philosophy-page__subtitle Содержи в чистоте
								p Приведение нужных вещей в чистое состояние и осмотр на предмет наличия отклонений
					.structure-philosophy-page__item.structure-philosophy-page__item--middle 
						.structure-philosophy-page__img
							img(src="img/philosophy-page/structure-circle.png", alt="alt")
					.structure-philosophy-page__item 
						.structure-philosophy-page__point
							.structure-philosophy-page__num 3.
							.structure-philosophy-page__text 
								.structure-philosophy-page__subtitle Самодисциплина
								p Соблюдение самостоятельно прописанных правил и непрерывное проведение Кайдзен
						.structure-philosophy-page__point
							.structure-philosophy-page__num 4.
							.structure-philosophy-page__text 
								.structure-philosophy-page__subtitle Стандартизируй
								p Постоянное поддержание 3S – сортировки, систематизации и содержания в чистоте
						.structure-philosophy-page__point
							.structure-philosophy-page__num 5.
							.structure-philosophy-page__text 
								.structure-philosophy-page__subtitle Сортируй
								p Отделить нужные вещи от ненужных и выбросить ненужные
		section.losses-philosophy-page
			.container 
				.h1 УСТРАНЕНИЕ СЕМИ ПОТЕРЬ
				p Это один из принципов системы производства компании Toyota. При анализе производства они объединили все действия, по которым они несут потери на 7 категорий. Вот они:
				.losses-philosophy-page__items 
					.losses-philosophy-page__row 
						.losses-philosophy-page__item 
							.losses-philosophy-page__column 
								.losses-philosophy-page__top 
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="20" cy="20" r="20" fill="#EC3E3E"/>
									<g clip-path="url(#clip0_110_284)">
									<path d="M20.0003 12.0835C20.0003 12.0835 14.167 18.2712 14.167 22.1876C14.167 25.4375 16.7504 28.0209 20.0003 28.0209C23.2502 28.0209 25.8337 25.4375 25.8337 22.1876C25.8337 18.2712 20.0003 12.0835 20.0003 12.0835ZM20.0003 26.5626C17.5467 26.5626 15.6253 24.6412 15.6253 22.1876C15.6253 20.1422 17.9973 16.659 20.0011 14.279L20.0003 26.5626Z" fill="white"/>
									</g>
									<defs>
									<clipPath id="clip0_110_284">
									<rect width="17.5" height="17.5" fill="white" transform="translate(11.25 11.25)"/>
									</clipPath>
									</defs>
									</svg>
									.losses-philosophy-page__subtitle Муда перевозки
								.losses-philosophy-page__text Муда перевозок, которые включены в создания добавленной стоимости, но не связаны напрямую с изменением формы или характерстик изделия, при этом все равно требуя затрат
						.losses-philosophy-page__item 
							.losses-philosophy-page__column 
								.losses-philosophy-page__top 
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="20" cy="20" r="20" fill="#EC3E3E"/>
									<path d="M22.2798 11.6895C21.6444 11.6895 21.009 11.93 20.5301 12.4089L12.4084 20.5306C11.4265 21.5125 11.4002 23.1504 12.4474 24.0674L15.9712 27.5928C16.9289 28.5505 18.5128 28.5505 19.4706 27.5928L27.5923 19.471C28.55 18.5133 28.55 16.9294 27.5923 15.9717L24.0295 12.4089C23.5506 11.93 22.9152 11.6895 22.2798 11.6895ZM22.2798 13.3105C22.4731 13.3105 22.665 13.4028 22.8495 13.5872L26.4139 17.1501C26.7829 17.519 26.7829 17.9237 26.4139 18.2926L18.2922 26.4144C17.9232 26.7833 17.5185 26.7833 17.1496 26.4144L13.5672 22.832L13.5461 22.8125C13.267 22.5682 13.2415 22.0522 13.5851 21.709H13.5868L14.6056 20.6901L17.1301 23.2764L18.3231 22.1126L15.784 19.5117L17.0926 18.2031L18.4028 19.611L19.6235 18.4749L18.2726 17.0231L19.6138 15.682L22.1935 18.2617L23.3719 17.0817L20.7938 14.502L21.7085 13.5872C21.893 13.4028 22.0865 13.3105 22.2798 13.3105Z" fill="white"/>
									</svg>
									.losses-philosophy-page__subtitle Муда перепроизводства
								.losses-philosophy-page__text Производство большего количества, чем продастся или чем нужно последующему процессу
						.losses-philosophy-page__item 
							.losses-philosophy-page__column 
								.losses-philosophy-page__top 
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="20" cy="20" r="20" fill="#EC3E3E"/>
									<path d="M18.542 12.7085L17.8128 13.4377H14.167V14.896H14.8962V25.8335C14.8962 26.2143 15.0357 26.6025 15.3106 26.8774C15.5855 27.1523 15.9737 27.2918 16.3545 27.2918H23.6462C24.0269 27.2918 24.4151 27.1523 24.6901 26.8774C24.965 26.6025 25.1045 26.2143 25.1045 25.8335V14.896H25.8337V13.4377H22.1878L21.4587 12.7085H18.542ZM16.3545 14.896H23.6462V25.8335H16.3545V14.896ZM17.8128 16.3543V24.3752H19.2712V16.3543H17.8128ZM20.7295 16.3543V24.3752H22.1878V16.3543H20.7295Z" fill="white"/>
									</svg>
									.losses-philosophy-page__subtitle Муда движений
								.losses-philosophy-page__text Муда, связанная с движениями, которые не создают добавленной стоимости
						.losses-philosophy-page__item 
							.losses-philosophy-page__column 
								.losses-philosophy-page__top 
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="20" cy="20" r="20" fill="#EC3E3E"/>
									<path d="M20 11.6665V13.3332C15.8677 13.3332 12.5 16.7009 12.5 20.8332C12.5 24.9654 15.8677 28.3332 20 28.3332C24.1323 28.3332 27.5 24.9654 27.5 20.8332H29.1667C29.1667 15.8002 25.033 11.6665 20 11.6665ZM20 14.9998V16.6665C22.3304 16.6665 24.1667 18.5028 24.1667 20.8332H25.8333C25.8333 24.0647 23.2315 26.6665 20 26.6665C16.7685 26.6665 14.1667 24.0647 14.1667 20.8332C14.1667 17.6016 16.7685 14.9998 20 14.9998ZM20 18.3332C18.6192 18.3332 17.5 19.4523 17.5 20.8332C17.5 22.214 18.6192 23.3332 20 23.3332C21.3808 23.3332 22.5 22.214 22.5 20.8332C22.5 19.4523 21.3808 18.3332 20 18.3332ZM20 19.9998C20.4592 19.9998 20.8333 20.374 20.8333 20.8332C20.8333 21.2923 20.4592 21.6665 20 21.6665C19.5408 21.6665 19.1667 21.2923 19.1667 20.8332C19.1667 20.374 19.5408 19.9998 20 19.9998Z" fill="white"/>
									</svg>
									.losses-philosophy-page__subtitle Муда брака
								.losses-philosophy-page__text Создание бракованных изделий, которое ведет к трудозатратам (переделки, ремонт) и муда в сырье и запчастях
						.losses-philosophy-page__item.losses-philosophy-page__item--dif 
							.losses-philosophy-page__column 
								.losses-philosophy-page__top 
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="20" cy="20" r="20" fill="#EC3E3E"/>
									<path d="M14.528 12.5L11.4844 17.5732L20 27.9834L20.6445 27.194L28.5156 17.5732L25.472 12.5H14.528ZM16.4714 14.1667H23.5286L22.028 16.6667H17.972L16.4714 14.1667ZM15 14.9528L16.0286 16.6667H13.9714L15 14.9528ZM25 14.9528L26.0286 16.6667H23.9714L25 14.9528ZM14.2578 18.3333H16.8636L18.1673 23.112L14.2578 18.3333ZM18.5905 18.3333H21.3802L19.9186 23.2031L18.5905 18.3333ZM23.1201 18.3333H25.7422L21.6016 23.3952L23.1201 18.3333Z" fill="white"/>
									</svg>
									.losses-philosophy-page__subtitle Муда ожидания
								.losses-philosophy-page__text Муда, при которой рабочие не осуществляют работу, а ждут, пока будут подготовлены условия для нее
						.losses-philosophy-page__item.losses-philosophy-page__item--dif 
							.losses-philosophy-page__column 
								.losses-philosophy-page__top 
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="20" cy="20" r="20" fill="#EC3E3E"/>
									<path d="M12.0837 13.3335C11.8537 13.3335 11.667 13.5202 11.667 13.7502V14.5835C11.667 14.8135 11.8537 15.0002 12.0837 15.0002H16.2503C16.4803 15.0002 16.667 14.8135 16.667 14.5835V13.7502C16.667 13.5202 16.4803 13.3335 16.2503 13.3335H12.0837ZM23.7503 13.3335C23.5203 13.3335 23.3337 13.5202 23.3337 13.7502V14.5835C23.3337 14.8135 23.5203 15.0002 23.7503 15.0002H27.917C28.147 15.0002 28.3337 14.8135 28.3337 14.5835V13.7502C28.3337 13.5202 28.147 13.3335 27.917 13.3335H23.7503ZM13.3337 16.6668V18.5597C13.0807 18.7058 12.8706 18.9157 12.7244 19.1685C12.5781 19.4213 12.5008 19.7081 12.5003 20.0002C12.5008 20.2922 12.5781 20.579 12.7244 20.8318C12.8706 21.0846 13.0807 21.2946 13.3337 21.4406V23.3335H15.0003V21.4422C15.2524 21.2959 15.4618 21.086 15.6074 20.8335H24.3916C24.5379 21.0856 24.7478 21.2949 25.0003 21.4406V23.3335H26.667V21.4422C26.9202 21.2961 27.1304 21.0859 27.2767 20.8327C27.423 20.5796 27.5001 20.2925 27.5003 20.0002C27.4998 19.7081 27.4226 19.4213 27.2763 19.1685C27.13 18.9157 26.9199 18.7058 26.667 18.5597V16.6668H25.0003V18.5581C24.7482 18.7044 24.5389 18.9143 24.3932 19.1668H15.6074C15.4618 18.9143 15.2524 18.7044 15.0003 18.5581V16.6668H13.3337ZM12.0837 25.0002C11.8537 25.0002 11.667 25.1868 11.667 25.4168V26.2502C11.667 26.4802 11.8537 26.6668 12.0837 26.6668H16.2503C16.4803 26.6668 16.667 26.4802 16.667 26.2502V25.4168C16.667 25.1868 16.4803 25.0002 16.2503 25.0002H12.0837ZM23.7503 25.0002C23.5203 25.0002 23.3337 25.1868 23.3337 25.4168V26.2502C23.3337 26.4802 23.5203 26.6668 23.7503 26.6668H27.917C28.147 26.6668 28.3337 26.4802 28.3337 26.2502V25.4168C28.3337 25.1868 28.147 25.0002 27.917 25.0002H23.7503Z" fill="white"/>
									</svg>
									.losses-philosophy-page__subtitle Муда в самой обработке
								.losses-philosophy-page__text Трудная работа либо же работа, требующая излишнего качества
						.losses-philosophy-page__item.losses-philosophy-page__item--dif 
							.losses-philosophy-page__column 
								.losses-philosophy-page__top 
									<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="20" cy="20" r="20" fill="#EC3E3E"/>
									<path d="M18.0547 11.6665L17.6462 13.7694C16.9594 14.0284 16.3287 14.3914 15.776 14.8452L13.7562 14.1486L11.8096 17.5177L13.4274 18.924C13.3652 19.3058 13.333 19.6597 13.333 19.9998C13.333 20.3405 13.3662 20.6937 13.4274 21.0757V21.0773L11.8096 22.4836L13.7562 25.8511L15.7744 25.1561C16.3271 25.6101 16.9592 25.9711 17.6462 26.2303L18.0547 28.3332H21.9447L22.3532 26.2303C23.0404 25.9711 23.6704 25.6086 24.2233 25.1545L26.2432 25.8511L28.1882 22.4836L26.5719 21.0757C26.6341 20.6938 26.6663 20.34 26.6663 19.9998C26.6663 19.6602 26.6339 19.3068 26.5719 18.9256V18.924L28.1898 17.5161L26.2432 14.1486L24.2249 14.8436C23.6723 14.3896 23.0401 14.0285 22.3532 13.7694L21.9447 11.6665H18.0547ZM19.4284 13.3332H20.571L20.8949 14.9998L21.764 15.3286C22.2879 15.5261 22.7586 15.7971 23.167 16.1326L23.8864 16.7218L25.488 16.1717L26.0592 17.1597L24.7799 18.2729L24.9264 19.1893V19.1909C24.9774 19.5034 24.9997 19.7655 24.9997 19.9998C24.9997 20.2342 24.9774 20.4963 24.9264 20.8088L24.7783 21.7251L26.0576 22.8384L25.4863 23.828L23.8864 23.2762L23.1654 23.867C22.7569 24.2025 22.2879 24.4736 21.764 24.6711H21.7624L20.8932 24.9998L20.5693 26.6665H19.4284L19.1045 24.9998L18.2354 24.6711C17.7115 24.4736 17.2408 24.2025 16.8324 23.867L16.113 23.2778L14.5114 23.828L13.9401 22.84L15.221 21.7251L15.0729 20.812V20.8104C15.0227 20.4966 14.9997 20.2337 14.9997 19.9998C14.9997 19.7655 15.022 19.5034 15.0729 19.1909L15.221 18.2746L13.9401 17.1613L14.5114 16.1717L16.113 16.7235L16.8324 16.1326C17.2408 15.7971 17.7115 15.5261 18.2354 15.3286L19.1045 14.9998L19.4284 13.3332ZM19.9997 16.6665C18.1692 16.6665 16.6663 18.1694 16.6663 19.9998C16.6663 21.8303 18.1692 23.3332 19.9997 23.3332C21.8301 23.3332 23.333 21.8303 23.333 19.9998C23.333 18.1694 21.8301 16.6665 19.9997 16.6665ZM19.9997 18.3332C20.9259 18.3332 21.6663 19.0736 21.6663 19.9998C21.6663 20.9261 20.9259 21.6665 19.9997 21.6665C19.0734 21.6665 18.333 20.9261 18.333 19.9998C18.333 19.0736 19.0734 18.3332 19.9997 18.3332Z" fill="white"/>
									</svg>
									.losses-philosophy-page__subtitle Муда запасов
								.losses-philosophy-page__text Запасы сверх целесообразного количества (запасы скрывают проблемы)
		section.indicators-philosophy-page
			.container
				.h1 наша миссия
				.indicators-philosophy-page__row 
					a(href="https://www.youtube.com/watch?v=X1ubr9ErzDA" data-fancybox).indicators-philosophy-page__img.my-fancy-video 
						img(src="img/philosophy-page/indicators.jpg", alt="alt")
					.indicators-philosophy-page__body 
						.indicators-philosophy-page__subtitle Причина активизации Кайдзен-деятельности:
						ul 
							li Японское обучение дало руководству большой стимул к повышению производительности
							li Ключевой фигурой активизации Кайдзен-деятельности был технолог Александр. Удалось «составить маршрут» деятельности и немалую роль сыграло его усердие.
							li Сотрудники с большим потенциалом откликнулись на активизацию и начала меняться культура предприятия, направляясь на Кайдзен.
				.indicators-philosophy-page__table-wrapper
					.indicators-philosophy-page__table
						.indicators-philosophy-page__thead
							.indicators-philosophy-page__tr
								.indicators-philosophy-page__th Результат
								.indicators-philosophy-page__th После Кайдзен
								.indicators-philosophy-page__th До Кайдзен
								.indicators-philosophy-page__th Результат
						.indicators-philosophy-page__tbody
							.indicators-philosophy-page__tr
								.indicators-philosophy-page__td Сокращение времени установки теплоизоляции на цистерну
								.indicators-philosophy-page__td На установку уходило 70 минут при работе 4 человек
								.indicators-philosophy-page__td Проведена видеосъемка, анализ, разработаны Кайдзенпредложения. После их реализации на работу стало уходить 40 минут при работе 4 человек.
								.indicators-philosophy-page__td Таким образом удалось выиграть 30 минут на 4 сотрудников
							.indicators-philosophy-page__tr
								.indicators-philosophy-page__td Кайдзен операции удаления отходов на участке плазменной раскройки
								.indicators-philosophy-page__td При работе 1человека уходило 16 часов, при работе 2 – 8 часов
								.indicators-philosophy-page__td Изготовлена емкость для приема отходов. Ее использование позволило сократить время работы 1 человека до 2-3 часов.
								.indicators-philosophy-page__td Удалось сократить Муда по времени на 68%

		section.recommendations-philosophy-page 
			.recommendations-philosophy-page__container 
				.h1 РЕКОМЕНДАЦИИ НА БУДУЩЕЕ
				.recommendations-philosophy-page__subtitle(style='text-align: center;') Выяснить  виды брака и уровни дефективности
				.recommendations-philosophy-page__diagram 
					img(src="img/philosophy-page/diagram.png", alt="alt")
				.recommendations-philosophy-page__subtitle Были выданы рекомендации, направленные на обеспичение непрерывного Кайдзен - деятельности:
				ul 
					li Следует распространить политику управления компании от высшего менеджмента до исполнителей
					li Следует повышать навыки управляющего звена и снижать нагрузку на административный персонал
					li Следует работать на укреплением навыков решения задач и переходить от индивидуальной к командной работе
					li Следует продвигать контроль производства, которые будет охватывать все процессы
					li Следует стимулировать сбор данных и продвигать стандартизацию
					li Следует применять изученные Японские методы Кайдзен и продолжать развиваться

		section.seminar-philosophy-page
			.container
				.seminar-philosophy-page__row 
					.seminar-philosophy-page__image-wrapper.seminar-philosophy-page__image-desk 
						.seminar-philosophy-page__image 
							img(src="img/philosophy-page/seminar.jpg", alt="alt")
					.seminar-philosophy-page__body 
						.seminar-philosophy-page__body-inner
							.h1 СЕМИНАР KAIZEN
							.seminar-philosophy-page__image.seminar-philosophy-page__image-mob 
								img(src="img/philosophy-page/seminar.jpg", alt="alt")
							p 
								b 26 февраля 2020 года состоялся семинар по KAIZEN, организованный Министерством экономики, торговли и промышленности Японии и Японской ассоциацией по торговле с Россией и новыми независимыми государствами совместно с заводом BONUM.
								br
								br
								|Семинар поддержали министерство промышленность и энергетики Ростовской области, Торгово-промышленная палата , Союз работодателей Ростовской области.
								br
								br
								|Среди почетных слушателей присутствовали заместитель министра промышленности и энергетики Ростовской области - начальник управления промышленности Атаманцев Андрей Анатольевич , Вице-президент ТПП РО Алексеевский Юрий Викторович, вице-президент Союза работодателей Ростовской области Нетесанов Виктор Федорович.
								br
								br
								|Мероприятие посетили более 100 сотрудников промышленных предприятий Ростова-на-Дону и Ростовской области. Тема вызвала живой интерес.


	include ../../blocks/modules/footer/footer



block scripts
	script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
	script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
	script(src="js/vendor.js")
	script(src="js/main.js")