extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header

	.promo
		section.hero-vacancy.hero-promo
			.container
				.hero-vacancy__row
					.hero-vacancy__body.hero-promo__body
						.title Акция
						.hero-vacancy__image.hero-vacancy__image-mob
							img(src="img/promo/promo-hero.png" alt="alt")
						.h1 Приведи друга - получи <b>50 000₽</b>
						.hero-vacancy__list
							p если по твоей рекомендации состоится продажа полуприцепа BONUM, ты&nbsp;получишь денежную премию
						+button('перейти в каталог', 'button--outline-inverse hero-promo__button', '#')


					.hero-vacancy__image-wrapper.hero-promo__image-wrapper.hero-vacancy__image-desk
						.hero-vacancy__image.hero-promo__image
							img(src="img/promo/promo-hero.png" alt="alt")

		section.block-vacancy.block-promo
			.container
				.title.block-promo__title Выбери технику из каталога и предложи её к покупке:
				.block-vacancy__swiper.block-promo__swiper.swiper
					.swiper-wrapper

						each val in [1, 2, 3, 4, 5, 6]
							.swiper-slide
								.block-vacancy__slide
									.block-vacancy__slide-row
										.block-vacancy__slide-left
											.swiper-btn.swiper-btn--prev
												svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
													path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
											.swiper-btn.swiper-btn--next
												svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
													path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
													path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
											.block-vacancy__slide-img
												img(src="img/promo/promo-slider.jpg" alt="alt")
										.block-vacancy__slide-right
											.block-vacancy__slide-body.block-promo__slide-body
												.block-vacancy__slide-title.block-promo__slide-title
													span Шторный полуприцеп 13,6 м
													.block-vacancy__slide-hot.icon-hot
														img(src="https://www.bonum-trailer.ru/local/templates/.default/img/vacancy/fire.svg")
												.block-vacancy__slide-text.block-promo__slide-text Надёжная конструкция. Премиальные комплектующие. <br>Влагостойкая фанера 30 мм. Прочный тент. Удобные сдвижные механизмы.
												.block-vacancy__slide-bottom.block-promo__slide-bottom
													.block-vacancy__slide-price 5 646 000 руб.
													a(href="#").block-vacancy__slide-btn подробнее

		section.promo-stages
			.container
				.promo-stages__items
					.promo-stages__item
						.promo-stages__item-header
							.promo-stages__item-num 1
							.promo-stages__item-title РЕКОМЕНДАЦИЯ
						.promo-stages__item-text Клиент должен сообщить твоё ФИО при оформлении сделки
					.promo-stages__item
						.promo-stages__item-header
							.promo-stages__item-num 2
							.promo-stages__item-title ПРОДАЖА И ОТГРУЗКА
						.promo-stages__item-text Мы продаем и отгружаем технику клиенту
					.promo-stages__item
						.promo-stages__item-header
							.promo-stages__item-num 3
							.promo-stages__item-title ВОЗНАГРАЖДЕНИЕ
						.promo-stages__item-text Ты получаешь 50 000₽ за каждую единицу техники

		section.promo-desc
			.container
				.normal-text-editor

					<h3>Дорогой друг.</h3>
					p Приглашаем тебя поучаствовать в акции
					p Приведи друга получи 50 000 рублей.

					<br>
					p При продаже нашего полуприцепа по твоей рекомендации - мы выплатим 50 000 рублей за каждый полуприцеп.
					p Срок акции ограничен.

					<h3>Условия акции:</h3>

					ol
						li Клиент должен позвонить нам и сообщить что он узнал о технике от тебя (Либо ты передаешь нам номер клиента)
						li Мы продаем и отгружаем технику клиенту
						li Ты получаешь 50 000 рублей за каждую единицу технику.

					<br>
					p По вопросам пиши или звоните твоему менеджеру.

					<h3>Обязательное условие</h3>
					ul
						li Клиенту отгрузили технику
						li Клиент не является действующим клиентом завода (если он ранее приобретал технику БОНУМ выплата не производится)

					p Если условия акции не понятны, или хочешь что-то уточнить пиши твоему личному менеджеру.
					p Он всегда на связи.


	include ../../blocks/modules/footer/footer



	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
