extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header

	.promo
		section.hero-vacancy.hero-promo
			.container
				.hero-vacancy__row
					.hero-vacancy__body.hero-promo__body
						.title Акция
						.hero-vacancy__image.hero-vacancy__image-mob
							img(src="img/promo/promo-hero.png" alt="alt")
						.h1 Приведи друга - получи <b>50 000₽</b>
						.hero-vacancy__list
							p если по твоей рекомендации состоится продажа полуприцепа BONUM, ты&nbsp;получишь денежную премию
						+button('перейти в каталог', 'button--outline-inverse hero-promo__button', '#')


					.hero-vacancy__image-wrapper.hero-promo__image-wrapper.hero-vacancy__image-desk
						.hero-vacancy__image.hero-promo__image
							img(src="img/promo/promo-hero.png" alt="alt")

		section.block-vacancy.block-promo
			.container
				.title.block-promo__title Выбери технику из каталога и предложи её к покупке:
				.block-vacancy__swiper.swiper
					.swiper-wrapper
						.swiper-slide
							.block-vacancy__slide
								.block-vacancy__slide-row
									.block-vacancy__slide-left
										.swiper-btn.swiper-btn--prev
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.swiper-btn.swiper-btn--next
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.block-vacancy__slide-img
											img(src="img/promo/promo-slider.jpg" alt="alt")
									.block-vacancy__slide-right
										.block-vacancy__slide-body.block-promo__slide-body
											.block-vacancy__slide-title
												span Шторный полуприцеп 13,6 м
												.block-vacancy__slide-hot.icon-hot
													<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="28" cy="28" r="28" fill="white"/>
													<g clip-path="url(#clip0_195_870)">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M39.7201 32.682C39.4571 38.9639 34.2833 43.9765 27.9367 43.9765C21.4219 43.9765 16.1406 38.5177 16.1406 32.1804C16.1406 31.3334 16.1254 29.6405 17.3955 26.7843C18.1556 25.075 18.6324 24.0012 18.9014 23.0196C19.0492 22.4801 19.3367 21.623 20.1563 23.0196C20.6396 23.8431 20.6583 25.0275 20.6583 25.0275C20.6583 25.0275 22.4563 23.6477 23.67 21.0118C25.4494 17.1476 24.0297 14.8377 23.5446 13.2314C23.3766 12.6757 23.2712 11.6771 24.423 12.102C25.5966 12.535 28.6992 14.7069 30.321 16.9961C32.6357 20.2632 33.4583 23.3961 33.4583 23.3961C33.4583 23.3961 34.1994 22.4763 34.4622 21.5137C34.759 20.4269 34.7634 19.3504 35.717 20.51C36.6239 21.6126 37.9708 23.6849 38.7289 25.6549C40.1054 29.2325 39.7201 32.682 39.7201 32.682Z" fill="url(#paint0_linear_195_870)"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M27.9381 43.9765C23.4331 43.9765 19.7812 40.3246 19.7812 35.8196C19.7812 33.1014 20.8767 31.451 23.1564 29.2131C24.6161 27.7801 25.9823 26.0201 26.563 24.8216C26.6773 24.5857 26.9375 23.3563 27.9405 24.7958C28.4667 25.5507 29.2915 26.8934 29.8205 28.0392C30.7323 30.0148 30.9499 31.9294 30.9499 31.9294C30.9499 31.9294 31.8435 31.4029 32.4558 30.0471C32.6532 29.6101 33.0522 27.9559 34.1678 29.6099C34.9864 30.8236 36.1109 33.0059 36.095 35.8196C36.095 40.3246 32.443 43.9765 27.9381 43.9765Z" fill="#FC9502"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M28.0635 35.0669C29.2243 35.0669 29.2243 37.2164 30.6988 40.0865C31.6807 41.9976 30.212 43.9767 28.0635 43.9767C25.915 43.9767 24.8008 42.235 24.8008 40.0865C24.8008 37.9381 26.9027 35.0669 28.0635 35.0669Z" fill="#FCE202"/>
													</g>
													<defs>
													<linearGradient id="paint0_linear_195_870" x1="27.9544" y1="44.0001" x2="27.9544" y2="12.0237" gradientUnits="userSpaceOnUse">
													<stop stop-color="#FF4C0D"/>
													<stop offset="1" stop-color="#FC9502"/>
													</linearGradient>
													<clipPath id="clip0_195_870">
													<rect width="32" height="32" fill="white" transform="translate(12 12)"/>
													</clipPath>
													</defs>
													</svg>
											.block-vacancy__slide-text Надёжная конструкция. Премиальные комплектующие. <br>Влагостойкая фанера 30 мм. Прочный тент. Удобные сдвижные механизмы.
											.block-vacancy__slide-bottom
												.block-vacancy__slide-price 5 646 000 руб.
												a(href="#").block-vacancy__slide-btn подробнее
						.swiper-slide
							.block-vacancy__slide
								.block-vacancy__slide-row
									.block-vacancy__slide-left
										.swiper-btn.swiper-btn--prev
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.swiper-btn.swiper-btn--next
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.block-vacancy__slide-img
											img(src="img/promo/promo-slider.jpg" alt="alt")
									.block-vacancy__slide-right
										.block-vacancy__slide-body.block-promo__slide-body
											.block-vacancy__slide-title
												span Шторный полуприцеп 13,6 м
												.block-vacancy__slide-hot.icon-hot
													<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="28" cy="28" r="28" fill="white"/>
													<g clip-path="url(#clip0_195_870)">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M39.7201 32.682C39.4571 38.9639 34.2833 43.9765 27.9367 43.9765C21.4219 43.9765 16.1406 38.5177 16.1406 32.1804C16.1406 31.3334 16.1254 29.6405 17.3955 26.7843C18.1556 25.075 18.6324 24.0012 18.9014 23.0196C19.0492 22.4801 19.3367 21.623 20.1563 23.0196C20.6396 23.8431 20.6583 25.0275 20.6583 25.0275C20.6583 25.0275 22.4563 23.6477 23.67 21.0118C25.4494 17.1476 24.0297 14.8377 23.5446 13.2314C23.3766 12.6757 23.2712 11.6771 24.423 12.102C25.5966 12.535 28.6992 14.7069 30.321 16.9961C32.6357 20.2632 33.4583 23.3961 33.4583 23.3961C33.4583 23.3961 34.1994 22.4763 34.4622 21.5137C34.759 20.4269 34.7634 19.3504 35.717 20.51C36.6239 21.6126 37.9708 23.6849 38.7289 25.6549C40.1054 29.2325 39.7201 32.682 39.7201 32.682Z" fill="url(#paint0_linear_195_870)"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M27.9381 43.9765C23.4331 43.9765 19.7812 40.3246 19.7812 35.8196C19.7812 33.1014 20.8767 31.451 23.1564 29.2131C24.6161 27.7801 25.9823 26.0201 26.563 24.8216C26.6773 24.5857 26.9375 23.3563 27.9405 24.7958C28.4667 25.5507 29.2915 26.8934 29.8205 28.0392C30.7323 30.0148 30.9499 31.9294 30.9499 31.9294C30.9499 31.9294 31.8435 31.4029 32.4558 30.0471C32.6532 29.6101 33.0522 27.9559 34.1678 29.6099C34.9864 30.8236 36.1109 33.0059 36.095 35.8196C36.095 40.3246 32.443 43.9765 27.9381 43.9765Z" fill="#FC9502"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M28.0635 35.0669C29.2243 35.0669 29.2243 37.2164 30.6988 40.0865C31.6807 41.9976 30.212 43.9767 28.0635 43.9767C25.915 43.9767 24.8008 42.235 24.8008 40.0865C24.8008 37.9381 26.9027 35.0669 28.0635 35.0669Z" fill="#FCE202"/>
													</g>
													<defs>
													<linearGradient id="paint0_linear_195_870" x1="27.9544" y1="44.0001" x2="27.9544" y2="12.0237" gradientUnits="userSpaceOnUse">
													<stop stop-color="#FF4C0D"/>
													<stop offset="1" stop-color="#FC9502"/>
													</linearGradient>
													<clipPath id="clip0_195_870">
													<rect width="32" height="32" fill="white" transform="translate(12 12)"/>
													</clipPath>
													</defs>
													</svg>
											.block-vacancy__slide-text Надёжная конструкция. Премиальные комплектующие. <br>Влагостойкая фанера 30 мм. Прочный тент. Удобные сдвижные механизмы.
											.block-vacancy__slide-bottom
												.block-vacancy__slide-price 5 646 000 руб.
												a(href="#").block-vacancy__slide-btn подробнее
						.swiper-slide
							.block-vacancy__slide
								.block-vacancy__slide-row
									.block-vacancy__slide-left
										.swiper-btn.swiper-btn--prev
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.swiper-btn.swiper-btn--next
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.block-vacancy__slide-img
											img(src="img/promo/promo-slider.jpg" alt="alt")
									.block-vacancy__slide-right
										.block-vacancy__slide-body.block-promo__slide-body
											.block-vacancy__slide-title
												span Шторный полуприцеп 13,6 м
												.block-vacancy__slide-hot.icon-hot
													<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="28" cy="28" r="28" fill="white"/>
													<g clip-path="url(#clip0_195_870)">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M39.7201 32.682C39.4571 38.9639 34.2833 43.9765 27.9367 43.9765C21.4219 43.9765 16.1406 38.5177 16.1406 32.1804C16.1406 31.3334 16.1254 29.6405 17.3955 26.7843C18.1556 25.075 18.6324 24.0012 18.9014 23.0196C19.0492 22.4801 19.3367 21.623 20.1563 23.0196C20.6396 23.8431 20.6583 25.0275 20.6583 25.0275C20.6583 25.0275 22.4563 23.6477 23.67 21.0118C25.4494 17.1476 24.0297 14.8377 23.5446 13.2314C23.3766 12.6757 23.2712 11.6771 24.423 12.102C25.5966 12.535 28.6992 14.7069 30.321 16.9961C32.6357 20.2632 33.4583 23.3961 33.4583 23.3961C33.4583 23.3961 34.1994 22.4763 34.4622 21.5137C34.759 20.4269 34.7634 19.3504 35.717 20.51C36.6239 21.6126 37.9708 23.6849 38.7289 25.6549C40.1054 29.2325 39.7201 32.682 39.7201 32.682Z" fill="url(#paint0_linear_195_870)"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M27.9381 43.9765C23.4331 43.9765 19.7812 40.3246 19.7812 35.8196C19.7812 33.1014 20.8767 31.451 23.1564 29.2131C24.6161 27.7801 25.9823 26.0201 26.563 24.8216C26.6773 24.5857 26.9375 23.3563 27.9405 24.7958C28.4667 25.5507 29.2915 26.8934 29.8205 28.0392C30.7323 30.0148 30.9499 31.9294 30.9499 31.9294C30.9499 31.9294 31.8435 31.4029 32.4558 30.0471C32.6532 29.6101 33.0522 27.9559 34.1678 29.6099C34.9864 30.8236 36.1109 33.0059 36.095 35.8196C36.095 40.3246 32.443 43.9765 27.9381 43.9765Z" fill="#FC9502"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M28.0635 35.0669C29.2243 35.0669 29.2243 37.2164 30.6988 40.0865C31.6807 41.9976 30.212 43.9767 28.0635 43.9767C25.915 43.9767 24.8008 42.235 24.8008 40.0865C24.8008 37.9381 26.9027 35.0669 28.0635 35.0669Z" fill="#FCE202"/>
													</g>
													<defs>
													<linearGradient id="paint0_linear_195_870" x1="27.9544" y1="44.0001" x2="27.9544" y2="12.0237" gradientUnits="userSpaceOnUse">
													<stop stop-color="#FF4C0D"/>
													<stop offset="1" stop-color="#FC9502"/>
													</linearGradient>
													<clipPath id="clip0_195_870">
													<rect width="32" height="32" fill="white" transform="translate(12 12)"/>
													</clipPath>
													</defs>
													</svg>
											.block-vacancy__slide-text Надёжная конструкция. Премиальные комплектующие. <br>Влагостойкая фанера 30 мм. Прочный тент. Удобные сдвижные механизмы.
											.block-vacancy__slide-bottom
												.block-vacancy__slide-price 5 646 000 руб.
												a(href="#").block-vacancy__slide-btn подробнее

		section.promo-stages
			.container
				.promo-stages__items
					.promo-stages__item
						.promo-stages__item-header
							.promo-stages__item-num 1
							.promo-stages__item-title РЕКОМЕНДАЦИЯ
						.promo-stages__item-text Клиент должен сообщить твоё ФИО при оформлении сделки
					.promo-stages__item
						.promo-stages__item-header
							.promo-stages__item-num 2
							.promo-stages__item-title ПРОДАЖА И ОТГРУЗКА
						.promo-stages__item-text Мы продаем и отгружаем технику клиенту
					.promo-stages__item
						.promo-stages__item-header
							.promo-stages__item-num 3
							.promo-stages__item-title ВОЗНАГРАЖДЕНИЕ
						.promo-stages__item-text Ты получаешь 50 000₽ за каждую единицу техники

		section.promo-desc 
			.container 
				.normal-text-editor 

					<h3>Дорогой друг.</h3>
					p Приглашаем тебя поучаствовать в акции
					p Приведи друга получи 50 000 рублей.

					<br>
					p При продаже нашего полуприцепа по твоей рекомендации - мы выплатим 50 000 рублей за каждый полуприцеп.
					p Срок акции ограничен.

					<h3>Условия акции:</h3>

					ol
						li Клиент должен позвонить нам и сообщить что он узнал о технике от тебя (Либо ты передаешь нам номер клиента)
						li Мы продаем и отгружаем технику клиенту
						li Ты получаешь 50 000 рублей за каждую единицу технику.

					<br>
					p По вопросам пиши или звоните твоему менеджеру.  

					<h3>Обязательное условие</h3>
					ul
						li Клиенту отгрузили технику  
						li Клиент не является действующим клиентом завода (если он ранее приобретал технику БОНУМ выплата не производится)

					p Если условия акции не понятны, или хочешь что-то уточнить пиши твоему личному менеджеру.
					p Он всегда на связи.


	include ../../blocks/modules/footer/footer



	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
