extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header

	.testimonials
		.container
			.breakpoints
				.breakpoints__container
					ul.breakpoints__list
						li.breakpoints__item
							a(href='#').breakpoints__text Акции и лизинг
						li.breakpoints__item
							span.breakpoints__text Новость
			.testimonials__content
				.title Партнеры
				.h1 Мы работаем с лучшими
				.testimonials__items
					.testimonials__row 
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/1.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/2.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/3.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/4.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/5.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/6.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/7.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/8.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/9.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/10.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/11.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/12.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/13.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/14.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/15.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/16.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/17.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/18.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/19.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/20.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...
						.testimonials__item.item-testimonials 
							.item-testimonials__column 
								.item-testimonials__date 2020 г
								.item-testimonials__img-wrapper
									.item-testimonials__img 
										img(src="img/testimonials/21.jpg", alt="alt")
								.item-testimonials__text Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque ...

	include ../../blocks/modules/footer/footer



	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
