extends ../layouts/default.pug
include ../helpers/mixins.pug

block variables
	- const title = "page";

block content
	include ../../blocks/modules/header/header

	.vacancy
		section.hero-vacancy
			.breakpoints
				.breakpoints__container
					ul.breakpoints__list
						li.breakpoints__item
							a(href='#').breakpoints__text Главная
						li.breakpoints__item
							span.breakpoints__text О заводе
			.container
				.hero-vacancy__row
					.hero-vacancy__body
						.title Вакансии
						.hero-vacancy__image.hero-vacancy__image-mob
							img(src="img/vacancy/hero.png", alt="alt")
						.h1 РАЗВИВАЙСЯ ВМЕСТЕ С КОМАНДОЙ BONUM
						.hero-vacancy__list
							p –  Конкурентная зарплата
							p –  Полный соцпакет
							p –  Оплачиваемый отпуск
							p –  Карьерный рост
							p –  Целеустремленный коллектив
						.hero-vacancy__links
							a.hero-vacancy__link(href="")
								<svg width="171" height="48" viewBox="0 0 171 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M64.1639 34.399C67.2272 34.399 69.7106 31.9607 69.7106 28.9529C69.7106 25.9451 67.2272 23.5068 64.1639 23.5068C61.1005 23.5068 58.6172 25.9451 58.6172 28.9529C58.6172 31.9607 61.1005 34.399 64.1639 34.399Z" fill="#97CF26"/>
								<path d="M53.7381 31.488C55.164 31.488 56.32 30.3531 56.32 28.953C56.32 27.5529 55.164 26.418 53.7381 26.418C52.3122 26.418 51.1562 27.5529 51.1562 28.953C51.1562 30.3531 52.3122 31.488 53.7381 31.488Z" fill="#A169F7"/>
								<path d="M64.1639 22.2212C66.1356 22.2212 67.734 20.6518 67.734 18.7158C67.734 16.7799 66.1356 15.2104 64.1639 15.2104C62.1922 15.2104 60.5938 16.7799 60.5938 18.7158C60.5938 20.6518 62.1922 22.2212 64.1639 22.2212Z" fill="#FF6163"/>
								<path d="M53.7381 23.1917C56.2557 23.1917 58.2965 21.1879 58.2965 18.716C58.2965 16.2441 56.2557 14.2402 53.7381 14.2402C51.2206 14.2402 49.1797 16.2441 49.1797 18.716C49.1797 21.1879 51.2206 23.1917 53.7381 23.1917Z" fill="#00AAFF"/>
								<path d="M84.1329 31.4585H87.0122L81.6798 17.2021H79.5913L74.2578 31.459H77.1374L78.1558 28.7377H83.1145L84.1329 31.459L78.9578 26.5922L80.6354 22.1092L82.312 26.5922H78.9578L84.1329 31.4585ZM94.1501 21.7254L91.5002 28.8075L88.8517 21.7254H86.1463L89.7886 31.4585H93.2124L96.8542 21.7254H94.1496M97.9865 21.7254H100.692V31.4585H97.9865V21.7254Z" fill="#1F2120"/>
								<path d="M99.3473 20.6202C100.309 20.6202 101.089 19.8545 101.089 18.9099C101.089 17.9654 100.309 17.1997 99.3473 17.1997C98.3853 17.1997 97.6055 17.9654 97.6055 18.9099C97.6055 19.8545 98.3853 20.6202 99.3473 20.6202Z" fill="#1F2120"/>
								<path d="M110.244 23.8704V21.7255H107.003V19.0405H104.3V21.7255H102.16V23.8704H104.3V28.058C104.3 30.218 105.4 31.6597 108.208 31.6597C109.293 31.6597 110.244 31.2686 110.244 31.2686L109.916 29.1671C109.916 29.1671 109.383 29.3233 108.728 29.3233C107.926 29.3233 107.003 28.9837 107.003 27.8945V23.8702L110.244 23.8704ZM116.448 29.2338C114.94 29.2338 113.718 28.0597 113.718 26.6114C113.718 25.1644 114.94 23.99 116.448 23.99C117.956 23.99 119.178 25.1647 119.178 26.6117C119.178 28.0599 117.957 29.2338 116.448 29.2338ZM116.448 21.4771C113.516 21.4771 111.138 23.761 111.138 26.5763C111.138 29.3927 113.516 31.6755 116.448 31.6755C119.379 31.6755 121.757 29.3927 121.757 26.5763C121.757 23.761 119.379 21.4771 116.448 21.4771" fill="#1F2120"/>
								</svg>
							a.hero-vacancy__link(href="")
								<svg width="171" height="48" viewBox="0 0 171 48" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M67.2966 18.7652V23.7355H62.5415V18.7652H60.5078V28.9811H62.5415V25.5178H67.2966V28.9811H69.3449V18.7652H67.2966Z" fill="#1F2120"/>
								<path d="M78.8697 25.6193C78.8697 25.4888 78.8844 25.3294 78.8844 25.17C78.8844 22.7211 77.4652 20.9678 75.0218 20.9678C72.6223 20.9678 70.9544 22.7791 70.9544 25.0396C70.9544 27.2857 72.6223 29.097 75.0218 29.097C76.5727 29.097 77.8748 28.4594 78.6064 27.474L77.3042 26.4017C76.8653 26.9959 76.0898 27.3726 75.2559 27.3726C74.0415 27.3726 73.2075 26.6481 72.9881 25.6193H78.8697ZM75.0218 22.5762C76.3825 22.5762 76.8653 23.4312 76.9384 24.3296H73.0027C73.1929 23.3587 73.9537 22.5762 75.0218 22.5762Z" fill="#1F2120"/>
								<path d="M86.2765 21.1127V21.6054C85.6034 21.2141 84.7841 20.9533 83.9501 20.9533C81.4629 20.9533 79.9998 22.924 79.9998 25.0251C79.9998 27.1118 81.4629 29.097 83.9501 29.097C84.828 29.097 85.6181 28.8362 86.2765 28.4014V28.9811H88.3102V21.1127H86.2765ZM86.2765 26.6191C85.779 27.0393 85.0913 27.2857 84.3159 27.2857C82.8821 27.2857 81.9603 26.2134 81.9603 25.0251C81.9603 23.8514 82.8674 22.7791 84.3159 22.7791C85.0767 22.7791 85.779 23.0399 86.2765 23.4602V26.6191Z" fill="#1F2120"/>
								<path d="M96.1074 18.0552V21.5619C95.449 21.1996 94.6443 20.9678 93.7957 20.9678C91.5864 20.9678 89.7721 22.5762 89.7721 25.0396C89.7721 27.4596 91.5864 29.1115 93.7957 29.1115C94.6296 29.1115 95.4636 28.8796 96.1074 28.5029V28.9811H98.1557V18.0552H96.1074ZM94.1614 27.2857C92.8008 27.2857 91.7912 26.3728 91.7912 25.0396C91.7912 23.75 92.8008 22.7791 94.1614 22.7791C94.9369 22.7791 95.6245 23.0399 96.1074 23.4457V26.6046C95.6245 27.0248 94.9222 27.2857 94.1614 27.2857Z" fill="#1F2120"/>
								<path d="M106.918 18.7652V23.7355H102.162V18.7652H100.129V28.9811H102.162V25.5178H106.918V28.9811H108.966V18.7652H106.918Z" fill="#1F2120"/>
								<path d="M116.428 21.1127V26.6626C115.959 27.0538 115.36 27.2857 114.628 27.2857C113.501 27.2857 112.902 26.6916 112.902 25.4743V21.1127H110.868V25.4743C110.868 28.0247 111.936 29.097 114.262 29.097C115.082 29.097 115.828 28.8651 116.428 28.4594V28.9811H118.461V21.1127H116.428Z" fill="#1F2120"/>
								<path d="M124.455 20.9678C123.651 20.9678 122.919 21.1996 122.334 21.6054V21.1127H120.3V28.9811H122.334V23.4022C122.787 23.0109 123.373 22.7791 124.09 22.7791C125.216 22.7791 125.816 23.3732 125.816 24.5904V28.9811H127.85V24.5904C127.85 22.0401 126.782 20.9678 124.455 20.9678Z" fill="#1F2120"/>
								<path d="M134.386 22.7791V21.1127H132.162V18.0552H130.114V21.1127H128.987V22.7791H130.114V26.6191C130.114 28.271 131.182 29.097 132.513 29.097C133.654 29.097 134.269 28.8362 134.357 28.8072V27.3002C134.079 27.3291 133.771 27.3726 133.42 27.3726C132.396 27.3726 132.162 26.9669 132.162 25.5613V22.7791H134.386Z" fill="#1F2120"/>
								<path d="M143.023 25.6193C143.023 25.4888 143.038 25.3294 143.038 25.17C143.038 22.7211 141.619 20.9678 139.175 20.9678C136.776 20.9678 135.108 22.7791 135.108 25.0396C135.108 27.2857 136.776 29.097 139.175 29.097C140.726 29.097 142.028 28.4594 142.76 27.474L141.458 26.4017C141.019 26.9959 140.243 27.3726 139.409 27.3726C138.195 27.3726 137.361 26.6481 137.142 25.6193H143.023ZM139.175 22.5762C140.536 22.5762 141.019 23.4312 141.092 24.3296H137.156C137.346 23.3587 138.107 22.5762 139.175 22.5762Z" fill="#1F2120"/>
								<path d="M146.538 21.1127H144.49V28.9811H146.538V25.1845C146.538 24.1557 147.094 23.1269 148.557 23.1269C148.982 23.1269 149.538 23.2428 149.538 23.2428V21.0547C149.377 20.9968 149.186 20.9678 149.04 20.9678C147.914 20.9823 147.08 21.4749 146.538 22.214V21.1127Z" fill="#1F2120"/>
								<g clip-path="url(#clip0_195_1171)">
								<path d="M37.0335 38.9434C45.3623 38.9434 52.1218 32.2488 52.1218 24C52.1218 15.7513 45.3623 9.05664 37.0335 9.05664C28.7048 9.05664 21.9453 15.7513 21.9453 24C21.9453 32.2488 28.7048 38.9434 37.0335 38.9434Z" fill="#DF0016"/>
								<path d="M30.3784 16.9619V22.0427C31.163 21.1162 32.0985 20.6529 33.1848 20.6529C33.7431 20.6529 34.241 20.7575 34.6937 20.9667C35.1463 21.176 35.4782 21.4449 35.7046 21.7737C35.9309 22.1024 36.0818 22.4611 36.1723 22.8646C36.2628 23.2531 36.293 23.8658 36.293 24.7026V30.127H33.8638V25.2256C33.8638 24.2543 33.8185 23.6416 33.728 23.3726C33.6375 23.1036 33.4715 22.9094 33.2452 22.745C33.0189 22.5956 32.7171 22.5059 32.3701 22.5059C31.9627 22.5059 31.6006 22.6105 31.2988 22.8048C30.982 22.999 30.7405 23.2979 30.6047 23.7014C30.4539 24.1049 30.3784 24.6876 30.3784 25.4647V30.1121H27.9492V16.9619H30.3784Z" fill="white"/>
								<path d="M39.9292 16.9619V22.0427C40.7138 21.1162 41.6493 20.6529 42.7356 20.6529C43.2939 20.6529 43.7918 20.7575 44.2444 20.9667C44.6971 21.176 45.029 21.4449 45.2554 21.7737C45.4817 22.1024 45.6326 22.4611 45.7231 22.8646C45.8136 23.2531 45.8438 23.8658 45.8438 24.7026V30.127H43.4146V25.2256C43.4146 24.2543 43.3693 23.6416 43.2788 23.3726C43.1883 23.1036 43.0223 22.9094 42.796 22.745C42.5696 22.5956 42.2679 22.5059 41.9209 22.5059C41.5135 22.5059 41.1514 22.6105 40.8496 22.8048C40.5327 22.999 40.3064 23.2979 40.1555 23.7014C40.0046 24.1049 39.9292 24.6876 39.9292 25.4647V30.127H37.5V16.9619H39.9292Z" fill="white"/>
								</g>
								<defs>
								<clipPath id="clip0_195_1171">
								<rect width="30.1765" height="29.8868" fill="white" transform="translate(21.9453 9.05664)"/>
								</clipPath>
								</defs>
								</svg>
					.hero-vacancy__image-wrapper.hero-vacancy__image-desk
						.hero-vacancy__image
							img(src="img/vacancy/hero.png", alt="alt")
		section.block-vacancy
			.container
				.block-vacancy__swiper.swiper
					.swiper-wrapper
						.swiper-slide
							.block-vacancy__slide
								.block-vacancy__slide-row
									.block-vacancy__slide-left
										.swiper-btn.swiper-btn--prev
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.swiper-btn.swiper-btn--next
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.block-vacancy__slide-img
											img(src="img/vacancy/img1.jpg", alt="alt")
									.block-vacancy__slide-right
										.block-vacancy__slide-body
											.block-vacancy__slide-title
												span Слесарь-сборщик
												.block-vacancy__slide-hot.icon-hot
													<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="28" cy="28" r="28" fill="white"/>
													<g clip-path="url(#clip0_195_870)">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M39.7201 32.682C39.4571 38.9639 34.2833 43.9765 27.9367 43.9765C21.4219 43.9765 16.1406 38.5177 16.1406 32.1804C16.1406 31.3334 16.1254 29.6405 17.3955 26.7843C18.1556 25.075 18.6324 24.0012 18.9014 23.0196C19.0492 22.4801 19.3367 21.623 20.1563 23.0196C20.6396 23.8431 20.6583 25.0275 20.6583 25.0275C20.6583 25.0275 22.4563 23.6477 23.67 21.0118C25.4494 17.1476 24.0297 14.8377 23.5446 13.2314C23.3766 12.6757 23.2712 11.6771 24.423 12.102C25.5966 12.535 28.6992 14.7069 30.321 16.9961C32.6357 20.2632 33.4583 23.3961 33.4583 23.3961C33.4583 23.3961 34.1994 22.4763 34.4622 21.5137C34.759 20.4269 34.7634 19.3504 35.717 20.51C36.6239 21.6126 37.9708 23.6849 38.7289 25.6549C40.1054 29.2325 39.7201 32.682 39.7201 32.682Z" fill="url(#paint0_linear_195_870)"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M27.9381 43.9765C23.4331 43.9765 19.7812 40.3246 19.7812 35.8196C19.7812 33.1014 20.8767 31.451 23.1564 29.2131C24.6161 27.7801 25.9823 26.0201 26.563 24.8216C26.6773 24.5857 26.9375 23.3563 27.9405 24.7958C28.4667 25.5507 29.2915 26.8934 29.8205 28.0392C30.7323 30.0148 30.9499 31.9294 30.9499 31.9294C30.9499 31.9294 31.8435 31.4029 32.4558 30.0471C32.6532 29.6101 33.0522 27.9559 34.1678 29.6099C34.9864 30.8236 36.1109 33.0059 36.095 35.8196C36.095 40.3246 32.443 43.9765 27.9381 43.9765Z" fill="#FC9502"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M28.0635 35.0669C29.2243 35.0669 29.2243 37.2164 30.6988 40.0865C31.6807 41.9976 30.212 43.9767 28.0635 43.9767C25.915 43.9767 24.8008 42.235 24.8008 40.0865C24.8008 37.9381 26.9027 35.0669 28.0635 35.0669Z" fill="#FCE202"/>
													</g>
													<defs>
													<linearGradient id="paint0_linear_195_870" x1="27.9544" y1="44.0001" x2="27.9544" y2="12.0237" gradientUnits="userSpaceOnUse">
													<stop stop-color="#FF4C0D"/>
													<stop offset="1" stop-color="#FC9502"/>
													</linearGradient>
													<clipPath id="clip0_195_870">
													<rect width="32" height="32" fill="white" transform="translate(12 12)"/>
													</clipPath>
													</defs>
													</svg>
											.block-vacancy__slide-loc
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M11.987 22.4681L5.55959 14.8984C5.55951 14.8983 5.55943 14.8982 5.55935 14.8981C4.31111 13.4267 3.5567 11.5287 3.5567 9.45094C3.5567 4.79499 7.33112 1.02056 11.9871 1.02056C16.643 1.02056 20.4174 4.795 20.4172 9.45063V9.45067C20.4172 11.5285 19.6627 13.4268 18.4145 14.8979C18.4144 14.898 18.4144 14.898 18.4143 14.8981L11.987 22.4681Z" stroke="white" stroke-width="1.77746"/>
												<circle cx="12" cy="9" r="2" fill="white"/>
												</svg>
												span Трасса М-4 Дон, 1082-км
											.block-vacancy__slide-text Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur! Quis autem vel eum iure reprehenderit qui in
											.block-vacancy__slide-bottom
												.block-vacancy__slide-price 46 000 — 72 000 руб.
												.block-vacancy__slide-btn откликнуться
						.swiper-slide
							.block-vacancy__slide
								.block-vacancy__slide-row
									.block-vacancy__slide-left
										.swiper-btn.swiper-btn--prev
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.swiper-btn.swiper-btn--next
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.block-vacancy__slide-img
											img(src="img/vacancy/img1.jpg", alt="alt")
									.block-vacancy__slide-right
										.block-vacancy__slide-body
											.block-vacancy__slide-title
												span Слесарь-сборщик
												.block-vacancy__slide-hot.icon-hot
													<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="28" cy="28" r="28" fill="white"/>
													<g clip-path="url(#clip0_195_870)">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M39.7201 32.682C39.4571 38.9639 34.2833 43.9765 27.9367 43.9765C21.4219 43.9765 16.1406 38.5177 16.1406 32.1804C16.1406 31.3334 16.1254 29.6405 17.3955 26.7843C18.1556 25.075 18.6324 24.0012 18.9014 23.0196C19.0492 22.4801 19.3367 21.623 20.1563 23.0196C20.6396 23.8431 20.6583 25.0275 20.6583 25.0275C20.6583 25.0275 22.4563 23.6477 23.67 21.0118C25.4494 17.1476 24.0297 14.8377 23.5446 13.2314C23.3766 12.6757 23.2712 11.6771 24.423 12.102C25.5966 12.535 28.6992 14.7069 30.321 16.9961C32.6357 20.2632 33.4583 23.3961 33.4583 23.3961C33.4583 23.3961 34.1994 22.4763 34.4622 21.5137C34.759 20.4269 34.7634 19.3504 35.717 20.51C36.6239 21.6126 37.9708 23.6849 38.7289 25.6549C40.1054 29.2325 39.7201 32.682 39.7201 32.682Z" fill="url(#paint0_linear_195_870)"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M27.9381 43.9765C23.4331 43.9765 19.7812 40.3246 19.7812 35.8196C19.7812 33.1014 20.8767 31.451 23.1564 29.2131C24.6161 27.7801 25.9823 26.0201 26.563 24.8216C26.6773 24.5857 26.9375 23.3563 27.9405 24.7958C28.4667 25.5507 29.2915 26.8934 29.8205 28.0392C30.7323 30.0148 30.9499 31.9294 30.9499 31.9294C30.9499 31.9294 31.8435 31.4029 32.4558 30.0471C32.6532 29.6101 33.0522 27.9559 34.1678 29.6099C34.9864 30.8236 36.1109 33.0059 36.095 35.8196C36.095 40.3246 32.443 43.9765 27.9381 43.9765Z" fill="#FC9502"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M28.0635 35.0669C29.2243 35.0669 29.2243 37.2164 30.6988 40.0865C31.6807 41.9976 30.212 43.9767 28.0635 43.9767C25.915 43.9767 24.8008 42.235 24.8008 40.0865C24.8008 37.9381 26.9027 35.0669 28.0635 35.0669Z" fill="#FCE202"/>
													</g>
													<defs>
													<linearGradient id="paint0_linear_195_870" x1="27.9544" y1="44.0001" x2="27.9544" y2="12.0237" gradientUnits="userSpaceOnUse">
													<stop stop-color="#FF4C0D"/>
													<stop offset="1" stop-color="#FC9502"/>
													</linearGradient>
													<clipPath id="clip0_195_870">
													<rect width="32" height="32" fill="white" transform="translate(12 12)"/>
													</clipPath>
													</defs>
													</svg>
											.block-vacancy__slide-loc
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M11.987 22.4681L5.55959 14.8984C5.55951 14.8983 5.55943 14.8982 5.55935 14.8981C4.31111 13.4267 3.5567 11.5287 3.5567 9.45094C3.5567 4.79499 7.33112 1.02056 11.9871 1.02056C16.643 1.02056 20.4174 4.795 20.4172 9.45063V9.45067C20.4172 11.5285 19.6627 13.4268 18.4145 14.8979C18.4144 14.898 18.4144 14.898 18.4143 14.8981L11.987 22.4681Z" stroke="white" stroke-width="1.77746"/>
												<circle cx="12" cy="9" r="2" fill="white"/>
												</svg>
												span Трасса М-4 Дон, 1082-км
											.block-vacancy__slide-text Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur! Quis autem vel eum iure reprehenderit qui in
											.block-vacancy__slide-bottom
												.block-vacancy__slide-price 46 000 — 72 000 руб.
												.block-vacancy__slide-btn откликнуться
						.swiper-slide
							.block-vacancy__slide
								.block-vacancy__slide-row
									.block-vacancy__slide-left
										.swiper-btn.swiper-btn--prev
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.swiper-btn.swiper-btn--next
											svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
												path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
												path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
										.block-vacancy__slide-img
											img(src="img/vacancy/img1.jpg", alt="alt")
									.block-vacancy__slide-right
										.block-vacancy__slide-body
											.block-vacancy__slide-title
												span Слесарь-сборщик
												.block-vacancy__slide-hot.icon-hot
													<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
													<circle cx="28" cy="28" r="28" fill="white"/>
													<g clip-path="url(#clip0_195_870)">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M39.7201 32.682C39.4571 38.9639 34.2833 43.9765 27.9367 43.9765C21.4219 43.9765 16.1406 38.5177 16.1406 32.1804C16.1406 31.3334 16.1254 29.6405 17.3955 26.7843C18.1556 25.075 18.6324 24.0012 18.9014 23.0196C19.0492 22.4801 19.3367 21.623 20.1563 23.0196C20.6396 23.8431 20.6583 25.0275 20.6583 25.0275C20.6583 25.0275 22.4563 23.6477 23.67 21.0118C25.4494 17.1476 24.0297 14.8377 23.5446 13.2314C23.3766 12.6757 23.2712 11.6771 24.423 12.102C25.5966 12.535 28.6992 14.7069 30.321 16.9961C32.6357 20.2632 33.4583 23.3961 33.4583 23.3961C33.4583 23.3961 34.1994 22.4763 34.4622 21.5137C34.759 20.4269 34.7634 19.3504 35.717 20.51C36.6239 21.6126 37.9708 23.6849 38.7289 25.6549C40.1054 29.2325 39.7201 32.682 39.7201 32.682Z" fill="url(#paint0_linear_195_870)"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M27.9381 43.9765C23.4331 43.9765 19.7812 40.3246 19.7812 35.8196C19.7812 33.1014 20.8767 31.451 23.1564 29.2131C24.6161 27.7801 25.9823 26.0201 26.563 24.8216C26.6773 24.5857 26.9375 23.3563 27.9405 24.7958C28.4667 25.5507 29.2915 26.8934 29.8205 28.0392C30.7323 30.0148 30.9499 31.9294 30.9499 31.9294C30.9499 31.9294 31.8435 31.4029 32.4558 30.0471C32.6532 29.6101 33.0522 27.9559 34.1678 29.6099C34.9864 30.8236 36.1109 33.0059 36.095 35.8196C36.095 40.3246 32.443 43.9765 27.9381 43.9765Z" fill="#FC9502"/>
													<path fill-rule="evenodd" clip-rule="evenodd" d="M28.0635 35.0669C29.2243 35.0669 29.2243 37.2164 30.6988 40.0865C31.6807 41.9976 30.212 43.9767 28.0635 43.9767C25.915 43.9767 24.8008 42.235 24.8008 40.0865C24.8008 37.9381 26.9027 35.0669 28.0635 35.0669Z" fill="#FCE202"/>
													</g>
													<defs>
													<linearGradient id="paint0_linear_195_870" x1="27.9544" y1="44.0001" x2="27.9544" y2="12.0237" gradientUnits="userSpaceOnUse">
													<stop stop-color="#FF4C0D"/>
													<stop offset="1" stop-color="#FC9502"/>
													</linearGradient>
													<clipPath id="clip0_195_870">
													<rect width="32" height="32" fill="white" transform="translate(12 12)"/>
													</clipPath>
													</defs>
													</svg>
											.block-vacancy__slide-loc
												<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M11.987 22.4681L5.55959 14.8984C5.55951 14.8983 5.55943 14.8982 5.55935 14.8981C4.31111 13.4267 3.5567 11.5287 3.5567 9.45094C3.5567 4.79499 7.33112 1.02056 11.9871 1.02056C16.643 1.02056 20.4174 4.795 20.4172 9.45063V9.45067C20.4172 11.5285 19.6627 13.4268 18.4145 14.8979C18.4144 14.898 18.4144 14.898 18.4143 14.8981L11.987 22.4681Z" stroke="white" stroke-width="1.77746"/>
												<circle cx="12" cy="9" r="2" fill="white"/>
												</svg>
												span Трасса М-4 Дон, 1082-км
											.block-vacancy__slide-text Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur! Quis autem vel eum iure reprehenderit qui in
											.block-vacancy__slide-bottom
												.block-vacancy__slide-price 46 000 — 72 000 руб.
												.block-vacancy__slide-btn откликнуться
				.block-vacancy-cards.swiper(thumbsSlider="")
					.block-vacancy-cards__row.swiper-wrapper
						.block-vacancy-cards__card.swiper-slide
							.block-vacancy-cards__inner
								.block-vacancy-cards__title
									span Слесарь-сборщик
									<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="28" cy="28" r="27.5" fill="white" stroke="white"/>
									<g clip-path="url(#clip0_195_621)">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M39.7201 32.682C39.4571 38.9639 34.2833 43.9765 27.9367 43.9765C21.4219 43.9765 16.1406 38.5177 16.1406 32.1804C16.1406 31.3334 16.1254 29.6405 17.3955 26.7843C18.1556 25.075 18.6324 24.0012 18.9014 23.0196C19.0492 22.4801 19.3367 21.623 20.1563 23.0196C20.6396 23.8431 20.6583 25.0275 20.6583 25.0275C20.6583 25.0275 22.4563 23.6477 23.67 21.0118C25.4494 17.1476 24.0297 14.8377 23.5446 13.2314C23.3766 12.6757 23.2712 11.6771 24.423 12.102C25.5966 12.535 28.6992 14.7069 30.321 16.9961C32.6357 20.2632 33.4583 23.3961 33.4583 23.3961C33.4583 23.3961 34.1994 22.4763 34.4622 21.5137C34.759 20.4269 34.7634 19.3504 35.717 20.51C36.6239 21.6126 37.9708 23.6849 38.7289 25.6549C40.1054 29.2325 39.7201 32.682 39.7201 32.682Z" fill="url(#paint0_linear_195_621)"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M27.9381 43.9765C23.4331 43.9765 19.7812 40.3246 19.7812 35.8196C19.7812 33.1014 20.8767 31.451 23.1564 29.2131C24.6161 27.7801 25.9823 26.0201 26.563 24.8216C26.6773 24.5857 26.9375 23.3563 27.9405 24.7958C28.4667 25.5507 29.2915 26.8934 29.8205 28.0392C30.7323 30.0148 30.9499 31.9294 30.9499 31.9294C30.9499 31.9294 31.8435 31.4029 32.4558 30.0471C32.6532 29.6101 33.0522 27.9559 34.1678 29.6099C34.9864 30.8236 36.1109 33.0059 36.095 35.8196C36.095 40.3246 32.443 43.9765 27.9381 43.9765Z" fill="#FC9502"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M28.0635 35.0669C29.2243 35.0669 29.2243 37.2164 30.6988 40.0865C31.6807 41.9976 30.212 43.9767 28.0635 43.9767C25.915 43.9767 24.8008 42.235 24.8008 40.0865C24.8008 37.9381 26.9027 35.0669 28.0635 35.0669Z" fill="#FCE202"/>
									</g>
									<rect x="11.5" y="11.5" width="33" height="33" stroke="white"/>
									<defs>
									<linearGradient id="paint0_linear_195_621" x1="27.9544" y1="44.0001" x2="27.9544" y2="12.0237" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FF4C0D"/>
									<stop offset="1" stop-color="#FC9502"/>
									</linearGradient>
									<clipPath id="clip0_195_621">
									<rect x="12" y="12" width="32" height="32" fill="white"/>
									</clipPath>
									</defs>
									</svg>
									<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="28" cy="28" r="27.5" fill="white" stroke="#E3E3E3"/>
									<path d="M27.6562 24L31.8989 28.2426L27.6562 32.4853" stroke="#1F2120" stroke-width="1.5"/>
									</svg>
								.block-vacancy-cards__loc
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M11.9871 22.6824L5.4538 14.9882C4.18509 13.4928 3.41797 11.5632 3.41797 9.45094C3.41797 4.71837 7.25451 0.881836 11.9871 0.881836C16.7197 0.881836 20.5562 4.71839 20.5559 9.45063V9.45067C20.5559 11.5629 19.7888 13.4928 18.5201 14.9879L11.9871 22.6824Z" stroke="#1F2120" stroke-width="1.5"/>
									<circle cx="12" cy="9" r="2" fill="#1F2120"/>
									</svg>
									.block-vacancy-cards__loc-text
										span Трасса М-4 Дон, 1082-км
										span
											b Рассматриваются кандидаты без опыта работы!
								.block-vacancy-cards__price 46 000 — 72 000 руб.
						.block-vacancy-cards__card.swiper-slide
							.block-vacancy-cards__inner
								.block-vacancy-cards__title
									span Специалист по сертификации и оформлению технической ...
									<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="28" cy="28" r="27.5" fill="white" stroke="white"/>
									<g clip-path="url(#clip0_195_621)">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M39.7201 32.682C39.4571 38.9639 34.2833 43.9765 27.9367 43.9765C21.4219 43.9765 16.1406 38.5177 16.1406 32.1804C16.1406 31.3334 16.1254 29.6405 17.3955 26.7843C18.1556 25.075 18.6324 24.0012 18.9014 23.0196C19.0492 22.4801 19.3367 21.623 20.1563 23.0196C20.6396 23.8431 20.6583 25.0275 20.6583 25.0275C20.6583 25.0275 22.4563 23.6477 23.67 21.0118C25.4494 17.1476 24.0297 14.8377 23.5446 13.2314C23.3766 12.6757 23.2712 11.6771 24.423 12.102C25.5966 12.535 28.6992 14.7069 30.321 16.9961C32.6357 20.2632 33.4583 23.3961 33.4583 23.3961C33.4583 23.3961 34.1994 22.4763 34.4622 21.5137C34.759 20.4269 34.7634 19.3504 35.717 20.51C36.6239 21.6126 37.9708 23.6849 38.7289 25.6549C40.1054 29.2325 39.7201 32.682 39.7201 32.682Z" fill="url(#paint0_linear_195_621)"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M27.9381 43.9765C23.4331 43.9765 19.7812 40.3246 19.7812 35.8196C19.7812 33.1014 20.8767 31.451 23.1564 29.2131C24.6161 27.7801 25.9823 26.0201 26.563 24.8216C26.6773 24.5857 26.9375 23.3563 27.9405 24.7958C28.4667 25.5507 29.2915 26.8934 29.8205 28.0392C30.7323 30.0148 30.9499 31.9294 30.9499 31.9294C30.9499 31.9294 31.8435 31.4029 32.4558 30.0471C32.6532 29.6101 33.0522 27.9559 34.1678 29.6099C34.9864 30.8236 36.1109 33.0059 36.095 35.8196C36.095 40.3246 32.443 43.9765 27.9381 43.9765Z" fill="#FC9502"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M28.0635 35.0669C29.2243 35.0669 29.2243 37.2164 30.6988 40.0865C31.6807 41.9976 30.212 43.9767 28.0635 43.9767C25.915 43.9767 24.8008 42.235 24.8008 40.0865C24.8008 37.9381 26.9027 35.0669 28.0635 35.0669Z" fill="#FCE202"/>
									</g>
									<rect x="11.5" y="11.5" width="33" height="33" stroke="white"/>
									<defs>
									<linearGradient id="paint0_linear_195_621" x1="27.9544" y1="44.0001" x2="27.9544" y2="12.0237" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FF4C0D"/>
									<stop offset="1" stop-color="#FC9502"/>
									</linearGradient>
									<clipPath id="clip0_195_621">
									<rect x="12" y="12" width="32" height="32" fill="white"/>
									</clipPath>
									</defs>
									</svg>
									<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="28" cy="28" r="27.5" fill="white" stroke="#E3E3E3"/>
									<path d="M27.6562 24L31.8989 28.2426L27.6562 32.4853" stroke="#1F2120" stroke-width="1.5"/>
									</svg>
								.block-vacancy-cards__loc
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M11.9871 22.6824L5.4538 14.9882C4.18509 13.4928 3.41797 11.5632 3.41797 9.45094C3.41797 4.71837 7.25451 0.881836 11.9871 0.881836C16.7197 0.881836 20.5562 4.71839 20.5559 9.45063V9.45067C20.5559 11.5629 19.7888 13.4928 18.5201 14.9879L11.9871 22.6824Z" stroke="#1F2120" stroke-width="1.5"/>
									<circle cx="12" cy="9" r="2" fill="#1F2120"/>
									</svg>
									.block-vacancy-cards__loc-text
										span Ростов-на-Дону, улица Пескова, 1
								.block-vacancy-cards__price 46 000 — 72 000 руб.
						.block-vacancy-cards__card.swiper-slide
							.block-vacancy-cards__inner
								.block-vacancy-cards__title
									span Инженер-технолог
									<svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
									<circle cx="28" cy="28" r="27.5" fill="white" stroke="white"/>
									<g clip-path="url(#clip0_195_621)">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M39.7201 32.682C39.4571 38.9639 34.2833 43.9765 27.9367 43.9765C21.4219 43.9765 16.1406 38.5177 16.1406 32.1804C16.1406 31.3334 16.1254 29.6405 17.3955 26.7843C18.1556 25.075 18.6324 24.0012 18.9014 23.0196C19.0492 22.4801 19.3367 21.623 20.1563 23.0196C20.6396 23.8431 20.6583 25.0275 20.6583 25.0275C20.6583 25.0275 22.4563 23.6477 23.67 21.0118C25.4494 17.1476 24.0297 14.8377 23.5446 13.2314C23.3766 12.6757 23.2712 11.6771 24.423 12.102C25.5966 12.535 28.6992 14.7069 30.321 16.9961C32.6357 20.2632 33.4583 23.3961 33.4583 23.3961C33.4583 23.3961 34.1994 22.4763 34.4622 21.5137C34.759 20.4269 34.7634 19.3504 35.717 20.51C36.6239 21.6126 37.9708 23.6849 38.7289 25.6549C40.1054 29.2325 39.7201 32.682 39.7201 32.682Z" fill="url(#paint0_linear_195_621)"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M27.9381 43.9765C23.4331 43.9765 19.7812 40.3246 19.7812 35.8196C19.7812 33.1014 20.8767 31.451 23.1564 29.2131C24.6161 27.7801 25.9823 26.0201 26.563 24.8216C26.6773 24.5857 26.9375 23.3563 27.9405 24.7958C28.4667 25.5507 29.2915 26.8934 29.8205 28.0392C30.7323 30.0148 30.9499 31.9294 30.9499 31.9294C30.9499 31.9294 31.8435 31.4029 32.4558 30.0471C32.6532 29.6101 33.0522 27.9559 34.1678 29.6099C34.9864 30.8236 36.1109 33.0059 36.095 35.8196C36.095 40.3246 32.443 43.9765 27.9381 43.9765Z" fill="#FC9502"/>
									<path fill-rule="evenodd" clip-rule="evenodd" d="M28.0635 35.0669C29.2243 35.0669 29.2243 37.2164 30.6988 40.0865C31.6807 41.9976 30.212 43.9767 28.0635 43.9767C25.915 43.9767 24.8008 42.235 24.8008 40.0865C24.8008 37.9381 26.9027 35.0669 28.0635 35.0669Z" fill="#FCE202"/>
									</g>
									<rect x="11.5" y="11.5" width="33" height="33" stroke="white"/>
									<defs>
									<linearGradient id="paint0_linear_195_621" x1="27.9544" y1="44.0001" x2="27.9544" y2="12.0237" gradientUnits="userSpaceOnUse">
									<stop stop-color="#FF4C0D"/>
									<stop offset="1" stop-color="#FC9502"/>
									</linearGradient>
									<clipPath id="clip0_195_621">
									<rect x="12" y="12" width="32" height="32" fill="white"/>
									</clipPath>
									</defs>
									</svg>
								.block-vacancy-cards__loc
									<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M11.9871 22.6824L5.4538 14.9882C4.18509 13.4928 3.41797 11.5632 3.41797 9.45094C3.41797 4.71837 7.25451 0.881836 11.9871 0.881836C16.7197 0.881836 20.5562 4.71839 20.5559 9.45063V9.45067C20.5559 11.5629 19.7888 13.4928 18.5201 14.9879L11.9871 22.6824Z" stroke="#1F2120" stroke-width="1.5"/>
									<circle cx="12" cy="9" r="2" fill="#1F2120"/>
									</svg>
									.block-vacancy-cards__loc-text
										span Ростов-на-Дону, улица Пескова, 1
								.block-vacancy-cards__price от 57 000 руб.


		section.feedback
			.feedback__image
				img(src='./img/picture/feedback.jpg', srcset='./img/picture/feedback@2x.jpg 2x', alt='')
			.feedback__outer
				form.feedback__form(action='', method='post')
					.title.feedback__title ПОМОЖЕМ ПОДОБРАТЬ МОДЕЛЬ И КОМПЛЕКТАЦИЮ ТЕХНИКИ
					+field('text', 'firstName', 'Имя', 'feedback__field')(required='true')
					+field('text', 'number', 'Телефон', 'feedback__field')(required='true')
					+field('email', 'email', 'Email', 'feedback__field')
					+field(
						'checkbox',
						'policy',
						'Я принимаю условия политики конфиденциальности и даю согласие на обработку моих персональных данных',
						'feedback__field'
					)(required='true')
					+button('отправить', 'button--outline-inverse feedback__button')(type='submit')

	include ../../blocks/modules/footer/footer



	//block scripts
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")
		script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js")
