.centers {
	margin-bottom: 130px;

	@media (max-width: 768px) {
		margin-bottom: 56px;
	}

	section {
		margin-top: 130px;

		@media (max-width: 1200px) {
			margin-top: 70px;
		}

		&:first-child {
			margin: 0;
		}
	}

	.container {
		max-width: 1346px !important;
	}

	.resp-desk {
		@media (max-width: 768px) {
			display: none;
		}
	}

	.resp-mob {
		display: none;

		@media (max-width: 768px) {
			display: block;
		}
	}

	.h1 {
		@media (max-width: 390px) {
			font-size: 20px;
		}
	}

	.title {
		@media (max-width: 390px) {
			font-size: 13px;
		}
	}

	h3 {
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;
		display: flex;
		align-items: center;
		color: #1F2120;

		@media (max-width: 992px) {
			font-size: 16px;
		}
	}


	.breakpoints {
		&__container {
			padding: 25px 0;

			@media (max-width: 768px) {
				padding: 16px 0;
			}
		}
	}

	&__content {
		margin-top: 64px;

		@media (max-width: 768px) {
			margin-top: 32px;
		}
	}

	&__header {
		border-bottom: 1px solid #E3E3E3;
		display: flex;
		justify-content: space-between;

		@media (max-width: 500px) {
			flex-direction: column;
		}
	}

	&__switcher {}

	&__localities {}
}

.switcher-buttons {
	display: flex;

	@media (max-width: 768px) {
		margin-top: 35px;
	}

	&__button {
		cursor: pointer;
		margin-left: 25px;
		font-weight: 600;
		font-size: 16px;
		line-height: 200%;
		text-align: right;
		color: #1F2120;
		padding-bottom: 56px;

		@media (max-width: 768px) {
			font-weight: 600;
			font-size: 13px;
			line-height: 200%;
			margin: 0;
			margin-right: 35px;
			padding-bottom: 12px;
		}

		&.js-active {
			border-bottom: 3px solid #1F2120;
		}
	}
}

.select2-search.select2-search--dropdown {
	display: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	background: #080808;
}

.select2-results__option {
	padding: 15px 48px;
}

.select2 {
	&.select2-container--open {
		.select2-container--default .select2-selection--single .select2-selection__arrow {
			&::before {
				transform: rotate(180deg);
			}
		}
	}
}

.localities-centers {
	margin-top: 64px;

	@media (max-width: 768px) {
		margin-top: 32px;
	}

	.select2 {
		display: block;
		width: 100% !important;
	}

	.selection {
		display: block;
	}

	.select2-container--default .select2-selection--single .select2-selection__arrow {
		width: 24px;
		height: 12px;
		display: block;
		top: 50%;
		right: 48px;
		transform: translate(0, -50%);

		b {
			display: none;
		}

		&::before {
			content: '';
			transform: rotate(0deg);
			width: 24px;
			height: 12px;
			display: block;
			background: url('../img/svg/arrow-down.svg') 0 0 / 100% 100% no-repeat;
		}
	}

	.select2-selection__clear {
		display: none;
	}

	.select2-selection__placeholder,
	.select2-selection__rendered {
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
		display: flex;
		align-items: center;
		color: #1F2120;
		width: 100%;
		padding: 0 !important;
	}

	.select2-selection {
		position: relative;
		display: block;
		width: 100%;
		cursor: pointer;
		background: #F8F8F8;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 24px 48px;
		border: none;

		@media (max-width: 768px) {
			padding: 24px;
			padding-right: 87px;
		}

		label {
			font-weight: 400;
			font-size: 18px;
			line-height: 150%;
			display: flex;
			align-items: center;
			color: #1F2120;

			@media (max-width: 768px) {
				font-size: 14px;
			}
		}

		&-arrow {
			margin-left: 10px;
		}
	}

	&__buttons {
		margin-top: 10px;
		margin-left: -10px;
		margin-bottom: -10px;

		display: flex;
		flex-wrap: wrap;

		@media (max-width: 992px) {
			margin-top: 0px;
		}

		@media (max-width: 550px) {
			margin: 0;
			margin-bottom: -10px;
		}
	}

	&__button {
		cursor: pointer;
		background: #F8F8F8;
		margin-left: 10px;
		margin-bottom: 10px;
		width: calc((100% / 5) - 10px);
		padding: 16px;
		text-align: center;
		transition-duration: .3s;

		@media (max-width: 992px) {
			width: calc((50%) - 10px);
			margin-top: 10px;
		}

		@media (max-width: 550px) {
			width: 100%;
			margin-left: 0;
		}

		span {
			font-weight: 300;
			font-size: 24px;
			line-height: 150%;
			text-transform: uppercase;
			color: #8F9190;
			color: #1F2120;
			transition-duration: .3s;

			@media (max-width: 768px) {
				font-size: 18px;
			}
		}

		&-active,
		&:hover {
			background: #4C4E4D;

			span {

				color: #FFFFFF;
			}

		}
	}


	&__items {}

	&__item {
		display: flex;
		margin-top: 40px;
		background: #F8F8F8;

		@media (max-width: 768px) {
			flex-wrap: wrap;
		}

		&:nth-child(even) {
			flex-direction: row-reverse;

			@media (max-width: 768px) {
				flex-direction: row;
			}
		}

		&-text {
			width: 1090px;
			max-width: 100%;
			margin-top: 56px;
		}
	}

	&__item-body {
		flex: 0 1 50%;
		padding: 58px 122px;

		@media (max-width: 1100px) {
			padding: 32px;
		}

		@media (max-width: 768px) {
			flex: 1 1 100%;
		}
	}

	&__item-title {
		font-weight: 260;
		font-size: 38px;
		line-height: 150%;
		display: flex;
		align-items: center;
		color: #1F2120;

		@media (max-width: 768px) {
			font-size: 24px;
		}
	}

	&__item-subtitle {
		font-weight: 300;
		font-size: 20px;
		line-height: 150%;
		color: #1F2120;
		margin-top: 24px;
		padding-bottom: 32px;
		border-bottom: 1px solid #8F9190;

		@media (max-width: 768px) {
			font-size: 18px;
		}
	}

	&__item-loc {
		margin-top: 64px;

		@media (max-width: 768px) {
			margin-top: 24px;
		}

		span {
			font-weight: 600;
			font-size: 12px;
			line-height: 150%;
			text-transform: uppercase;
			color: #8F9190;
			display: block;
			margin-bottom: 20px;
		}

		p {
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
			color: #1F2120;
		}
	}

	&__item-contact {
		margin-top: 24px;

		span {
			font-weight: 600;
			font-size: 12px;
			line-height: 150%;
			text-transform: uppercase;
			color: #8F9190;
			margin-bottom: 20px;
			display: block;
		}

		a {
			display: block;
			font-weight: 400;
			font-size: 16px;
			line-height: 150%;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			color: #1F2120;
		}
	}

	&__item-map {
		flex: 0 1 50%;
		min-height: 100%;
		position: relative;

		@media (max-width: 768px) {
			flex: 1 1 100%;
			padding-top: 60%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}


	.localities-centers__item-dark {
		.localities-centers__item {
			background: #5B5B5B;

			&-body {
				flex: 0 1 468px;
				padding: 72px 35px 24px;

				@media (max-width: 768px) {
					flex: 1 1 100%;
				}

				* {
					color: #ffffff;

					span {
						color: #8F9190;
					}
				}
			}

			&-map {
				flex: 1 1 auto;
			}

			&-text {
				margin-top: 56px;

				@media (max-width: 768px) {
					margin-top: 32px;
				}
			}
		}
	}


	.localities-centers__item-onlymap {
		.localities-centers__item {
			&-map {
				padding-top: 50%;
				flex: 1 1 100%;
			}

			&-text {
				margin-top: 56px;

				@media (max-width: 768px) {
					margin-top: 32px;
				}
			}
		}
	}
}

.centers-tabs {
	margin-top: 52px;
	@media (max-width: 768px){
		margin-top: 32px;
	}
}

.centers-tabs__tab {
	display: none;
}


.centers-map-block {
	position: relative;
	min-height: 601px;


}

.cmb-info {
	width: 468px;
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 2;

	pointer-events: none;


	&::after {
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 20px;

		background: linear-gradient(0deg, rgba(91, 91, 91, 1) 10%, rgba(91, 91, 91, 0) 100%);
		z-index: 2;
		pointer-events: none;
		opacity: 0;
		transition: opacity .3s;
	}


	&--active {
		pointer-events: all;

		&::after {
			opacity: 1;
		}
	}

	&__item {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background: #5B5B5B;
		opacity: 0;
		pointer-events: none;
		transition: opacity .3s;

		padding-bottom: 20px;


		-ms-overflow-style: none;
		/* Internet Explorer 10+ */
		scrollbar-width: none;
		/* Firefox */

		&::-webkit-scrollbar {
			display: none;
			/* Safari and Chrome */
		}

		&--active {
			opacity: 1;
			pointer-events: all;

		}

	}
}

.cmb__map {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.localities-centers__item-contact a {
	word-break: break-all;
}

.simple-map-container {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	&>ymaps {
		width: 100%;
		height: 100%;
	}
}