.contact-us {
	margin-bottom: 130px;
	@media (max-width: 768px){
		margin-bottom: 56px;
	}
	section {
		margin-top: 130px;
		@media (max-width: 1200px){
			margin-top: 70px;
		}
		&:first-child {
			margin: 0;
		}
	}
	.container {
		max-width: 1346px!important;
	}
	.resp-desk {
		@media (max-width: 768px){
			display: none;
		}
	}
	.resp-mob {
		display: none;
		@media (max-width: 768px){
			display: block;
		}
	}
	.h1 {
		@media (max-width: 391px){
			font-size: 20px;
		}
	}
	.title {
		@media (max-width: 391px){
			font-size: 13px;
		}
	}
	h3 {
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;
		display: flex;
		align-items: center;
		color: #1F2120;
		@media (max-width: 992px){
			font-size: 16px;
		}
	}


	.breakpoints {
		&__container {
			padding: 25px 0;
			@media (max-width: 768px){
				padding: 16px 0;
			}
		}
	}


	&__content  {
		margin-top: 64px;
		@media (max-width: 768px){
			margin-top: 24px;
		}
		.h1 {
			margin-top: 80px;
			@media (max-width: 768px){
				margin-top: 32px;
			}
		}
	}
	&__row  {
		margin-top: 48px;
		display: flex;
		@media (max-width: 992px){
			flex-wrap: wrap;
		}
	}
	&__left  {
		flex: 0 1 926px;
		@media (max-width: 992px){
			flex: 1 1 100%;
		}
	}
	&__right {
		flex: 1 1 auto;
		padding-left: 52px;
		@media (max-width: 992px){
			padding: 0;
			margin-top: 40px;
		}
	}
	&__headquarters {

	}
	&__sales {
		@media (max-width: 992px){
			display: none;
		}
	}
	&__hr {
		@media (max-width: 992px){
			display: none;
		}
	}
}
.headquarters-contact-us  {
	&__img{
		padding-top: 61%;
		position: relative;
		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	} 
	&__title {
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;
		display: flex;
		align-items: center;
		color: #1F2120;
		@media (max-width: 768px){
			font-size: 16px;
		}
	}
	&__text{
		background: #F8F8F8;
		padding: 40px 44px;
		&-item {
			text-transform: uppercase;
			font-weight: 300;
			font-size: 16px;
			line-height: 150%;
			color: #1F2120;
			margin-top: 24px;
			@media (max-width: 768px){
				font-size: 13px;
			}
			span {
				display: block;
				margin-bottom: 8px;
			}
			b {
				margin-right: 8px;
				font-size: 12px;
				font-weight: 600;
			}
		} 
	}
}

.sales-contact-us {
	margin-top: 80px;
	&__items  {
		margin-top: 52px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -30px -15px 0;
	}
	&__item {
		padding: 30px 15px 0;
		flex: 0 1 50%;
		@media (max-width: 992px){
			flex: 1 1 100%;
		}
	}
}
.cards-contact-us {
	display: none;
	&.js-active {
		@media (max-width: 992px){
			display: block;
		}
	}
	@media (max-width: 992px){
		padding-top: 16px;
		padding-bottom: 24px;
	}
	.card-contact-us {
		@media (max-width: 992px){
			margin-top: 8px;
		}
	}
}
.card-contact-us {
	&__column {
		background: #F8F8F8;
		padding: 32px;
		display: flex;
		flex-direction: column;
		min-height: 100%;
		@media (max-width: 992px){
			padding: 24px;
		}
	}
	&__text {
		flex: 1 1 auto;
		font-weight: 400;
		font-size: 15px;
		line-height: 160%;
		color: #4C4E4D;
		margin-top: 10px;
		@media (max-width: 992px){
			font-size: 13px;
		}
	}
	&__info {
		border-top: 1px solid #E0E0E0;
		margin-top: 40px;
		padding-top: 18px;
		@media (max-width: 992px){
			margin-top: 32px;
			padding-top: 10px;
		}
		a {
			display: flex;
			align-items: center;
			margin-top: 8px;
			&:first-child{
				margin: 0;
			}
			span {
				margin-left: 10px;
				display: block;
				font-weight: 600;
				font-size: 16px;
				line-height: 160%;
				display: flex;
				align-items: center;
				color: #1F2120;
				@media (max-width: 992px){
					font-size: 13px;
				}
			}
		}
	}
}

.hr-contact-us {
	margin-top: 80px;
	&__items  {
		margin-top: 52px;
	}
	&__row {
		display: flex;
		flex-wrap: wrap;
		margin: -30px -15px 0;
	}
	&__item {
		padding: 30px 15px 0;
		flex: 0 1 50%;
		@media (max-width: 992px){
			flex: 1 1 100%;
		}
	}
}

.contact-us-sidebar {
	&__list {
		border: 0.5px solid #E3E3E3;
		@media (max-width: 992px){
			border: 0px solid #E3E3E3;
			
		}
	}
	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 150%;
		display: flex;
		align-items: center;
		color: #1F2120;
		padding: 20px 24px;
		display: flex;
		justify-content: space-between;
		border: 0.5px solid #E3E3E3;
		@media (max-width: 992px){
			border: 0px solid #E3E3E3;
			border-top: 0.5px solid #E3E3E3;
			border-bottom: 0.5px solid #E3E3E3;
		}
		span {
			display: inline-block;
			margin-right: 20px;
		}
		svg {
			width: 24px;
			height: 24px;
			min-width: 24px;
			min-height: 24px;
		}
		&.js-active {
			background: #8F9190;
			border: 1px solid #E3E3E3;
			color: #FFFFFF;
			@media (max-width: 992px){
				border-bottom: none;
			}
			.contact-us-sidebar__arrow {
				display: none;
			}
			.contact-us-sidebar__dotes {
				display: block;
			}
		}
	}
	&__arrow {
		opacity: 0.5;
		transition: all 0.3s ease 0s;
		&:hover{
			opacity: 1;
		}
	}
	&__dotes {
		display: none;
	}
}