.main-page--service-new .banner {
    padding: 0;
    margin-top: 110px;
}

.main-page--service-new .feedback {
    margin-top: 101px;
}

.sec1-bottom-page__body--service-new {
    padding-top: 144px;
    min-height: 626px;
}

.sec1-bottom-page__body--service-new .h1 {
    margin-top: 0;
}

.sec1-bottom-page__body--service-new p {
    margin-top: 46px;
    color: #1F2120;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

.sec1-bottom-page__body--service-new p+p {
    margin-top: 26px;
}

.service-new-page-h2 {
    color: var(--main-dark, #1F2120);
    /* Заголовок Н1 */
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    /* 72px */
    text-transform: uppercase;
}

.bonum-service-is {
    margin-top: 49px;
}

.bsi-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    margin-top: 25px;
    counter-reset: bsi-item;
}

.bsi-item {
    background: #E9E9E9;
    margin-left: 30px;
    margin-bottom: 30px;
    padding: 28px 27px 19px 36px;
    width: calc(33.33% - 30px);
    display: flex;
    align-items: center;
    min-height: 130px;
}

.bsi-item__digit {
    color: var(--main-dark, #1F2120);
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    min-width: 66px;
    /* 72px */
    margin-top: -3px;
    text-transform: uppercase;
}

.bsi-item__digit::before {
    counter-increment: bsi-item;
    content: "0" counter(bsi-item);
}

.bsi-item:nth-child(9)~.bsi-item .bsi-item__digit::before {
    content: counter(bsi-item);
}

.bsi-item__text {
    margin-left: 14px;
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 154.5%;
    /* 27.81px */
}

.service-request-structure {
    margin-top: 75px;
}

.servrs-flex {
    display: flex;
    margin-top: 22px;
}

.servrs-flex__text {
    width: 404px;
    flex-shrink: 0;
    margin-right: 77px;
}

.servrs-flex__image {
    width: 100%;
}

.servrs-flex__image img {
    width: 769px;
    max-width: 100%;
    height: auto;
    display: block;
}

.servrs-text-items {
    counter-reset: servrs-text-items;
    margin-top: 22px;
    padding-left: 100px;
    margin-top: 15px;
}

.servrs-text-item__title {
    color: var(--main-dark, #1F2120);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    /* 30px */
    text-transform: uppercase;
    position: relative;
}

.servrs-text-item__title::before {
    counter-increment: servrs-text-items;
    content: counter(servrs-text-items) ".";
    position: absolute;
    display: block;
    left: -31px;
    top: 0;
    text-align: right;
}

.servrs-text-item__info {
    color: var(--gray-65, #565B59);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
    margin-top: 13px;
}

.servrs-text-item+.servrs-text-item {
    margin-top: 25px;
}

.centers--v2 {
    margin-bottom: 0;
    overflow: hidden;
}

.centers--v2 .title {
    text-transform: none;
}

.centers--v2 [data-filter=false] {
    display: none;
}

.centers--v2 .localities-centers__button {
    flex-grow: 1;
}

.centers--v2 .localities-centers {
    margin-top: 21px;
}

.centers--v2 .localities-centers .select2-selection {
    padding: 38px 48px;
}

.centers--v2 .centers__content {
    margin-top: 73px;
}

.centers--v2 .centers-tabs {
    margin-top: 30px;
}

.centers-text-before-tabs {
    margin-top: 37px;
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    /* 22.5px */
}

.section-contacts-list {
    margin-top: 48px;
}

.contacts-list {
    margin-top: 48px;
}

.section-contacts-list__warranty-policy {
    margin-top: 20px;
    font-size: 15px;
}

.section-with-video {
    margin-top: 70px;
}

.company__video--section-with-video {
    margin-top: 30px;
    padding: 0 !important;
    display: block;
    height: auto !important;
}

.company__video--section-with-video .company__preview {
    width: 100%;
    height: auto;
    display: block;
    position: static;
}

@media screen and (min-width: 1000px) {
    .main-page--service-new .banner__content {
        padding: 53px 84px 44px;
    }

    .centers--v2 .title {
        font-size: 24px;
        margin-top: -5px;
    }

    .centers--v2 .switcher-buttons__button {
        cursor: pointer;
        margin-left: 69px;
        padding-bottom: 42px;
    }

    .contacts-list {
        padding: 0 20px;
    }

    .sales-contact-us__row--contacts-list h3 {
        color: var(--main-dark, #1F2120);
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        /* 36px */
    }

    .sales-contact-us__row--contacts-list .card-contact-us__column {
        padding: 57px 44px 49px;
    }

    .sales-contact-us__row--contacts-list .card-contact-us__text {
        margin-top: 19px;
    }

    .sales-contact-us__row--contacts-list .card-contact-us__info {
        margin-top: 58px;
        padding-top: 29px;
    }

    .sales-contact-us__row--contacts-list .card-contact-us__info a {
        align-items: center;
    }

    .sales-contact-us__row--contacts-list .card-contact-us__info a img {
        width: 27px;
        flex-shrink: 0;
        display: block;
        height: auto;
        margin-top: -2px;
    }

    .sales-contact-us__row--contacts-list .card-contact-us__info a span {
        margin-left: 15px;
    }

    .sales-contact-us__row--contacts-list .card-contact-us__info a+a {
        margin-top: 14px;
    }

    .company__video--section-with-video .company__play {
        width: 168px;
    }
}


@media screen and (max-width: 1345px) {
    .bsi-item {
        width: calc(50% - 30px);
    }
}

@media screen and (max-width: 1000px) {
    .service-new-page-h2 {
        font-weight: 400;
        font-size: 24px;
    }
}



@media screen and (max-width: 999px) {
    .main-page--service-new .feedback {
        margin-top: 48px;
    }

    .centers--v2 .localities-centers .select2-selection {
        padding: 29px 24px;
        padding-right: 87px;
    }

    .centers--v2 .localities-centers__buttons {
        margin-top: 10px;
    }

    .centers--v2 .switcher-buttons {
        margin-top: 0;
    }

    .contacts-list {
        margin-top: 20px;
    }

    .section-with-video {
        margin-top: 48px;
    }
}

@media screen and (max-width: 940px) {
    .bsi-item {
        padding: 15px;
        min-height: 100px;
    }

    .bsi-item__digit {
        font-size: 36px;
        min-width: 50px;
    }

    .bsi-item__text {
        font-size: 15px;
        margin-left: 10px;
    }

    .servrs-flex__text {
        width: 344px;
        margin-right: 30px;
    }

    .servrs-text-items {
        padding-left: 40px;
    }
}

@media (max-width: 768px) {
    .centers--v2 .centers__content {
        margin-top: 32px;
    }
}

@media screen and (max-width: 768px) {
    .bsi-flex {
        margin-bottom: -15px;
    }

    .bsi-item {
        width: calc(100% - 30px);
        margin-bottom: 15px;
    }

    .servrs-flex {
        flex-direction: column;
    }

    .servrs-flex__text {
        width: 100%;
        margin-right: 0;
        margin-top: 30px;
    }

    .servrs-flex__image {
        order: -1;
    }

    .servrs-flex__image img {
        width: 360px;
        margin-left: auto;
        margin-right: auto;
    }

    .centers--v2 .centers__header {
        flex-wrap: wrap;
    }

    .centers--v2 .title {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 699px) {
    .service-new-page-h2 {
        font-weight: 400;
        font-size: 18px;
    }
}

@media screen and (max-width: 600px) {
    .company__video--section-with-video .company__play {
        width: 90px;
    }
}

@media screen and (max-width: 420px) {
    .servrs-text-item__title {
        font-size: 18px;
    }
}

@media screen and (max-width: 380px) {
    .bsi-item__text {
        font-size: 13px;
    }
}

.calculator-slider .ui-slider-handle{
    margin-left: -4px;
}