.leasing-mult {
	.container {
		max-width: 1346px!important;
	}
	.resp-desk {
		@media (max-width: 768px){
			display: none;
		}
	}
	.resp-mob {
		display: none;
		@media (max-width: 768px){
			display: block;
		}
	}
	.h1 {
		text-transform: uppercase;
		line-height: 123%;
		@media (max-width: 391px){
			font-size: 20px;
		}
		span {
			font-size: 50.56px;
			font-weight: 600;
		}
	}
	.h2 {
		font-size: 48px;
		line-height: 150%;
		font-weight: 300;
		text-transform: uppercase;
	
		@include max(lg) {
			font-size: 40px;
		}
	
		@include max(sm) {
			font-size: 20px;
		}
	
		&--uppercase {
			text-transform: uppercase;
		}
	}
	.title {
		@media (max-width: 391px){
			font-size: 13px;
		}
	}
	p, li {
		font-weight: 400;
		font-size: 15px;
		line-height: 170%;
		@media (max-width: 768px){
			font-size: 13px;
			line-height: 150%;
		}
	}
	&__btn {
		display: block;
		width: fit-content;
		padding: 16px 40px;
		font-weight: 400;
		font-size: 14px;
		line-height: 150%;
		letter-spacing: 0.03em;
		text-transform: uppercase;
		color: #1F2120;
		border: 1px solid #FFFFFF;
		background-color: #fff;
		text-align: center;
	}
}

.leasing-mult-hero {
	background-color: #F8F8F8;
	&__row {
		display: flex;
	}
	&__body {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-basis: 50%;
		max-width: 50%;
		padding-top: 25px;
		padding-bottom: 105px;
	}
	&__body-inner {
		max-width: 657px;
	}
	&__btn {
		margin-top: 44px;
	}
	&__image-wrapper {
		flex-basis: 50%;
		max-width: 50%;
	}
	&__image {
		width: 100%;
		img {
			width: 100%;
		}
	}
}

.leasing-mult-conditions {
	padding-top: 91px;
	&__wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}
	&__item {
		flex: 1 1 30%;
	}
}

.leasing-condition {
	display: flex;
	align-items: center;
	gap: 16px;
	width: 418px;
	padding: 48px 40px 48px 48px;
	background-color: #F8F8F8;
	&__image {
		flex-shrink: 0;
		flex-grow: 0;
		width: 64px;
		height: 64px;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__info {
		flex-basis: 250px;
	}
	&__title {
		font-size: 15px;
		font-weight: 600;
		line-height: 170%;
	}
	&__text {
		margin-top: 1.5px;
		font-size: 15px;
		font-weight: 400;
		line-height: 170%;
		color: #4C4E4D;
	}
}

.leasing-mult-entity {
	padding-top: 91px;
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, minmax(0, 1fr));
		row-gap: 30px;
		column-gap: 30px;
		margin-top: 68px;
	}
}

.entity-card {
	position: relative;
	padding: 40px 57px 43px;
	background-color: #F6F7F9;
	aspect-ratio: 1 / 0.64;
	&__content {
		position: relative;
		height: 100%;
		display: flex;
		flex-direction: column;
		z-index: 3;
	}
	&__title {
		font-size: 24px;
		font-weight: 600;
		line-height: 150%;
	}
	&__info {
		margin-top: 9px;
		font-size: 14px;
		font-weight: 400;
		line-height: 150%;
	}
	&__btn {
		margin-top: auto;
	}
	&__img {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 63.4%;
		z-index: 1;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

.leasing-mult__leasing {
	.leasing__slider {
		margin-top: 64px;
	}
	.card-leasing {
		padding: 31px 37px 20px;
		background-color: #F6F7F9;
		&--colored {
			background-color: #E0E0E0;
		}
		&__subtitle {
			font-size: 10.08px;
			padding-bottom: 12px;
			margin-bottom: 14px;
		}
		&__image {
			margin-bottom: 27px;
			max-height: 318px;
			aspect-ratio: 1 / 0.9;
		}
		&__bottom {
			gap: 0;
			margin-top: 0;
		}
		&__from {
			text-transform: uppercase;
			font-size: 20px;
			line-height: 150%;
			font-weight: 600;
		}
		&__offer > span {
			text-transform: none;
			font-size: 15px;
			line-height: 150%;
			font-weight: 400;
			margin-top: -3px;
		}
	}
}

.partners.leasing-mult__advantages {
	padding-top: 5px;
	padding-bottom: 0;
	.partners__content {
		margin-top: 0;
	}
	.partners__items {
		margin-top: 64px;
	}
	.partners__row {
		flex-wrap: nowrap;
	}
	.item-partners {
		padding-top: 0;
		&__column {
			padding: 40px 41px 28px;
		}
		&__title {
			margin-left: -5px;
			margin-right: -5px;
			text-align: center;
			text-transform: uppercase;
		}
		&__icon {
			height: 165px;
		}
		&__text {
			padding-top: 11px;
		}
	}
}

.leasing-mult__questions {
	padding: 128px 0 108px;
	.accordions {
		margin-top: 50px;
	}
}