.main-page {

    .gallery,
    .feedback {
        @include max(xl2) {
            display: none !important;
        }
    }

    .slider {
        .slider-top {
            &__container {
                overflow: visible;
                max-width: 1920px;
                width: 100%;
                padding: 68px 303px 48px;
                margin: 0 auto;
            }

            &--buttons {
                position: relative;
                display: flex;
                justify-content: center;

                &__order {
                    margin-right: 64px;
                }
            }

            &__top {
                .slider-top__slide {
                    width: 100%;
                    transition: $animation;
                    padding-top: 68px;
                    padding-bottom: 48px;

                    &-title {
                        font-size: 48px;
                        line-height: 150%;
                        text-align: center;
                        color: $black;
                        transition: $animation;
                    }

                    &-text {
                        font-size: 32px;
                        line-height: 150%;
                        text-align: center;
                        color: $grey-2;
                        margin-bottom: 39px;
                        transition: $animation;
                    }

                    &-img {
                        max-width: 866px;
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            }
        }

        .slider-info {
            background-color: $grey-5;

            .container {
                padding: 80px 0px 73px 0;

                @media (max-width: 1440px) {
                    padding: 72px 0px 72px 0;
                }

            }

            &__slide {
                transition: .01s;

                &-wrap {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    position: relative;
                }

                &-item {
                    display: flex;
                    align-items: flex-start;
                    width: auto;
                    padding-right: 74px;
                    margin-right: 74px;

                    @media (max-width: 1440px) {
                        flex-flow: column nowrap;
                        padding-right: 46px;
                        margin-right: 46px;
                        justify-content: flex-start;
                        align-items: center;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                // &-item:not(:first-child) {
                //     margin-left: 53px;
                // }

                &-item:not(:last-child) {
                    border-right: 1px solid $grey-6;
                }

                &-icon {
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 64px;
                    height: 64px;
                    background-color: $black;
                    border-radius: 50%;
                    margin-right: 24px;

                    @media (max-width: 1440px) {
                        margin-right: 0;
                    }
                }

                &-title {
                    font-size: 20px;
                    line-height: 135%;
                    color: $black;
                    margin-bottom: 13px;

                    @media (max-width: 1440px) {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 135%;
                        text-align: center;
                        margin-top: 8px;
                        margin-bottom: 16px;
                        width: 100%;
                        max-width: 140px;

                    }
                }

                &-text {
                    font-size: 16px;
                    line-height: 150%;
                    color: $grey-7;

                    @media (max-width: 1440px) {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 150%;
                        text-align: center;
                    }
                }
            }
        }
    }

    .gallery {
        overflow: hidden;

        &__container {
            max-width: 1920px;
            width: 100%;
            padding: 130px 303px 0;
            margin: 0 auto;
        }

        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            text-transform: uppercase;
            color: $black;
            margin-bottom: 71px;
        }

        &__slider {
            overflow: visible;
        }

        &__slide-img {
            position: relative;
            width: 100%;
            cursor: pointer;

            & img {
                width: 100%;
                max-height: 630px;
                object-fit: cover;
            }

            &:hover {
                &::before {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(0deg, rgba(31, 33, 32, 0.5), rgba(31, 33, 32, 0.5));
                }

                &::after {
                    content: '';
                    position: absolute;
                    z-index: 1;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: url(../../img/svg/i-search-zoom-in.svg) center center no-repeat;
                }
            }
        }

        &__slide {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before {
                content: '';
                display: block;
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(0deg, rgba(31, 33, 32, 0.75), rgba(31, 33, 32, 0.75));
            }

            &.swiper-slide-active::before {
                display: none;
                background: transparent;
            }

            &-three {
                display: grid;
                grid-template-columns: minmax(auto, 866px) 1fr;
                gap: 30px;

                .gallery__slide-img:nth-child(1) {
                    grid-row: 1/3;
                }

                .gallery__slide-img:nth-child(2) {
                    grid-row: 1/2;
                }

                .gallery__slide-img:nth-child(3) {
                    grid-column: 2/3;
                    grid-row: 2/3;
                }
            }
        }

        &-arrow {
            position: absolute;
            z-index: 5;
            z-index: 2;
            top: 50%;
            transform: translate(0, -50%);
            cursor: pointer;

            &__prev {
                left: -14.4%;
                transform: translate(0, -50%) rotate(180deg);
            }

            &__next {
                right: -14.4%;
            }
        }
    }

    .video-content {
        padding-top: 128px;
        padding-bottom: 88px;

        @include max(lg) {
            padding-top: 96px;
            padding-bottom: 96px;
        }

        .company__col {
            &:first-child {
                margin-right: 142px;
                width: 50%;

                .company__text {
                    width: 100%;
                    max-width: 100%;
                }
            }

            &:last-child {
                width: 50%;
            }
        }
    }

    .options {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        background: #F8F8F8;
        padding-top: 56px;
        padding-bottom: 85px;

        .options--tabsControls {
            position: relative;
            display: flex;
            width: 100%;
            flex-flow: row nowrap;
            border-bottom: 1px solid #E3E3E3;
            padding-bottom: 32px;
            display: flex;
            justify-content: center;
            align-items: flex-end;

            .options--tabControl {

                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 135%;
                text-align: center;
                color: #4C4E4D;
                position: relative;
                width: auto;
                padding: 0 10px;
                margin: 0 30px;
                transition: all .5s;

                &.active {
                    transition: all .5s;
                    color: #1F2120;

                    &::before {
                        position: absolute;
                        width: 100%;
                        content: "";
                        height: 2px;
                        background: #1F2120;
                        color: #1F2120;
                        bottom: -33px;
                        left: 0;


                    }
                }

                &:hover {
                    color: #1F2120;
                    transition: all .5s;

                    &::before {
                        position: absolute;
                        width: 100%;
                        content: "";
                        height: 2px;
                        background: #1F2120;
                        bottom: -33px;
                        left: 0;


                    }
                }
            }

        }

        .options--tabs-content {
            display: none;
            position: relative;
            width: 100%;
            justify-content: center;
            align-items: flex-start;
            padding-top: 72px;

            &--title {

                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 150%;
                text-transform: uppercase;
                color: #1F2120;
                margin-bottom: 56px;
            }

            &.active {
                display: flex;
            }
        }
    }

    .options-additional {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        max-width: 1088px;
        align-self: center;
        flex-flow: column nowrap;

        &--title {

            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            text-transform: uppercase;
            color: #1F2120;
            margin-bottom: 56px;
        }

        &--subtitle {

            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #1F2120;
            margin-bottom: 40px;
        }

        &--table {
            position: relative;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
        }

        &--row {
            position: relative;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            background: #FFFFFF;
            color: #4C4E4D;

            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 170%;

            &.options--header {
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 135%;
                color: #FFFFFF;
                background: #4C4E4D;
                border: 1px solid #F8F8F8;

            }
        }

        &--col {
            position: relative;
            display: flex;
            width: 50%;
            border: 1px solid #F8F8F8;
            padding: 32px 24px;

            &.options--header {
                padding: 16px 20px;
            }
        }

        &--list {
            position: relative;
            display: block;
            list-style-type: disc;
            padding-left: 10px;

            li {
                font-style: normal;
                font-weight: 400;
                font-size: 15px;
                line-height: 170%;
                color: #4C4E4D;
                padding-left: 10px;
                margin-bottom: 20px;
            }
        }
    }

    .makers {
        position: relative;
        display: flex;
        justify-content: flex-start;
        width: 100%;

        .options-maker {
            position: relative;
            display: flex;
            justify-content: flex-start;
            margin-right: 18px;

            &::after {
                position: relative;
                content: '/';
                margin-left: 18px;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                color: #8F9190;
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }

            img {
                margin-left: 10px;
            }
        }
    }

    .options-equipment {
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        max-width: 1088px;
        align-self: center;
        flex-flow: column nowrap;


        &--subtitle {

            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #1F2120;
            margin-bottom: 40px;
        }


        &--row {
            position: relative;
            display: flex;
            justify-content: flex-start;
            width: 100%;
            background: #FFFFFF;
            padding: 26px 32px 24px 32px;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 170%;
            border: 1px solid #F8F8F8;

        }

        &--table {
            position: relative;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
        }

        &--col {
            position: relative;
            display: flex;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 150%;
            display: flex;
            align-items: center;

            /* main dark */

            color: #1F2120;

            &:nth-child(1) {
                width: 48.07%;
                font-weight: 600;
                padding-right: 103px;
            }

            &:nth-child(2) {
                width: 42.2%;
            }

            &:nth-child(3) {
                width: 9.72%;
            }
        }

    }

    .property {
        padding-bottom: 128px;

        @include max(lg) {
            padding-bottom: 96px;
        }

        &__container {
            max-width: 1920px;
            width: 100%;
            padding: 130px 303px 0;
            margin: 0 auto;
        }

        &__title {
            font-weight: 600;
            font-size: 20px;
            line-height: 150%;
            text-transform: uppercase;
            color: $black;
            margin-bottom: 71px;
        }

        &__list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            border-left: 1px solid $grey-1;

            &:first-of-type {
                border-top: 1px solid $grey-1;
            }

            &-two {
                grid-template-columns: repeat(2, 1fr);
            }
        }

        &__item {
            min-height: 254px;
            display: flex;
            flex-direction: column;
            border-right: 1px solid $grey-1;
            border-bottom: 1px solid $grey-1;
            padding: 32px;
            cursor: pointer;
            transition: $animation;

            &:hover {
                background-color: $black;

                .property__item-icon {
                    background-color: $white;

                    svg {
                        fill: $black;
                    }
                }

                .property__item-title,
                .property__item-subtitle,
                .property__item-text {
                    color: $white;
                }

                .property__item-li::before {
                    background-color: $white;
                }
            }

            &-icon {
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $black;
                border-radius: 50%;
                margin-bottom: 32px;
                transition: $animation;

                svg {
                    fill: $white;
                    transition: $animation;
                }
            }

            &-title {
                font-size: 18px;
                line-height: 135%;
                color: $black;
                margin-bottom: 13px;
                transition: $animation;
            }

            &-subtitle {
                max-width: 430px;
                font-weight: 600;
                font-size: 15px;
                line-height: 150%;
                color: $grey-7;
                margin-bottom: 12px;
                transition: $animation;
            }

            &-text {
                font-size: 15px;
                line-height: 150%;
                color: $grey-7;
                transition: $animation;
            }

            &-li {
                position: relative;
                padding-left: 21px;

                &:not(:last-child) {
                    margin-bottom: 7px;
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 8px;
                    left: 8px;
                    width: 4px;
                    height: 4px;
                    background-color: $grey-7;
                    border-radius: 50%;
                    transition: $animation;

                }
            }
        }
    }
}