section.contacts
	.container.contacts__container
		a.contacts__part(href='tel:88005500161')
			p 8 800 550-01-61
			p Заказать звонок
		a.contacts__part(href='mailto:info@bonum-trailer.ru')
			p info@bonum-trailer.ru
			p Отправить запрос
		a.contacts__part(href='#')
			p Прайслист
			p Получить