section.brands
	.container
		.h1 Наши комплектующие
		.brands__text Для полуприцепов и сельскохозяйственной техники BONUM мы выбираем только лучшие комплектующие
			|  и запасные части от мировых лидеров рынка.
		.brands__wrapper
			.brands__item
				img(src='./img/picture/brands/saf-holland.svg', width='120', height='20', alt="")
			.brands__item
				img(src='./img/picture/brands/normec.svg', width='136', height='32', alt="")
			.brands__item
				img(src='./img/picture/brands/wabco.svg', width='149', height='24', alt="")
			.brands__item
				img(src='./img/picture/brands/lokhen.svg', width='123', height='26', alt="")
			.brands__item
				img(src='./img/picture/brands/dixon.svg', width='88', height='50', alt="")
			.brands__item
				img(src='./img/picture/brands/jost.svg', width='100', height='42', alt="")
			.brands__item
				img(src='./img/picture/brands/wurth.svg', width='124', height='27', alt="")
			.brands__item
				img(src='./img/picture/brands/pirelli.svg', width='112', height='19', alt="")
			.brands__item
				img(src='./img/picture/brands/severstal.svg', width='116', height='39', alt="")
			.brands__item
				img(src='./img/picture/brands/ssab.svg', width='63', height='21', alt="")
			.brands__item
				img(src='./img/picture/brands/domar.svg', width='105', height='22', alt="")
			.brands__item
				img(src='./img/picture/brands/daken.svg', width='60', height='45', alt="")
			.brands__item
				img(src='./img/picture/brands/binotto.svg', width='90', height='32', alt="")
			.brands__item
				img(src='./img/picture/brands/nlmk.svg', width='91', height='49', alt="")
			.brands__item
				img(src='./img/picture/brands/bpw.svg', width='62', height='62', alt="")
			.brands__item
				img(src='./img/picture/brands/mmk.svg', width='64', height='52', alt="")
			.brands__item
				img(src='./img/picture/brands/takler.svg', width='138', height='27', alt="")
			.brands__item
				img(src='./img/picture/brands/good-year.svg', width='129', height='24', alt="")
		button.brands__button Посмотреть все