section.guaranty
	.container
		.guaranty__wrapper
			.guaranty__item
				.guaranty__top
					.guaranty__icon
						svg(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M8 1.33333V2.66667C4.69419 2.66667 2 5.36085 2 8.66667C2 11.9725 4.69419 14.6667 8 14.6667C11.3058 14.6667 14 11.9725 14 8.66667H15.3333C15.3333 4.6403 12.0264 1.33333 8 1.33333ZM8 4V5.33333C9.8643 5.33333 11.3333 6.80236 11.3333 8.66667H12.6667C12.6667 11.2519 10.5852 13.3333 8 13.3333C5.41477 13.3333 3.33333 11.2519 3.33333 8.66667C3.33333 6.08144 5.41477 4 8 4ZM8 6.66667C6.89533 6.66667 6 7.562 6 8.66667C6 9.77133 6.89533 10.6667 8 10.6667C9.10467 10.6667 10 9.77133 10 8.66667C10 7.562 9.10467 6.66667 8 6.66667ZM8 8C8.36733 8 8.66667 8.29933 8.66667 8.66667C8.66667 9.034 8.36733 9.33333 8 9.33333C7.63267 9.33333 7.33333 9.034 7.33333 8.66667C7.33333 8.29933 7.63267 8 8 8Z' fill='white')
					.title Доставка
				.guaranty__text BONUM работает с крупными транспортными компаниями, мы отправляем запасные части в любой
					|  регион России и СНГ в кратчайшие сроки. Вы также можете выбрать любую другую
					|  транспортную компанию, удобную для вас.
			.guaranty__item
				.guaranty__top
					.guaranty__icon
						svg(width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M3.6224 2L1.1875 6.05859L8 14.3867L8.51563 13.7552L14.8125 6.05859L12.3776 2H3.6224ZM5.17708 3.33333H10.8229L9.6224 5.33333H6.3776L5.17708 3.33333ZM4 3.96224L4.82292 5.33333H3.17708L4 3.96224ZM12 3.96224L12.8229 5.33333H11.1771L12 3.96224ZM3.40625 6.66667H5.49089L6.53385 10.4896L3.40625 6.66667ZM6.8724 6.66667H9.10417L7.9349 10.5625L6.8724 6.66667ZM10.4961 6.66667H12.5938L9.28125 10.7161L10.4961 6.66667Z' fill='white')
					.title гарантии
				.guaranty__text BONUM гарантирует безотказную работу на все свои узлы и системы установленные на транспортное
					|  средство, при условии соблюдения Потребителем требований правильной эксплуатации, обслуживания, хранения
					|  Транспортного средства, согласно Руководству по эксплуатации.