section.advantages
	.container.advantages__container
		.advantages__pagination-wrapper
			.advantages__pagination
		.advantages__slider.swiper.js-advantages-slider
			.title.title--white.advantages__title Преимущества
			.advantages__skip
				img(src='./img/svg/i-play.svg', alt="")
				span Пропустить
			.swiper-wrapper
				.advantages__slide.swiper-slide
					.h1.h1--uppercase.advantages__text
						span 01
						span Долговечные и рентабельные
					.advantages__image
						img(src='./img/picture/advantages/1.jpg', srcset='./img/picture/advantages/1@2x.jpg 2x', alt='')
						span Мы выбираем лучшие комплектующие от избранных европейских производителей.
							|  Полуприцепы BONUM с годами почти не теряют в цене и ценятся на вторичном рынке.
				.advantages__slide.swiper-slide
					.h1.h1--uppercase.advantages__text
						span 02
						span Долговечные и рентабельные
					.advantages__image
						img(src='./img/picture/advantages/2.jpg', srcset='./img/picture/advantages/2@2x.jpg 2x', alt='')
						span Мы выбираем лучшие комплектующие от избранных европейских производителей.
							|  Полуприцепы BONUM с годами почти не теряют в цене и ценятся на вторичном рынке.
				.advantages__slide.swiper-slide
					.h1.h1--uppercase.advantages__text
						span 03
						span Долговечные и рентабельные
					.advantages__image
						img(src='./img/picture/advantages/1.jpg', srcset='./img/picture/advantages/1@2x.jpg 2x', alt='')
						span Мы выбираем лучшие комплектующие от избранных европейских производителей.
							|  Полуприцепы BONUM с годами почти не теряют в цене и ценятся на вторичном рынке.
				.advantages__slide.swiper-slide
					.h1.h1--uppercase.advantages__text
						span 04
						span Долговечные и рентабельные
					.advantages__image
						img(src='./img/picture/advantages/2.jpg', srcset='./img/picture/advantages/2@2x.jpg 2x', alt='')
						span Мы выбираем лучшие комплектующие от избранных европейских производителей.
							|  Полуприцепы BONUM с годами почти не теряют в цене и ценятся на вторичном рынке.
			.advantages__nav
				.swiper-btn.swiper-btn--prev
					svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
						path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
				.swiper-btn.swiper-btn--next
					svg(width='44' height='88' viewBox='0 0 44 88' fill='none' xmlns='http://www.w3.org/2000/svg')
						path(d='M12 1C29.9983 6.88637 43 23.8146 43 43.7796C43 63.7446 29.9983 80.6729 12 86.5592' stroke='#FFFFFF' stroke-width='2')
						path(d='M0 43.7795L10 49.553V38.006L0 43.7795ZM24 42.7795H9V44.7795H24V42.7795Z' fill='#FFFFFF')
