.banner {
	padding: 56px 0 150px;

	@include max(lg) {
		padding: 56px 0 96px;
	}

	@include max(sm) {
		padding: 10px 0 40px;
	}

	&__container {
		@include max(lg) {
			max-width: 100%;
			padding: 0;
		}

		@include max(sm) {
			padding: 0 16px;
		}
	}

	&__wrapper {
		position: relative;
	}

	&__bg {
		position: absolute;
		inset: 0;

		img {
			@include cover-image;
		}
	}

	&__content {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		position: relative;
		padding: 76px 90px 66px;

		@include max(lg) {
			max-width: 845px;
			padding: 80px 20px 75px;
			margin: 0 auto;
		}

		@include max(sm) {
			padding: 42px 32px 36px;
			gap: 30px;
		}
	}

	&__title {
		max-width: 743px;
		text-transform: initial;
		color: $white;

		@include max(lg) {
			max-width: 480px;
			font-size: 32px;
		}

		@include max(sm) {
			max-width: 80%;
		}
	}

	&__button {
		min-width: 243px;

		@include max(lg) {
			min-width: 226px;
		}

		@include max(sm) {
			min-width: 196px;
			font-size: 11px;
		}
	}
}