section.banner
	.container.banner__container
		.banner__wrapper
			.banner__bg
				img(src='./img/picture/banner.jpg', srcset='./img/picture/banner@2x.jpg 2x', alt='')
			.banner__content
				.h1.h1--uppercase.banner__title Более 320 компаний выбрали технику BONUM
				+button('Посмотреть отзывы', 'button--big banner__button', '#')