.news {
	padding: 21px 0 64px;

	@include max(lg) {
		padding: 42px 0 35px;
	}

	@include max(sm) {
		padding: 32px 0 35px;
	}

	&__top-mobile-container {
		@include max(sm) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;
		}
	}

	&__top {
		border-bottom: 1px solid $grey-1;

		@include max(sm) {
			margin-top: 27px;
		}
	}

	&__container-top {
		display: flex;
		justify-content: space-between;
	}

	&__title,
	&__categories {
		margin-bottom: -1px;
	}

	&__title {
		padding-bottom: 45px;

		@include max(lg) {
			font-size: 16px;
			padding-bottom: 15px;
		}

		@include max(sm) {
			padding-bottom: 0;
		}
	}

	&__categories {
		display: flex;
		gap: 15px 0;
		overflow-x: auto;
	}

	&__categories-item {
		font-size: 16px;
		line-height: 200%;
		font-weight: 600;
		padding-bottom: 45px;
		margin: 0 35.5px;
		border-bottom: 2px solid transparent;
		transition: $animation;

		@include max(lg) {
			font-size: 14px;
			padding-bottom: 37px;
			margin: 0 31px;
		}

		@include max(sm) {
			font-size: 13px;
			padding-bottom: 13px;
			margin: 0 17px;
		}

		&:hover {
			border-bottom-color: $black;
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&__container-slider {
		margin-top: 45px;

		@include max(lg) {
			margin-top: 39px;
		}

		@include max(sm) {
			margin-top: 25px;
		}
	}

	&__nav-extended {
		margin-top: 52px;

		@include max(lg) {
			margin-top: 35px;
		}

		@include max(sm) {
			margin-top: 28px;
		}

		.nav-extended__group {
			@include max(lg) {
				gap: 35px;
			}
		}
	}
}