section.news
	.news__top-mobile.d-none-desktop
		.container.news__top-mobile-container
			.title.news__title Новости
			.nav-extended
				.nav-extended__nav.d-none-flex-desktop
					.swiper-btn.swiper-btn--prev
						svg(width='30' height='49' viewBox='0 0 30 49' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M13 1C22.2894 4.23354 29 13.5327 29 24.5C29 35.4673 22.2894 44.7665 13 48' stroke='#8F9190' stroke-width='1.5')
							path(d='M0 25L7.5 29.3301L7.5 20.6699L0 25ZM16 24.25L6.75 24.25L6.75 25.75L16 25.75L16 24.25Z' fill='#8F9190')
					.swiper-btn.swiper-btn--next
						svg(width='30' height='49' viewBox='0 0 30 49' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M13 1C22.2894 4.23354 29 13.5327 29 24.5C29 35.4673 22.2894 44.7665 13 48' stroke='#1F2120' stroke-width='1.5')
							path(d='M0 25L7.5 29.3301L7.5 20.6699L0 25ZM16 24.25L6.75 24.25L6.75 25.75L16 25.75L16 24.25Z' fill='#1F2120')
	.news__top
		.container.news__container-top
			.title.news__title.d-none-mobile Новости
			.news__categories
				.news__categories-item.news__categories-item--active.js-swiper-filter(data-filter="all") Все
				.news__categories-item.js-swiper-filter(data-filter="1") Новости
				.news__categories-item.js-swiper-filter(data-filter="2") События
				.news__categories-item.js-swiper-filter(data-filter="3") Публикации
	.container.news__container-slider
		.news__slider.swiper.js-news-slider
			.swiper-wrapper
				.card-news.swiper-slide(data-filter="1")
					.card-news__image
						img(src='./img/picture/news/1.jpg', srcset='./img/picture/news/1@2x.jpg 2x', alt='')
						time(datetime='2023-02-18') 18 <span>февраля <br> 2023</span>
					.card-news__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
				.card-news.swiper-slide(data-filter="1")
					.card-news__image
						img(src='./img/picture/news/2.jpg', srcset='./img/picture/news/2@2x.jpg 2x', alt='')
						time(datetime='2023-02-18') 15 <span>февраля <br> 2023</span>
					.card-news__text Fusce et quam velit. In ex ex, tempor a tincidunt nec, gravida et turpis
				.card-news.swiper-slide(data-filter="2")
					.card-news__image
						img(src='./img/picture/news/3.jpg', srcset='./img/picture/news/3@2x.jpg 2x', alt='')
						time(datetime='2023-02-18') 12 <span>февраля <br> 2023</span>
					.card-news__text Suspendisse eget diam rutrum, semper orci scelerisque, euismod mauris
				.card-news.swiper-slide(data-filter="3")
					.card-news__image
						img(src='./img/picture/news/1.jpg', srcset='./img/picture/news/1@2x.jpg 2x', alt='')
						time(datetime='2023-02-18') 18 <span>февраля <br> 2023</span>
					.card-news__text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam a turpis in velit suscipit convallis.
				.card-news.swiper-slide(data-filter="3")
					.card-news__image
						img(src='./img/picture/news/2.jpg', srcset='./img/picture/news/2@2x.jpg 2x', alt='')
						time(datetime='2023-02-18') 15 <span>февраля <br> 2023</span>
					.card-news__text Fusce et quam velit. In ex ex, tempor a tincidunt nec, gravida et turpis
			.news__nav-extended.nav-extended
				.nav-extended__group
					.nav-extended__pagi
					a.nav-extended__link(href='#', target='_blank') Посмотреть все
				.nav-extended__nav.d-none-flex-mobile
					.swiper-btn.swiper-btn--prev
						svg(width='30' height='49' viewBox='0 0 30 49' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M13 1C22.2894 4.23354 29 13.5327 29 24.5C29 35.4673 22.2894 44.7665 13 48' stroke='#8F9190' stroke-width='1.5')
							path(d='M0 25L7.5 29.3301L7.5 20.6699L0 25ZM16 24.25L6.75 24.25L6.75 25.75L16 25.75L16 24.25Z' fill='#8F9190')
					.swiper-btn.swiper-btn--next
						svg(width='30' height='49' viewBox='0 0 30 49' fill='none' xmlns='http://www.w3.org/2000/svg')
							path(d='M13 1C22.2894 4.23354 29 13.5327 29 24.5C29 35.4673 22.2894 44.7665 13 48' stroke='#1F2120' stroke-width='1.5')
							path(d='M0 25L7.5 29.3301L7.5 20.6699L0 25ZM16 24.25L6.75 24.25L6.75 25.75L16 25.75L16 24.25Z' fill='#1F2120')