.container--breakpoints{
    padding-top: 25px;
    padding-bottom: 25px;

}


.breakpoints {

    background-color: #ffffff;
    border-bottom: 1px solid $grey-1;

    &__container {
     /*   max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        */
        padding: 25px 0;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: -2px -15.5px;
    }

    &__item {
        position: relative;
        display: flex;
        align-items: center;
        margin: 2px 15.5px;

        &:not(:first-child):before {
            content: '';
            position: absolute;
            left: -17.5px;
            width: 3px;
            height: 3px;
            background-color: $grey-4;
            border-radius: 50%;
        }
		  a {
			color: #4C4E4D;
		  }
    }

    &__text {
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        color: $grey-3;
		  @media (max-width: 768px){
			font-size: 11px;
			line-height: 13px;
		  }
    }
}

.breakpoints {
    &--grey {
        background-color: #F8F8F8;
    }
}