.breakpoints
    .breakpoints__container
        ul.breakpoints__list
            li.breakpoints__item
                a(href='#').breakpoints__text Главная
            li.breakpoints__item
                span.breakpoints__text Каталог