.card-leasing {
	display: flex;
	flex-direction: column;
	height: auto;
	background-color: $grey-5;
	padding: 40px 56px 31px 56px;

	@include max(lg) {
		padding: 30px;
	}

	@include max(sm) {
		padding: 30px 30px 20px;
	}

	&--colored {
		background-color: $yellow;
	}

	&--secured {
		position: relative;
		background-color: #1F2120;
		color: $white;
	}

	&__paperclip {
		position: absolute;
		left: 20px;
		top: 20px;
		display: none;
		align-items: center;
		justify-content: center;
		width: 28px;
		height: 28px;
		border-radius: 100%;
		border: 1px solid $white;

		img {
			width: 16px;
			height: 16px;
			object-fit: contain;
		}
	}

	&--secured &__paperclip {
		display: flex;
	}

	&__subtitle {
		font-size: 13px;
		font-weight: 600;
		color: rgba($black, 0.5);
		text-transform: uppercase;
		letter-spacing: 0.1em;
		border-bottom: 1px solid rgba($black, 0.15);
		padding-bottom: 6px;
		margin-bottom: 24px;

		@include max(lg) {
			font-size: 11px;
			padding-bottom: 0;
			margin-bottom: 27px;
		}

		@include max(sm) {
			font-size: 13px;
			padding-bottom: 6px;
		}
	}

	&__title {
		font-size: 24px;
		line-height: 160%;
		margin-bottom: 50px;

		@include max(lg) {
			font-size: 16px;
			margin-bottom: 22px;
		}

		@include max(sm) {
			line-height: 150%;
			margin-bottom: 37px;
		}
	}

	&__image {
		margin-bottom: 56px;

		@include max(lg) {
			margin-bottom: 23px;
		}

		@include max(sm) {
			padding: 0 20px;
			margin-bottom: 51px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			margin: 0 auto;
		}
	}

	&__bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 15px;
		border-top: 1px solid rgba($black, 0.15);
		padding-top: 14px;
		margin-top: auto;

		@include max(lg) {
			align-items: flex-end;
		}

		@include max(sm) {
			align-items: center;
		}

		img {
			@include max(lg) {
				width: 28px;
				height: 28px;
				margin-bottom: 10px;
			}
		}
	}

	&--secured &__bottom {
		border-top: 1px solid $white;
	}

	&__offer {
		&>span {
			display: inline-block;
			font-size: 15px;
			line-height: 135%;
			font-weight: 600;
			margin-top: 7px;

			@include max(lg) {
				font-size: 12px;
				line-height: 135%;
				margin-top: 4px;
			}

			@include max(sm) {
				font-size: 13px;
			}
		}
	}

	&__from {
		font-size: 48px;
		line-height: 1;
		font-weight: 600;

		@include max(lg) {
			font-size: 40px;
		}

		@include max(sm) {
			font-size: 28px;
		}

		span {
			font-size: 24px;

			@include max(lg) {
				font-size: 16px;
			}
		}
	}
}