section.conditions
	.container.conditions__container
		.conditions__content
			.conditions__title Для клиентов BONUM действуют специальные условия на обслуживание и приобретение
				|  запасных частей у нашего сервисного партнёра:
			ul.conditions__list
				li Цены заводов-изготовителей;
				li Широкий ассортимент комплектующих и запчастей;⠀
				li Наличие товара на складе;⠀
				li Быстрая доставка;⠀
				li Гарантия от производителей.
		.conditions__image
			img(src='./img/picture/conditions.jpg', srcset='./img/picture/conditions@2x.jpg 2x', alt='')