.footer {
	$parent: &;

	padding: 116px 0 77px;
	background-color: $black;
	color: $white;

	@include max(lg) {
		padding: 98px 0 77px;
	}

	@include max(sm) {
		padding: 32px 0 40px;
	}

	a {
		color: $white;
	}

	&__top {
		display: flex;
		justify-content: space-between;
		gap: 118px;
	}

	&__top-mobile {
		@include max(sm) {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;
			padding-bottom: 32px;
			border-bottom: 1px solid $grey-3c;
		}
	}

	&__col {
		@include max(lg) {
			&:not(#{$parent}__col--contacts):not(#{$parent}__col--tablet) {
				display: none;
			}
		}

		@include max(sm) {
			width: 100%;
			padding: 43px 0 10px;

			&:not(:first-child) {
				display: none;
			}
		}
	}

	&__logo {
		width: 102px;
		height: 67px;
		margin-bottom: 42px;

		@include max(sm) {
			width: 54px;
			height: 36px;
			margin-bottom: 0;
		}

		svg {
			fill: $white;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__contacts {
		display: flex;
		flex-direction: column;

		@include max(sm) {
			flex-direction: row;
		}

		& + #{$parent}__contacts {
			margin-top: 33px;

			@include max(sm) {
				margin-top: 29px;
			}
		}

		&-group {
			display: flex;
			flex-direction: column;
		}

		p {
			font-size: 12px;
			line-height: 150%;
			font-weight: 600;
			color: $grey-4;
			text-transform: uppercase;
			margin-bottom: 20px;

			@include max(sm) {
				max-width: 118px;
				width: 100%;
				margin-bottom: 0;
			}
		}

		a {
			font-size: 15px;
			line-height: 160%;
		}

		&-bold {
			font-weight: 600;
		}

		address {
			font-size: 15px;
			line-height: 150%;
			font-style: normal;
		}
	}

	&__socials {
		display: flex;
		align-items: center;
		margin-top: 85px;

		@include max(sm) {
			margin-top: 32px;
		}

		p {
			max-width: 118px;
			width: 100%;
			font-size: 12px;
			line-height: 150%;
			font-weight: 600;
			color: $grey-4;
			text-transform: uppercase;
		}

		&-group {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 10px 20px;
		}
	}

	&__socials-item {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		background-color: $grey-565;

		&--yt {
			background-color: $red;
		}
	}

	&__menu {
		li {
			& + li {
				margin-top: 11.5px;
			}

			&#{$parent}__menu-item-bold {
				margin-bottom: 34px;

				@include max(lg) {
					margin-bottom: 25px;
				}
			}

			&:not(#{$parent}__menu-item-bold) + #{$parent}__menu-item-bold {
				margin-top: 34px;
			}
		}

		&-item-bold {
			a,
			span {
				font-weight: 600;
				color: $white !important;
				text-transform: uppercase;
			}
		}

		li {
			a,
			span {
				font-size: 15px;
				line-height: 150%;
			}

			a {
				color: $grey-4;
			}
		}
	}

	&__bottom {
		margin-top: 71px;
		padding-top: 27px;
		border-top: 1px solid $grey-3c;

		@include max(sm) {
			width: calc(100% + 32px);
			margin-left: -16px;
			margin-top: 30px;
			padding-top: 32px;
		}
	}

	&__copyrights,
	&__info {
		@include max(sm) {
			padding: 0 16px;
		}
	}

	&__copyrights {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: 20px;

		p {
			font-size: 15px;
			line-height: 150%;

			@include max(sm) {
				font-size: 13px;
			}
		}
	}

	&__lang-switcher {
		display: flex;
		align-items: center;
		gap: 12px;
		font-size: 15px;
		line-height: 18px;

		@include max(sm) {
			font-size: 13px;
			line-height: 15px;
			gap: 6px;
		}

		img {
			width: 24px;
			height: 24px;

			@include max(sm) {
				width: 19px;
				height: 19px;
			}
		}
	}

	&__info {
		font-weight: 400;
		font-size: 12px;
		line-height: 160%;
		color: $grey-4;
		margin-top: 40px;

		@include max(sm) {
			font-size: 10px;
			margin-top: 21px;
		}

		p + p {
			margin-top: 20px;

			@include max(sm) {
				margin-top: 16px;
			}
		}
	}
}