footer.footer
	.d-none-desktop
		.container.footer__top-mobile
			.footer__logo
				svg(width='54' height='36' viewBox='0 0 54 36' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M7.2991 17.1414H1.82629V14.2629H7.2991V17.1414ZM54 12.4283H52.8472H52.5256H52.4953C52.2222 12.4283 51.9492 12.558 51.8036 12.7989L48.5211 18.2965L45.2387 12.7989C45.093 12.558 44.82 12.4283 44.547 12.4283H44.2011C43.564 12.4283 43.0544 12.9286 43.0544 13.5772V22.0769V23.2011V23.5717H43.4184H44.5106H44.5166C44.7108 23.5655 44.8746 23.3988 44.8746 23.2011V15.455L47.5746 19.8408C47.7748 20.0446 47.9933 20.2114 48.2663 20.2114H48.776C49.049 20.2114 49.2674 20.0446 49.4676 19.8408L52.1676 15.455V23.2011C52.1676 23.4049 52.3315 23.5717 52.5317 23.5717H53.6238C53.824 23.5717 53.9879 23.4049 53.9879 23.2011C54 19.606 54 16.0172 54 12.4283ZM41.4101 12.4283H41.0461H39.9539H39.9479C39.7537 12.4345 39.5899 12.6012 39.5899 12.7989V21.7124H34.1171V12.7989C34.1171 12.5951 33.9533 12.4283 33.753 12.4283H32.6609C32.4607 12.4283 32.2969 12.5951 32.2969 12.7989V22.0769V22.4166V23.5655H33.4254H33.7652H40.2876C40.9247 23.5655 41.4162 23.0652 41.4162 22.4166C41.4101 19.0872 41.4101 15.7577 41.4101 12.4283ZM30.6465 12.4283H30.2825H29.1903H29.1843C28.9901 12.4345 28.8263 12.6012 28.8263 12.7989V20.7117L23.6993 12.7989C23.5355 12.5209 23.2443 12.4283 23.0076 12.4283H22.6618C22.0247 12.4283 21.5333 12.9286 21.5333 13.5772V22.0769V23.2011V23.5717H21.8973H22.9894H22.9955C23.1897 23.5655 23.3535 23.3988 23.3535 23.2011V15.3253L28.4622 23.2011C28.6261 23.4791 28.9173 23.5717 29.1539 23.5717H29.518C30.1551 23.5717 30.6526 23.0714 30.6526 22.4228C30.6465 19.0872 30.6465 15.7577 30.6465 12.4283ZM19.8829 12.4283C17.2193 12.4283 14.5557 12.4283 11.8921 12.4283C11.2551 12.4283 10.7636 12.9286 10.7636 13.5772V22.0769V22.4166V23.5655H11.8921H12.2258H18.7483C19.3854 23.5655 19.8769 23.0652 19.8769 22.4166C19.8829 19.0872 19.8829 15.7577 19.8829 12.4283ZM18.0627 21.7124H12.5899V14.2814H18.0627V21.7124ZM0 23.5717H0.364045H1.46831H7.20809C8.26382 23.5717 9.12539 22.7193 9.12539 21.6754V19.7975C9.12539 18.7598 8.26989 17.9012 7.20809 17.9012V17.827C8.26382 17.827 9.12539 16.9746 9.12539 15.9307V14.3123C9.12539 13.2745 8.26989 12.4159 7.20809 12.4159H0.364045C0.16382 12.4159 0 12.5827 0 12.7865V22.0645V23.1887C0 23.2011 0 23.5717 0 23.5717ZM42.5144 9.36445C39.511 3.78655 33.6924 0 27 0C20.3076 0 14.489 3.78655 11.4856 9.36445H13.6335C16.4427 4.86754 21.3755 1.88401 27 1.88401C32.6245 1.88401 37.5573 4.86754 40.3665 9.36445H42.5144ZM27 36C33.6924 36 39.511 32.2135 42.5144 26.6356H40.3665C37.5573 31.1325 32.6184 34.116 27 34.116C21.3755 34.116 16.4427 31.1325 13.6335 26.6356H11.4856C14.489 32.2135 20.3076 36 27 36ZM7.2991 21.731H1.82629V18.6115H7.2991V21.731Z' fill='white')
			.footer__lang-switcher
				img(src='./img/svg/i-lang.svg', alt="")
				a(href='#') Eng
				a(href='#' style='display: none') Rus
	.container
		.footer__top
			.footer__col.footer__col--contacts
				.footer__logo.d-none-mobile
					svg(width='102' height='67' viewBox='0 0 102 67' xmlns='http://www.w3.org/2000/svg')
						path(d='M13.7872 31.902H3.44966V26.5448H13.7872V31.902ZM102 23.1304H99.8225H99.2151H99.1578C98.642 23.1304 98.1263 23.3718 97.8512 23.8202L91.651 34.0518L85.4508 23.8202C85.1757 23.3718 84.66 23.1304 84.1443 23.1304H83.491C82.2876 23.1304 81.3249 24.0616 81.3249 25.2687V41.0875V43.1798V43.8696H82.0126H84.0755H84.087C84.4537 43.8581 84.7631 43.5477 84.7631 43.1798V28.7636L89.8631 36.9259C90.2413 37.3053 90.6539 37.6157 91.1697 37.6157H92.1324C92.6481 37.6157 93.0607 37.3053 93.4389 36.9259L98.5389 28.7636V43.1798C98.5389 43.5592 98.8483 43.8696 99.2265 43.8696H101.289C101.668 43.8696 101.977 43.5592 101.977 43.1798C102 36.489 102 29.8097 102 23.1304ZM78.2191 23.1304H77.5315H75.4685H75.4571C75.0903 23.1419 74.7809 23.4523 74.7809 23.8202V40.4092H64.4434V23.8202C64.4434 23.4408 64.1339 23.1304 63.7557 23.1304H61.6928C61.3146 23.1304 61.0052 23.4408 61.0052 23.8202V41.0875V41.7198V43.8581H63.1369H63.7786H76.0989C77.3022 43.8581 78.2306 42.9269 78.2306 41.7198C78.2191 35.5233 78.2191 29.3269 78.2191 23.1304ZM57.8879 23.1304H57.2002H55.1373H55.1258C54.7591 23.1419 54.4497 23.4523 54.4497 23.8202V38.5468L44.7654 23.8202C44.456 23.3028 43.9058 23.1304 43.4589 23.1304H42.8056C41.6022 23.1304 40.6739 24.0616 40.6739 25.2687V41.0875V43.1798V43.8696H41.3616H43.4245H43.436C43.8027 43.8581 44.1121 43.5477 44.1121 43.1798V28.5221L53.762 43.1798C54.0715 43.6972 54.6216 43.8696 55.0685 43.8696H55.7562C56.9595 43.8696 57.8993 42.9384 57.8993 41.7313C57.8879 35.5233 57.8879 29.3269 57.8879 23.1304ZM37.5566 23.1304C32.5254 23.1304 27.4942 23.1304 22.4629 23.1304C21.2596 23.1304 20.3312 24.0616 20.3312 25.2687V41.0875V41.7198V43.8581H22.4629H23.0933H35.4135C36.6169 43.8581 37.5452 42.9269 37.5452 41.7198C37.5566 35.5233 37.5566 29.3269 37.5566 23.1304ZM34.1184 40.4092H23.7809V26.5793H34.1184V40.4092ZM0 43.8696H0.68764H2.77348H13.6153C15.6094 43.8696 17.2369 42.2831 17.2369 40.3403V36.8454C17.2369 34.914 15.6209 33.3161 13.6153 33.3161V33.1781C15.6094 33.1781 17.2369 31.5916 17.2369 29.6488V26.6368C17.2369 24.7054 15.6209 23.1074 13.6153 23.1074H0.68764C0.309438 23.1074 0 23.4178 0 23.7972V41.0645V43.1568C0 43.1798 0 43.8696 0 43.8696ZM80.3049 17.4283C74.6319 7.04719 63.6411 0 51 0C38.3589 0 27.3681 7.04719 21.6951 17.4283H25.7521C31.0584 9.05903 40.376 3.50635 51 3.50635C61.624 3.50635 70.9416 9.05903 76.2479 17.4283H80.3049ZM51 67C63.6411 67 74.6319 59.9528 80.3049 49.5717H76.2479C70.9416 57.941 61.6126 63.4936 51 63.4936C40.376 63.4936 31.0584 57.941 25.7521 49.5717H21.6951C27.3681 59.9528 38.3589 67 51 67ZM13.7872 40.4437H3.44966V34.6381H13.7872V40.4437Z')
				.footer__contacts
					p контакты:
					.footer__contacts-group
						a.footer__contacts-bold(href='tel:88005500161') 8 800 550-01-61
						a(href='mailto:info@bonum-trailer.ru') info@bonum-trailer.ru
				.footer__contacts
					p адрес:
					.footer__contacts-group
						address Россия, г. Ростов-на-Дону <br> ул. Пескова, д. 1
				.footer__socials
					p.d-none-desktop соцсети:
					.footer__socials-group
						a.footer__socials-item.footer__socials-item--yt(href='#', target='_blank')
							img(src='./img/svg/i-socials-yt.svg', alt="")
						a.footer__socials-item(href='#', target='_blank')
							img(src='./img/svg/i-socials-tg.svg', alt="")
						a.footer__socials-item(href='#', target='_blank')
							img(src='./img/svg/i-socials-ok.svg', alt="")
						a.footer__socials-item(href='#', target='_blank')
							img(src='./img/svg/i-socials-vk.svg', alt="")
			.footer__col
				ul.footer__menu
					li.footer__menu-item-bold
						span Техника
					li
						a(href='#') Бензовозы
					li
						a(href='#') Битумовозы
					li
						a(href='#') Нефтевозы с термоизоляцией
					li
						a(href='#') Нефтевозы без термоизоляции
					li
						a(href='#') Цементовозы
					li
						a(href='#') Зерновозы бортовые
					li
						a(href='#') Зерновозы самосвальные
					li
						a(href='#') Сельскохозяйственная техника
					li
						a(href='#') Полуприцепы тентованные
					li
						a(href='#') Полуприцепы бортовые
					li
						a(href='#') Контейнеровозы
			.footer__col
				ul.footer__menu
					li.footer__menu-item-bold
						span о заводе
					li
						a(href='#') Новости
					li
						a(href='#') Партнёры
					li
						a(href='#') Отзывы и награды
					li
						a(href='#') Философия производства
					li
						a(href='#') Система менеджмента качества
					li
						a(href='#') Сертификат ИСО
					li
						a(href='#') Политика конфиденциальности
					li
						a(href='#') Кодекс этики
					li
						a(href='#') Контакты
			.footer__col
				ul.footer__menu
					li.footer__menu-item-bold
						a(href='#') Вакансии
					li.footer__menu-item-bold
						a(href='#') Сервис и гарантии
					li
						a(href='#') Гарантийное обслуживание
					li
						a(href='#') Запчасти
					li.footer__menu-item-bold
						a(href='#') Акции и лизинг
					li.footer__menu-item-bold
						a(href='#') Блог
					li.footer__menu-item-bold
						a(href='#') Представительства
			.footer__col.footer__col--tablet
				ul.footer__menu
					li.footer__menu-item-bold
						a(href='#') Техника
					li.footer__menu-item-bold
						a(href='#') О заводе
					li.footer__menu-item-bold
						a(href='#') Вакансии
					li.footer__menu-item-bold
						a(href='#') Сервис и гарантии
					li.footer__menu-item-bold
						a(href='#') Акции и лизинг
					li.footer__menu-item-bold
						a(href='#') Блог
					li.footer__menu-item-bold
						a(href='#') Представительства
		.footer__bottom
			.footer__copyrights
				p © 2021-2022 BONUM - Машиностроительный завод
				.footer__lang-switcher.d-none-mobile
					img(src='./img/svg/i-lang.svg', alt="")
					a(href='#') Eng
					a(href='#' style='display: none') Rus
			.footer__info
				p Пожалуйста, ознакомьтесь с политикой конфиденциальности ООО «БОНУМ». Оставляя Ваши данные на любой странице сайта,
					|  Вы автоматически соглашаетесь с политикой конфиденциальности ООО «БОНУМ» (посмотреть pdf). Обращаем Ваше внимание,
					|  что в целях улучшения качества обслуживания Ваш разговор с представителем компании может быть записан.
				p Вся представленная на сайте информация, касающаяся технических характеристик, наличия, стоимости товаров, носит
					|  информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями
					|  Статьи 437 Гражданского кодекса РФ.
