footer.footer
	.d-none-desktop
		.container.footer__top-mobile
			.footer__logo
				svg(viewBox='0 23.11 102 20.76' fill='none' xmlns='http://www.w3.org/2000/svg')
					path(d='M13.787 31.902H3.45v-5.357h10.337ZM102 23.13h-2.842c-.516 0-1.032.242-1.307.69l-6.2 10.232-6.2-10.232c-.275-.448-.791-.69-1.307-.69h-.653c-1.203 0-2.166.932-2.166 2.139V43.87H84.087a.704.704 0 0 0 .676-.69V28.764l5.1 8.162c.378.38.79.69 1.307.69h.962c.516 0 .929-.31 1.307-.69l5.1-8.162V43.18c0 .38.31.69.687.69h2.063a.69.69 0 0 0 .688-.69c.023-6.691.023-13.37.023-20.05Zm-23.78 0h-2.762a.704.704 0 0 0-.677.69v16.59H64.443V23.82a.69.69 0 0 0-.687-.69h-2.063a.69.69 0 0 0-.688.69V43.858H76.1c1.203 0 2.132-.931 2.132-2.138-.012-6.197-.012-12.393-.012-18.59zm-20.332 0H55.126a.704.704 0 0 0-.676.69v14.727L44.765 23.82c-.309-.517-.86-.69-1.306-.69h-.653c-1.204 0-2.132.932-2.132 2.139V43.87h2.762a.704.704 0 0 0 .676-.69V28.522l9.65 14.658c.31.517.86.69 1.306.69h.688A2.112 2.112 0 0 0 57.9 41.73c-.011-6.208-.011-12.404-.011-18.6zm-20.331 0H22.463c-1.203 0-2.132.932-2.132 2.139v18.589h15.082c1.204 0 2.132-.931 2.132-2.138.012-6.197.012-12.393.012-18.59zm-3.439 17.28H23.781V26.58h10.337ZM0 43.87h13.615c1.994 0 3.622-1.587 3.622-3.53v-3.495c0-1.931-1.616-3.529-3.622-3.529v-.138c1.994 0 3.622-1.586 3.622-3.53v-3.011c0-1.932-1.616-3.53-3.622-3.53H.688a.69.69 0 0 0-.688.69v19.36zm13.787-3.426H3.45v-5.806h10.337Z' fill='white')
			.footer__lang-switcher
				img(src='./img/svg/i-lang.svg', alt="")
				a(href='#') Eng
				a(href='#' style='display: none') Rus
	.container
		.footer__top
			.footer__col.footer__col--contacts
				.footer__logo.d-none-mobile
					svg( viewBox='0 23.11 102 20.76' xmlns='http://www.w3.org/2000/svg')
						path(d='M13.787 31.902H3.45v-5.357h10.337ZM102 23.13h-2.842c-.516 0-1.032.242-1.307.69l-6.2 10.232-6.2-10.232c-.275-.448-.791-.69-1.307-.69h-.653c-1.203 0-2.166.932-2.166 2.139V43.87H84.087a.704.704 0 0 0 .676-.69V28.764l5.1 8.162c.378.38.79.69 1.307.69h.962c.516 0 .929-.31 1.307-.69l5.1-8.162V43.18c0 .38.31.69.687.69h2.063a.69.69 0 0 0 .688-.69c.023-6.691.023-13.37.023-20.05Zm-23.78 0h-2.762a.704.704 0 0 0-.677.69v16.59H64.443V23.82a.69.69 0 0 0-.687-.69h-2.063a.69.69 0 0 0-.688.69V43.858H76.1c1.203 0 2.132-.931 2.132-2.138-.012-6.197-.012-12.393-.012-18.59zm-20.332 0H55.126a.704.704 0 0 0-.676.69v14.727L44.765 23.82c-.309-.517-.86-.69-1.306-.69h-.653c-1.204 0-2.132.932-2.132 2.139V43.87h2.762a.704.704 0 0 0 .676-.69V28.522l9.65 14.658c.31.517.86.69 1.306.69h.688A2.112 2.112 0 0 0 57.9 41.73c-.011-6.208-.011-12.404-.011-18.6zm-20.331 0H22.463c-1.203 0-2.132.932-2.132 2.139v18.589h15.082c1.204 0 2.132-.931 2.132-2.138.012-6.197.012-12.393.012-18.59zm-3.439 17.28H23.781V26.58h10.337ZM0 43.87h13.615c1.994 0 3.622-1.587 3.622-3.53v-3.495c0-1.931-1.616-3.529-3.622-3.529v-.138c1.994 0 3.622-1.586 3.622-3.53v-3.011c0-1.932-1.616-3.53-3.622-3.53H.688a.69.69 0 0 0-.688.69v19.36zm13.787-3.426H3.45v-5.806h10.337Z')
				.footer__contacts
					p контакты:
					.footer__contacts-group
						a.footer__contacts-bold(href='tel:88005500161') 8 800 550-01-61
						a(href='mailto:info@bonum-trailer.ru') info@bonum-trailer.ru
				.footer__contacts
					p адрес:
					.footer__contacts-group
						address Россия, г. Ростов-на-Дону <br> ул. Пескова, д. 1
				.footer__socials
					p.d-none-desktop соцсети:
					.footer__socials-group
						a.footer__socials-item.footer__socials-item--yt(href='#', target='_blank')
							img(src='./img/svg/i-socials-yt.svg', alt="")
						a.footer__socials-item(href='#', target='_blank')
							img(src='./img/svg/i-socials-tg.svg', alt="")
						a.footer__socials-item(href='#', target='_blank')
							img(src='./img/svg/i-socials-ok.svg', alt="")
						a.footer__socials-item(href='#', target='_blank')
							img(src='./img/svg/i-socials-vk.svg', alt="")
			.footer__col
				ul.footer__menu
					li.footer__menu-item-bold
						span Техника
					li
						a(href='#') Бензовозы
					li
						a(href='#') Битумовозы
					li
						a(href='#') Нефтевозы с термоизоляцией
					li
						a(href='#') Нефтевозы без термоизоляции
					li
						a(href='#') Цементовозы
					li
						a(href='#') Зерновозы бортовые
					li
						a(href='#') Зерновозы самосвальные
					li
						a(href='#') Сельскохозяйственная техника
					li
						a(href='#') Полуприцепы тентованные
					li
						a(href='#') Полуприцепы бортовые
					li
						a(href='#') Контейнеровозы
			.footer__col
				ul.footer__menu
					li.footer__menu-item-bold
						span о заводе
					li
						a(href='#') Новости
					li
						a(href='#') Партнёры
					li
						a(href='#') Отзывы и награды
					li
						a(href='#') Философия производства
					li
						a(href='#') Система менеджмента качества
					li
						a(href='#') Сертификат ИСО
					li
						a(href='#') Политика конфиденциальности
					li
						a(href='#') Кодекс этики
					li
						a(href='#') Контакты
			.footer__col
				ul.footer__menu
					li.footer__menu-item-bold
						a(href='#') Вакансии
					li.footer__menu-item-bold
						a(href='#') Сервис и гарантии
					li
						a(href='#') Гарантийное обслуживание
					li
						a(href='#') Запчасти
					li.footer__menu-item-bold
						a(href='#') Акции и лизинг
					li.footer__menu-item-bold
						a(href='#') Блог
					li.footer__menu-item-bold
						a(href='#') Представительства
		.footer__bottom
			.footer__copyrights
				p © 2021-2022 BONUM - Машиностроительный завод
				.footer__lang-switcher.d-none-mobile
					img(src='./img/svg/i-lang.svg', alt="")
					a(href='#') Eng
					a(href='#' style='display: none') Rus
			.footer__info
				p Пожалуйста, ознакомьтесь с политикой конфиденциальности ООО «БОНУМ». Оставляя Ваши данные на любой странице сайта,
					|  Вы автоматически соглашаетесь с политикой конфиденциальности ООО «БОНУМ» (посмотреть pdf). Обращаем Ваше внимание,
					|  что в целях улучшения качества обслуживания Ваш разговор с представителем компании может быть записан.
				p Вся представленная на сайте информация, касающаяся технических характеристик, наличия, стоимости товаров, носит
					|  информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями
					|  Статьи 437 Гражданского кодекса РФ.
