.feedback {
	$parent: &;

	display: flex;

	&__image,
	&__outer {
		width: 50%;
	}

	&__image {
		@include max(lg) {
			width: 51%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__outer {
		@include max(lg) {
			width: 49%;
		}
	}

	&__form {
		max-width: 655px;
		padding: 100px 0 88px 152px;
		box-sizing: border-box;

		@include max(lg) {
			padding: 50px 110px 68px 46px;
		}
	}

	&__title {
		margin-bottom: 63px;

		@include max(lg) {
			line-height: 170%;
			margin-bottom: 34px;
		}
	}

	&__field {
		& + #{$parent}__field {
			margin-top: 45px;

			@include max(lg) {
				margin-top: 22px;
			}
		}
	}

	&__button {
		margin-top: 90px;

		@include max(lg) {
			min-width: 184px;
			padding: 11px 15px;
			margin-top: 38px;
		}
	}
}