@font-face {
	font-family: 'ZonaPro';
	src: url('../fonts/ZonaPro-Light.woff2') format('woff2'),
	url('../fonts/ZonaPro-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZonaPro';
	src: url('../fonts/ZonaPro-Regular.woff2') format('woff2'),
	url('../fonts/ZonaPro-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZonaPro';
	src: url('../fonts/ZonaPro-SemiBold.woff2') format('woff2'),
	url('../fonts/ZonaPro-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'ZonaPro';
	src: url('../fonts/ZonaPro-Black.woff2') format('woff2'),
	url('../fonts/ZonaPro-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}