h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
	margin: 0;
	padding: 0;
}

h1,
.h1 {
	font-size: 48px;
	line-height: 150%;
	font-weight: 300;
	text-transform: uppercase;
}

.title {
	font-size: 20px;
	line-height: 150%;
	font-weight: 600;
	text-transform: uppercase;

	&--white {
		color: $white;
	}
}

body {
	font-family: $mainFont;
	line-height: 150%;
	color: $black;
}

*::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

a {
	color: $black;
}