h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
	margin: 0;
	padding: 0;
}

h1,
.h1 {
	font-size: 48px;
	line-height: 150%;
	font-weight: 300;

	@include max(lg) {
		font-size: 40px;
	}

	@include max(sm) {
		font-size: 20px;
	}

	&--uppercase {
		text-transform: uppercase;
	}
}

.block--text {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	width: 100%;
	flex-flow: column nowrap;
	margin-bottom: 56px;
	max-width: 754px;

	@include max(sm) {
		margin-bottom: 24px;
	}
}

.text-list {
	list-style-type: disc;
	padding-left: 15px;

	li {
		margin-bottom: 20px;
	}
}

.h3 {
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	margin-bottom: 32px;
	color: #4C4E4D;

	@include max(lg) {
		font-style: normal;
		font-weight: 400;
		font-size: 24px;
		line-height: 150%;
	}

	@include max(sm) {
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 150%;
	}
}

.text-15 {
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	line-height: 170%;

	@include max(lg) {
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 170%;
	}

	@include max(sm) {
		font-style: normal;
		font-weight: 400;
		font-size: 13px;
		line-height: 170%;
	}
}

.title {
	font-size: 20px;
	line-height: 150%;
	font-weight: 600;
	text-transform: uppercase;

	@include max(lg) {
		font-size: 18px;
	}

	@include max(sm) {
		font-size: 13px;
	}

	&--white {
		color: $white;
	}
}

body {
	font-family: $mainFont;
	line-height: 150%;
	color: $black;
}

*::-webkit-scrollbar {
	display: none;
}

* {
	box-sizing: border-box;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

a {
	color: $black;
}